Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

fixes
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
Due: mypy

adress fixes
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
Due: prettier, eslint, type-check

Temp commit
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
Due: mypy

Frontend fixes (#280)
  CHANGELOG.md
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/app/tools/page.tsx
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Nicer json hil (#257)
  CHANGELOG.md
  frontend/package-lock.json
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/lib/zod-schemas.ts
Due: prettier, eslint, type-check

fix colors and beter title
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
Due: mypy

temp commit
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/threads.py
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Add missing files
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/hooks/get-threads.ts
Due: prettier, eslint, type-check

remove error throws
  frontend/src/actions/create-thread.ts
  frontend/src/actions/delete-thread.ts
  frontend/src/actions/edit-thread.ts
  frontend/src/actions/generate-edit-thread.ts
  frontend/src/actions/get-suggestions.ts
  frontend/src/hooks/get-presigned.ts
  frontend/src/hooks/tools.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/storage.ts
Due: prettier, eslint, type-check

full screen plots in viuwer
  frontend/src/components/plots/multi-linechart.tsx
Due: prettier, eslint, type-check

Increase thresholds for semantic router
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

Add changelog
  CHANGELOG.md
Due: none

Increase thresholds for semantic router (#285)
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

Plot traces (#267)
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/plots/multi-linechart.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Prepare for release (#286)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

backend with bugs
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

first conv test
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Temp commit
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/hooks/fetch.ts
  frontend/src/hooks/get-threads.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

dour
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

working tool
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/scite_tool.py
Due: mypy

small fixes
  CHANGELOG.md
  backend/src/neuroagent/tools/scite_tool.py
Due: mypy

fix test
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
Due: none

Paginate threads and messages
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/delete-thread-dialog.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/hooks/fetch.ts
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/get-thread-page.ts
  frontend/src/lib/server-fetches.ts
Due: mypy, prettier, eslint, type-check

Fix tests
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_config.py
Due: none

Small fixes
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/hooks/fetch.ts
  frontend/src/hooks/get-thread-page.ts
  frontend/src/lib/server-fetches.ts
Due: mypy, prettier, eslint, type-check

Remove extra queryParam
  frontend/src/hooks/get-message-page.ts
Due: prettier, eslint, type-check

Don't refetch threads on window focus
  frontend/src/hooks/get-thread-page.ts
Due: prettier, eslint, type-check

Build newest cmake from source
  backend/Dockerfile
Due: none

Adjust the changelog
  CHANGELOG.md
Due: none

finish tests
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
Due: mypy

changelog
  CHANGELOG.md
Due: none

Introduce aliases in backend docker compose settings
  docker-compose.yml
Due: none

Add alias to minio service
  docker-compose.yml
Due: none

Remove redundant comment
  docker-compose.yml
Due: none

Fix sandbox issues (#291)
  CHANGELOG.md
  backend/Dockerfile
  docker-compose.yml
Due: none

first working tool
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/get_morpho_tool_old.py
Due: mypy

content out snippets
  backend/src/neuroagent/tools/scite_tool.py
Due: mypy

Improve message merging on refetch
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
