Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

switch to gpt-5-mini (#496)
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/tests/conftest.py
  backend/tests/mock_client.py
  backend/tests/test_agent_routine.py
  backend/uv.lock
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

PArtially working
  backend/pyproject.toml
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/collapsible-sidebar-json.tsx
  frontend/src/lib/obione.ts
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

small fixes
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/dataframe_query_tool.py
Due: mypy

Remove diff and auto apply all diffs all the time
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/collapsible-sidebar-json.tsx
  frontend/src/lib/store.ts
Due: prettier, eslint, type-check

Small refactor
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/collapsible-sidebar-json.tsx
  frontend/src/lib/store.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Update uv lock
  backend/uv.lock
Due: none

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Fix cyclic dependency
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
Due: mypy

Remove comments
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
Due: mypy

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Add copy config button
  frontend/src/components/chat/collapsible-sidebar-json.tsx
Due: prettier, eslint, type-check

Autogen types and apply them
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Autogen types and apply them
  frontend/src/lib/neuroagent_types.ts
Due: prettier, eslint, type-check

Fix typescript issues
  frontend/src/actions/get-suggestions.ts
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/get-thread-page.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Modify changelog
  CHANGELOG.md
Due: none

temp commit
  backend/src/neuroagent/tools/dataframe_query_tool.py
  backend/src/neuroagent/tools/entitycore_asset_downloadone.py
  backend/src/neuroagent/tools/entitycore_asset_getall.py
  backend/src/neuroagent/tools/entitycore_asset_getone.py
Due: mypy

State sharing backend
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/state.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

update auto-gen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

tool done
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
Due: mypy

all tools done
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitnodesets_getone.py
  backend/src/neuroagent/tools/obione_circuitpopulations_getone.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Frontend in progress
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/state.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/fetcher.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

changelog
  CHANGELOG.md
Due: none

auto-gen fix
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

fixes
  CHANGELOG.md
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

fix alembic
  backend/src/neuroagent/app/database/sql_schemas.py
Due: mypy

fix auto-gen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

fix alembic (#514)
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

fix CI
  backend/tests/tools/test_obione_ephysmetrics_getone.py
  backend/tests/tools/test_obione_morphometrics_getone.py
Due: none

working end to end tool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/circuit_population_analysis_tool.py
  backend/src/neuroagent/tools/dataframe_query_tool.py
Due: mypy

Add diff control
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/state.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/collapsible-sidebar-json.tsx
Due: mypy, prettier, eslint, type-check

Try to optimize sidebar
  backend/alembic/versions/76a8fcb519ad_state_sharing_table.py
  frontend/src/components/chat/collapsible-sidebar-json.tsx
Due: prettier, eslint, type-check

Add neuroagent types
  frontend/src/lib/neuroagent_types.ts
Due: prettier, eslint, type-check

Prompt engineer
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Small fixes
  backend/src/neuroagent/app/routers/state.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

tool POC working
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/circuit_population_analysis_tool.py
Due: mypy

small prompt changes
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/circuit_population_analysis_tool.py
Due: mypy

Small fixes
  backend/src/neuroagent/tools/context_analyzer_tool.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/src/components/chat/collapsible-sidebar-json.tsx
Due: mypy, prettier, eslint, type-check

Fix tests
  backend/tests/tools/test_context_analyzer_tool.py
Due: none

Switch to Semantic Search when available
  CHANGELOG.md
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
Due: mypy
