Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Make it work without openrouter key
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Openrouter (#362)
  CHANGELOG.md
  backend/.env.example
  backend/alembic/versions/52d7f4485020_add_model_column_to_messages.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/scripts/embed_hierarchies.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/utils.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/app/test_main.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
  frontend/src/app/page.tsx
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/model-selection.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/store.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Begin designing the reasoning component
  backend/src/neuroagent/agent_routine.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
Due: mypy, prettier, eslint, type-check

change fronten
  backend/src/neuroagent/new_types.py
  backend/tests/conftest.py
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

revert back to old description
  backend/src/neuroagent/app/dependencies.py
Due: mypy

prepare for new release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

change prompt and name_ilike desctiption
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
Due: mypy

small changes
  backend/src/neuroagent/new_types.py
Due: mypy

fix test
  backend/tests/test_agent_routine.py
Due: none

Continue with reasoning
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
Due: prettier, eslint, type-check

relove mention to tables
  backend/src/neuroagent/app/dependencies.py
Due: mypy

allow headers for frontend
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Add reasoning from backend
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

switch to `gpt-4.1-mini` and make it use markdown (#368)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/tests/conftest.py
  backend/tests/mock_client.py
  backend/tests/test_agent_routine.py
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

temp
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
Due: mypy, prettier, eslint, type-check

Run autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Add logic to be refined
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/tests/tools/test_obione_ephysmetrics_getone.py
  backend/tests/tools/test_obione_morphometrics_getone.py
Due: mypy

Nicer header formatting
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

Fix CI
  backend/tests/app/test_dependencies.py
  backend/tests/tools/test_obione_ephysmetrics_getone.py
Due: none

Use newer ruff locally
  backend/tests/app/test_dependencies.py
Due: none

Finish reasoning component
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/qa.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
Due: mypy, prettier, eslint, type-check

Provide a more realistic unit test
  backend/tests/tools/test_obione_ephysmetrics_getone.py
Due: none

Make sure it works
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/tests/tools/test_obione_ephysmetrics_getone.py
Due: mypy

Refactor a bit vercel messages endpoint
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Fix tests
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

Cleanup
  backend/src/neuroagent/app/routers/qa.py
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
Due: mypy, prettier, eslint, type-check

Change alembic downgrade id
  backend/alembic/versions/529e44b33a67_switch_to_uuid.py
Due: none

Reasoning (#378)
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Add rate limit endpoint
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/rate_limit.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/base_tool.py
  backend/tests/app/routers/test_rate_limit.py
  backend/tests/app/test_app_utils.py
Due: mypy

working prototype
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-message-human.tsx
  frontend/src/components/chat/chat-message-loading.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Small fixes
  backend/src/neuroagent/app/routers/rate_limit.py
Due: mypy

UI changes + fix test and linting
  frontend/src/__tests__/lib/utils.test.ts
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
Due: prettier, eslint, type-check

Changelog
  CHANGELOG.md
Due: none

fix test
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
Due: none

Switch to redis pipeline
  backend/src/neuroagent/app/routers/rate_limit.py
  backend/tests/app/routers/test_rate_limit.py
Due: mypy

Add rate limit endpoint (#381)
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/rate_limit.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/base_tool.py
  backend/tests/app/routers/test_rate_limit.py
  backend/tests/app/test_app_utils.py
Due: mypy

Fix tests
  backend/tests/app/routers/test_rate_limit.py
Due: none

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
