Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Switch to zod schema
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/lib/json-schema.ts
  frontend/src/lib/zod-schemas.ts
Due: prettier, eslint, type-check

changelog
  CHANGELOG.md
Due: none

remove console log
  frontend/src/hooks/get-presigned.ts
Due: prettier, eslint, type-check

new version
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

new version (#258)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

remove from docker-compose
  docker-compose.yml
Due: none

Display plots inside thread (#217)
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/generate_plot.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/piechart.tsx
  frontend/src/components/plots/scatterplot.tsx
  frontend/src/hooks/get-presigned.ts
  frontend/src/hooks/get-storage-object.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

add prettier config file
  frontend/.prettierrc
Due: none

add prettier config file (#260)
  frontend/.prettierrc
Due: none

Filter and sort
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
Due: mypy

Invert order
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
Due: mypy

restrict type edits
  frontend/src/components/chat/human-validation-dialog.tsx
Due: prettier, eslint, type-check

Add stop button in frontend
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

add toaster support
  frontend/src/components/chat/human-validation-dialog.tsx
Due: prettier, eslint, type-check

Partial commit
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/stream.py
  frontend/src/components/chat/chat-input-inside-thread.tsx
Due: mypy, prettier, eslint, type-check

Continue implementing the stop button
  backend/alembic/versions/08a638866869_partial_messages.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/utils.py
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Fix syncing issues and frontend display
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/utils.py
  backend/tests/test_utils.py
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
Due: mypy, prettier, eslint, type-check

Fix tests
  backend/tests/conftest.py
Due: none

sort on creation_date rather than order
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

backend working
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
Due: mypy

Filter and sort (#261)
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
Due: mypy

change LLM behaviour
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
Due: mypy

working FE with bugs
  CHANGELOG.md
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/multi-linechart.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

remove breakpoint
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
Due: mypy

fixes
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/plots/multi-linechart.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

fix
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Add basic guardrails
  backend/llm_fixed_responses.yml
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Fix tests
  CHANGELOG.md
  backend/llm_fixed_responses.yml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/tests/app/test_main.py
  backend/tests/conftest.py
Due: mypy

show multiple plots
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  frontend/src/components/plots/multi-linechart.tsx
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Pass entire message to LS input and let the LLM chose articles
  CHANGELOG.md
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy

Pin pydantic >= 2.11
  backend/pyproject.toml
Due: none

fix comments
  backend/src/neuroagent/agent_routine.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/tool-call-status.tsx
Due: mypy, prettier, eslint, type-check

Remove sqlite support
  .github/workflows/ci.yaml
  backend/README.md
  backend/alembic/env.py
  backend/alembic/versions/818a9ba86187_allow_empty_vlab_project.py
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/tests/conftest.py
Due: mypy

update changelog
  CHANGELOG.md
Due: none

Remove order column from the messages table
  CHANGELOG.md
  backend/alembic/env.py
  backend/alembic/versions/0ea274d7a584_remove_order_column.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: mypy

Stop streaming (#263)
  CHANGELOG.md
  backend/alembic/versions/08a638866869_partial_messages.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/utils.py
  backend/tests/conftest.py
  backend/tests/test_utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check
