Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Autogen
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Revert qa
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Rename shared state classes
  .github/workflows/autogen.yml
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/shared_state.py
  backend/src/neuroagent/tools/editstate.py
  backend/src/neuroagent/tools/getstate.py
  backend/src/neuroagent/tools/validatestate.py
  backend/tests/tools/test_state_tools.py
Due: mypy

Retry with exponential backoff
  CHANGELOG.md
  backend/.env.example
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/tests/app/test_app_utils.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Copy paste answers from scientists
  backend/eval/input/aging_vs_tbi_hippocampus/expected_output.md
  backend/eval/input/analyze_simulation_campaigns/expected_output.md
  backend/eval/input/astrocyte_capabilities/expected_output.md
  backend/eval/input/basal_forebrain_synaptic_data/expected_output.md
  backend/eval/input/brain_region_details/expected_output.md
  backend/eval/input/build_fly_brain/expected_output.md
  backend/eval/input/calcium_plateau_potentials_simulation/expected_output.md
  backend/eval/input/channelpedia_data/expected_output.md
  backend/eval/input/create_new_notebook/expected_output.md
  backend/eval/input/download_electrophysiology_data/expected_output.md
  backend/eval/input/download_neuron_vs_image/expected_output.md
  backend/eval/input/enable_functional_networks/expected_output.md
  backend/eval/input/entitysdk_library/expected_output.md
  backend/eval/input/experimental_vs_model_data/expected_output.md
  backend/eval/input/extracellular_stimulation_platform/expected_output.md
  backend/eval/input/first_time_user_undergraduate/expected_output.md
  backend/eval/input/gin_mtype_meaning/expected_output.md
  backend/eval/input/hippocampus_simulation_channels/expected_output.md
  backend/eval/input/how_does_it_work/expected_output.md
  backend/eval/input/m_vs_e_model_explanation/expected_output.md
  backend/eval/input/metabolism_model_reactions/expected_output.md
  backend/eval/input/mod_files_for_cell/expected_output.md
  backend/eval/input/patchseq_data_availability/expected_output.md
  backend/eval/input/plasticity_data/expected_output.md
  backend/eval/input/platform_assistant_capabilities/expected_output.md
  backend/eval/input/platform_number_notation/expected_output.md
  backend/eval/input/platform_purpose_applications/expected_output.md
  backend/eval/input/publication_display_criteria/expected_output.md
  backend/eval/input/read_downloaded_file/expected_output.md
  backend/eval/input/simulate_me_model_howto/expected_output.md
  backend/eval/input/simulate_simple_neuron/expected_output.md
  backend/eval/input/simulation_use_cases/expected_output.md
  backend/eval/input/snn_reinforcement_learning/expected_output.md
  backend/eval/input/submit_jobs_digital_brain/expected_output.md
  backend/eval/input/thalamic_electrophysiology_model/expected_output.md
  backend/eval/input/virtual_labs_navigation/expected_output.md
  backend/eval/input/visualization_species_mismatch/expected_output.md
Due: none

Modify one answer
  backend/eval/input/ca1_neuron_types_list/expected_output.md
Due: none

Add expected output and tool calls circuit connectivity metrics
  backend/eval/input/circuit_connectivity_metrics/expected_output.md
  backend/eval/input/circuit_connectivity_metrics/expected_tool_calls.json
Due: none

Hippocampus neuron count
  backend/eval/input/hippocampus_neuron_count/expected_output.md
  backend/eval/input/hippocampus_neuron_count/expected_tool_calls.json
Due: none

Species lookup
  backend/eval/input/mouse_dg_models/expected_output.md
  backend/eval/input/mouse_dg_models/expected_tool_calls.json
Due: none

More fixes
  backend/eval/input/mtypes_hippocampus/expected_output.md
  backend/eval/input/mtypes_hippocampus/expected_tool_calls.json
  backend/eval/input/psp_time_constant_pv_cells/expected_output.md
  backend/eval/input/psp_time_constant_pv_cells/expected_tool_calls.json
  backend/eval/input/pv_to_pv_ipsp_amplitude/expected_output.md
  backend/eval/input/pv_to_pv_ipsp_amplitude/expected_tool_calls.json
  backend/eval/input/sst_ipsp_amplitude/expected_output.md
  backend/eval/input/sst_ipsp_amplitude/expected_tool_calls.json
Due: none

Add final tool call
  backend/eval/input/cerebrum_neuron_morphology_models/expected_output.md
  backend/eval/input/cerebrum_neuron_morphology_models/expected_tool_calls.json
  backend/eval/input/subthalamic_nucleus_data/expected_output.md
  backend/eval/input/subthalamic_nucleus_data/expected_tool_calls.json
Due: none

Show time elapsed in the evaluate agent and allow to negate in the keywords
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

More changes
  backend/eval/input/beginner_seizure_simulation/expected_output.md
  backend/eval/input/brain_malformation_simulation/expected_output.md
  backend/eval/input/brain_structures_movement/expected_output.md
  backend/eval/input/create_notebook_project/expected_output.md
  backend/eval/input/human_striatal_neurons/expected_output.md
  backend/eval/input/multi_neuron_simulation/expected_output.md
  backend/eval/input/platform_overview_capabilities/expected_output.md
  backend/eval/input/run_simulation_file/expected_output.md
  backend/eval/input/run_through_page/expected_output.md
  backend/eval/input/setup_simulation_howto/expected_output.md
  backend/eval/input/synaptic_input_meaning/expected_output.md
  backend/eval/input/synaptome_neuron_types_human/expected_output.md
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add component + backend changes for token tracking
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
  backend/tests/conftest.py
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Some changes
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add a readme
  backend/eval/README.md
Due: none

Changes
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add evaluation UI
  backend/eval/ui/app.js
  backend/eval/ui/detail.html
  backend/eval/ui/index.html
  backend/eval/ui/styles.css
Due: prettier, eslint, type-check

WIP: summary
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Compression endpoint
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

Add benchmark results
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Autogen entitycore
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Autogen obione
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Fix ruff
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add compression button and implement compression logic
  backend/alembic/versions/e5caaf5a29f0_introduce_parent_thread_id.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/token-usage-indicator.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

WIP: Handle OpenAI errors
  backend/src/neuroagent/agent_routine.py
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Update configure-aws-credentials action to v5
  .github/workflows/ecr.yml
Due: none

Update configure-aws-credentials action to v5 (#727)
  .github/workflows/ecr.yml
Due: none

Tweak rules a bit
  backend/src/neuroagent/autogenerated_types/obione.py
  backend/src/neuroagent/rules/9_state-sharing.mdc
  backend/src/neuroagent/tools/validatestate.py
Due: mypy

Very small change
  .github/workflows/autogen.yml
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Retry with exponential backoff (#723)
  CHANGELOG.md
  backend/.env.example
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/app/test_app_utils.py
Due: mypy

Deepeval and prepare for release
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
Due: mypy

Change headers in obi one tools
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitnodesets_getone.py
  backend/src/neuroagent/tools/obione_circuitpopulations_getone.py
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/validatestate.py
Due: mypy

Autogen
  backend/src/neuroagent/autogenerated_types/obione.py
Due: mypy

Change headers in obi one tools (#728)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitnodesets_getone.py
  backend/src/neuroagent/tools/obione_circuitpopulations_getone.py
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/validatestate.py
Due: mypy
