Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Run uv lock
  backend/uv.lock
Due: none

Use in autogen (not for obi-one)
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/eval/input/sin_plot/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Update readme
  backend/src/neuroagent/README.md
Due: mypy

Add config env vars
  backend/.env.example
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/main.py
Due: mypy

Add 'token' in scrubbed terms
  backend/src/neuroagent/app/main.py
Due: mypy

New DB schema and first working Alembic migration (UP)
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
  backend/src/neuroagent/app/database/sql_schemas.py
Due: mypy

temp_commit
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
Due: none

Remove all mentions of tutorials
  backend/eval/input/simulation_tutorial/expected_output.md
  backend/eval/input/simulation_tutorial/expected_tool_calls.json
  backend/eval/input/simulation_tutorial/params.json
  backend/eval/input/simulation_tutorial/user.md
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
Due: mypy

Update deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

Keep constant spacing in changelog
  CHANGELOG.md
Due: none

temp_commit
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
  backend/src/neuroagent/app/database/sql_schemas.py
Due: mypy

suppress warnings in python tool
  CHANGELOG.md
  backend/eval/input/warning_test/expected_output.md
  backend/eval/input/warning_test/expected_tool_calls.json
  backend/eval/input/warning_test/params.json
  backend/eval/input/warning_test/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/executor.py
Due: mypy

almost working
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
  backend/src/neuroagent/app/database/sql_schemas.py
Due: mypy

fix script content
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
Due: none

Make all fields across all documents optiona
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
Due: mypy

Changelog and deepeval
  CHANGELOG.md
  backend/eval/input/simulation_tutorial/expected_output.md
  backend/eval/input/simulation_tutorial/expected_tool_calls.json
  backend/eval/input/simulation_tutorial/params.json
  backend/eval/input/simulation_tutorial/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix weird tool arangements
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
Due: none

Encourage the LLM to use the query param more
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Mention that images are displayed above not below
  backend/eval/input/plotting/expected_output.md
  backend/src/neuroagent/rules/2_ai-message-formatting.mdc
Due: mypy

suppress warnings in python tool (#637)
  CHANGELOG.md
  backend/eval/input/warning_test/expected_output.md
  backend/eval/input/warning_test/expected_tool_calls.json
  backend/eval/input/warning_test/params.json
  backend/eval/input/warning_test/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/executor.py
Due: mypy

Improve description and add a glossary test
  backend/eval/input/me_model_glossary/expected_output.md
  backend/eval/input/me_model_glossary/expected_tool_calls.json
  backend/eval/input/me_model_glossary/params.json
  backend/eval/input/me_model_glossary/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Optimize prompt and make the agent more transparent during its workflow (#626)
  CHANGELOG.md
  backend/eval/input/plotting/expected_output.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/1_task-planning.mdc
  backend/src/neuroagent/rules/2_ai-message-formatting.mdc
  backend/src/neuroagent/rules/3_circuit-tools.mdc
  backend/src/neuroagent/rules/4_entitycore-tools.mdc
  backend/src/neuroagent/rules/5_platform-overview.mdc
  backend/src/neuroagent/rules/6_restrictions.mdc
  backend/src/neuroagent/rules/7_tool-calling.mdc
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/circuit-tools.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/tests/app/test_dependencies.py
Due: mypy

Add a rule
  backend/eval/input/me_model_glossary/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/5_platform-overview.mdc
Due: mypy

Make all fields nullable in obi-expert (#635)
  CHANGELOG.md
  backend/eval/input/me_model_glossary/expected_output.md
  backend/eval/input/me_model_glossary/expected_tool_calls.json
  backend/eval/input/me_model_glossary/params.json
  backend/eval/input/me_model_glossary/user.md
  backend/eval/input/simulation_tutorial/expected_output.md
  backend/eval/input/simulation_tutorial/expected_tool_calls.json
  backend/eval/input/simulation_tutorial/params.json
  backend/eval/input/simulation_tutorial/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/5_platform-overview.mdc
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
Due: mypy

Initial stuff
  backend/.env.tasks.example
  backend/Dockerfile
  backend/Dockerfile.app
  backend/Dockerfile.tasks
  backend/docker-entrypoint.sh
  backend/pyproject.toml
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/tasks/__init__.py
  backend/src/neuroagent/tasks/config.py
  backend/src/neuroagent/tasks/dummy_task.py
  backend/src/neuroagent/tasks/main.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/submit_dummy_task.py
  backend/uv.lock
  docker-compose.yml
Due: mypy

change ToolCalls to dict and fix loading messages 1
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

Simplify big time
  backend/src/neuroagent/tools/submit_dummy_task.py
  backend/src/neuroagent/utils.py
Due: mypy

Make sure docker compose has env vars
  backend/src/neuroagent/tasks/dummy_task.py
  docker-compose.yml
Due: mypy

Release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Release (#646)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Reorganize imports even more
  backend/pyproject.toml
  backend/src/neuroagent/tasks/dummy_task.py
  backend/uv.lock
Due: mypy

Get rid of db related stuff in celery
  backend/.env.tasks.example
  backend/src/neuroagent/tasks/config.py
Due: mypy

Use official uv installation script in dockerfiles
  backend/Dockerfile.app
  backend/Dockerfile.tasks
Due: none

fix load messages
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

fix output of tools
  backend/src/neuroagent/app/app_utils.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
