Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

search fix
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Disable prefetching of threads in the sidebar and search
  frontend/src/components/sidebar/search-popover.tsx
  frontend/src/components/sidebar/thread-card-sidebar.tsx
Due: prettier, eslint, type-check

More changes to the in chat suggestions
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Adapt first suggestions
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

Add UI element for suggestions
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

Update nextjs (#651)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/create-thread.ts
  frontend/src/actions/delete-thread.ts
  frontend/src/actions/edit-thread.ts
  frontend/src/actions/generate-edit-thread.ts
  frontend/src/actions/save-settings.ts
  frontend/src/components/sidebar/search-popover.tsx
  frontend/src/components/sidebar/thread-card-sidebar.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: mypy, prettier, eslint, type-check

Frontend
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/read_paper.py
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-suggestions-button.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/lib/cookies-server.ts
Due: mypy, prettier, eslint, type-check

fix tool selection
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/model-selection.tsx
Due: prettier, eslint, type-check

is_complete change in migration script
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
Due: none

Add BR resolving
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Fix CI
  CHANGELOG.md
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/conftest.py
Due: mypy

Cleanup
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
Due: mypy, prettier, eslint, type-check

Modify prompt
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Small prompt update
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Small prompt
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

input outside thread
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/suggestion-cycler.tsx
  frontend/src/components/chat/suggestion-dots.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
Due: prettier, eslint, type-check

working in chat, bugs probably
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/chat-suggestions-button.tsx
Due: prettier, eslint, type-check

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

typo
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

super small import fix
  frontend/src/components/chat/chat-message-tool.tsx
Due: prettier, eslint, type-check

Pull only relevant messages from DB
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Remove asset_id from thumbnail description
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

More suggestions (#652)
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/read_paper.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/conftest.py
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/chat-suggestions-button.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/lib/cookies-server.ts
Due: mypy, prettier, eslint, type-check

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Prepare for release (#654)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Use gpt-5-nano as suggestion/title model (#647)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

.env -> .env.app
  README.md
  backend/.env.app.example
  backend/README.md
  backend/alembic/env.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/scripts/neuroagent_api.py
  backend/tests/conftest.py
  docker-compose.yml
Due: mypy

Fix autogen and other issues caused by a merge with main
  backend/pyproject.toml
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/uv.lock
Due: mypy

Move agent routine into app/
  backend/src/neuroagent/app/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/tools.py
  backend/tests/app/test_agent_routine.py
Due: mypy

Go back to using port 8078 in everything related to docker
  README.md
  backend/Dockerfile.app
  docker-compose.yml
Due: none

Use from_url
  backend/src/neuroagent/app/main.py
Due: mypy

Use from_url also in the tasks
  backend/src/neuroagent/tasks/main.py
Due: mypy

Remove unused global bucket_name
  backend/src/neuroagent/tasks/main.py
Due: mypy

Remove context manager from WASM
  backend/src/neuroagent/tasks/main.py
  backend/src/neuroagent/tasks/utils.py
  backend/tests/tasks/test_utils.py
Due: mypy

Use uuids in task schema inputs
  backend/src/neuroagent/task_schemas.py
  backend/src/neuroagent/tasks/run_python_task.py
  backend/src/neuroagent/tools/run_python_tool.py
Due: mypy
