Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Add a new false positive
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

Add few shot examples to tool description
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Add regex validator - query must be a single word
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Try to make the LLM plot through python + plot generator
  CHANGELOG.md
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/entitycore_memodel_getone.py
  backend/src/neuroagent/tools/generate_plot.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Try to make the LLM plot through python + plot generator (#460)
  CHANGELOG.md
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_memodel_getone.py
  backend/src/neuroagent/tools/generate_plot.py
Due: mypy

Deduplicate tool selection on our side
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Use the fact that flatten_portable_text handles None
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Raise an error if not a string
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

EC autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Include Sanity data (#445)
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/fixed_llm_responses.yml
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
Due: mypy

Deduplicate tool selection on our side (#462)
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Add utterance structure
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/generate_plot.py
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Add comment
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Conditionally display the component
  frontend/src/app/tools/[toolName]/page.tsx
Due: prettier, eslint, type-check

autogen update
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Add utterance structure (#463)
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/tests/app/routers/test_tools.py
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Remove semantic router
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/fixed_llm_responses.yml
  backend/uv.lock
Due: mypy

Remove yml from package
  backend/pyproject.toml
Due: none

First batch
  backend/src/neuroagent/tools/entitycore_asset_downloadone.py
  backend/src/neuroagent/tools/entitycore_asset_getall.py
  backend/src/neuroagent/tools/entitycore_asset_getone.py
  backend/src/neuroagent/tools/entitycore_brainatlas_getall.py
  backend/src/neuroagent/tools/entitycore_brainatlas_getone.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_brainregion_getone.py
  backend/src/neuroagent/tools/entitycore_brainregionhierarchy_getall.py
  backend/src/neuroagent/tools/entitycore_brainregionhierarchy_getone.py
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Add more
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getone.py
  backend/src/neuroagent/tools/entitycore_contribution_getall.py
  backend/src/neuroagent/tools/entitycore_contribution_getone.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getone.py
  backend/src/neuroagent/tools/entitycore_etype_getall.py
  backend/src/neuroagent/tools/entitycore_etype_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getone.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getone.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getone.py
  backend/src/neuroagent/tools/entitycore_mtype_getall.py
  backend/src/neuroagent/tools/entitycore_mtype_getone.py
Due: mypy

More more more
  backend/src/neuroagent/tools/entitycore_organization_getall.py
  backend/src/neuroagent/tools/entitycore_organization_getone.py
  backend/src/neuroagent/tools/entitycore_person_getall.py
  backend/src/neuroagent/tools/entitycore_person_getone.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getone.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getone.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getone.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getone.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getone.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
  backend/src/neuroagent/tools/entitycore_species_getone.py
  backend/src/neuroagent/tools/entitycore_strain_getall.py
  backend/src/neuroagent/tools/entitycore_strain_getone.py
  backend/src/neuroagent/tools/entitycore_subject_getall.py
  backend/src/neuroagent/tools/entitycore_subject_getone.py
Due: mypy

Finalize
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/now.py
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  backend/src/neuroagent/tools/weather.py
Due: mypy

Update Changelog
  CHANGELOG.md
Due: none

Add failure case
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

Don't put examples in the description
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Remove semantic router (#465)
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/fixed_llm_responses.yml
  backend/uv.lock
Due: mypy

Fix sorting
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/entitycore_asset_getall.py
  backend/src/neuroagent/tools/now.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  backend/src/neuroagent/tools/weather.py
Due: mypy

Revert obione autogen to extra=ignore
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

autogen update 2
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix CI
  .github/workflows/autogen.yml
Due: none

Revert obione autogen to extra=ignore (#469)
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Context analyzer tool (#433)
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/platform_description.json
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/context_analyzer_tool.py
  backend/tests/tools/test_context_analyzer_tool.py
  frontend/src/actions/save-settings.ts
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/parameter-form.tsx
Due: mypy, prettier, eslint, type-check

first working POC backend
  backend/alembic/versions/cd5a73ea91db_add_ts_vector.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

Introduce Deepeval evaluation
  CHANGELOG.md
  backend/.gitignore
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
  backend/pyproject.toml
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/obi_expert.py
  backend/uv.lock
Due: mypy

Small fixes
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Update uv.lock
  backend/uv.lock
Due: none

Fix CI
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy
