Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Fix one test
  backend/tests/tools/test_get_morpho_tool.py
Due: none

fix test
  backend/tests/tools/test_get_morpho_tool.py
Due: none

Get latest entitycore types (#326)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/models.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/schemas.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/tests/tools/test_get_morpho_tool.py
Due: mypy

fix backend when tools are stopped (added dummy AI_messages)
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

small fix in backend for completion
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Don't dump defaults for auto-generated classes
  CHANGELOG.md
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/tools/test_literature_search_tool.py
  backend/tests/tools/test_resolve_mtype_tool.py
Due: mypy

stopping is now working
  backend/src/neuroagent/app/routers/threads.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Remove usage of user journey in suggestion after first message. (#325)
  CHANGELOG.md
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
Due: mypy

Don't dump defaults for auto-generated classes (#328)
  CHANGELOG.md
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/tools/test_literature_search_tool.py
  backend/tests/tools/test_resolve_mtype_tool.py
Due: mypy

Small fixes
  frontend/src/components/sidebar/thread-list-client.tsx
Due: prettier, eslint, type-check

Do not include MCP tools in custom openapi json + customize frontend name
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.py
Due: mypy

Paginate (#290)
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/delete-thread-dialog.tsx
  frontend/src/components/sidebar/edit-thread-dialog.tsx
  frontend/src/components/sidebar/sidebar.tsx
  frontend/src/components/sidebar/thread-card-sidebar.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/hooks/fetch.ts
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/get-thread-page.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Use Annotated
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Remove redundant line
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Remove redunant conflict
  backend/src/neuroagent/mcp.py
Due: mypy

Change user's journey schema
  CHANGELOG.md
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Small prompt fix
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Small fix
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
Due: mypy

Centralize bearer token in dependency (#317)
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/resolving.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/electrophys_tool.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/kg_morpho_features_tool.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
  backend/src/neuroagent/tools/morphology_viewer.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/src/neuroagent/tools/traces_tool.py
  backend/src/neuroagent/utils.py
  backend/tests/app/test_dependencies.py
  backend/tests/conftest.py
  backend/tests/test_resolving.py
  backend/tests/tools/test_morphology_viewer.py
Due: mypy

Put MCP in the dynamic class name
  backend/src/neuroagent/mcp.py
Due: mypy

Better syntax to debug mypy error
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Random attempt to fix the ci
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Fix cheeky test
  backend/tests/app/test_main.py
Due: none

Better description
  backend/src/neuroagent/mcp.py
Due: mypy

Rename GetMorphoTool -> MorphologyGetAllTool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
  backend/tests/tools/test_entitycore_morphology_getall.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Change frontend name
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
Due: mypy

Change user's journey schema (#332)
  CHANGELOG.md
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Get one morphology
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
Due: mypy

Don't have assets in the get many
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
Due: mypy

Make backend an MCP client (#311)
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/base_tool.py
  backend/tests/app/test_main.py
Due: mypy

Fix ruff
  backend/tests/tools/test_entitycore_morphology_getall.py
Due: none

Add forgotten file
  backend/src/neuroagent/tools/entitycore_morphology_getone.py
Due: mypy

Get all etypes
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_etype_getall.py
Due: mypy

Etype get one
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_etype_getone.py
Due: mypy

More ci details
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/entitycore_etype_getone.py
Due: mypy

Revert to previous autogen tool to fetch descriptions of parameters
  CHANGELOG.md
  backend/src/neuroagent/README.md
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/models.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/models.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/literature.py
  backend/src/neuroagent/tools/autogenerated_types/literature/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/literature/models.py
  backend/src/neuroagent/tools/autogenerated_types/literature/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/obione/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obione/models.py
  backend/src/neuroagent/tools/autogenerated_types/obione/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/templates/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/templates/schemas.jinja2
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/tools/test_get_morpho_tool.py
  backend/tests/tools/test_morpho_metrics_tool.py
Due: mypy

Remove json schema skipping removal in agents_routine
  backend/src/neuroagent/agent_routine.py
Due: mypy

Get one and get all emodels
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getone.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
