Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Finally working
  backend/src/neuroagent/app/routers/qa.py
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
  frontend/src/components/layout/theme-changer.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

small fix
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
Due: prettier, eslint, type-check

Update changelog
  CHANGELOG.md
Due: none

fix xomments
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
Due: mypy, prettier, eslint, type-check

remove debugger
  frontend/src/components/chat/chat-input.tsx
Due: prettier, eslint, type-check

Fix env var name
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/semantic_scholar.py
Due: mypy

Web search (#182)
  .pre-commit-config.yaml
  CHANGELOG.md
  backend/.env.example
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/semantic_scholar.py
  backend/src/neuroagent/tools/web_search.py
  backend/tests/app/routers/test_tools.py
Due: mypy

Enable threads outside of vlabs (#187)
  CHANGELOG.md
  backend/alembic/env.py
  backend/alembic/versions/818a9ba86187_allow_empty_vlab_project.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  frontend/src/actions/create-thread.ts
  frontend/src/actions/save-settings.ts
  frontend/src/app/page.tsx
  frontend/src/components/parameter-form.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/lib/cookies-client.ts
  frontend/src/lib/cookies-server.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

fix changes
  backend/.env.example
  backend/src/neuroagent/app/routers/qa.py
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
Due: mypy, prettier, eslint, type-check

final UI change
  backend/src/neuroagent/app/config.py
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
Due: mypy, prettier, eslint, type-check

final changes
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
Due: prettier, eslint, type-check

Add suggestion endpoint (#184)
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/get-suggestions.ts
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
  frontend/src/components/layout/theme-changer.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

add init
  backend/src/neuroagent/tools/autogenerated_types/__init__.py
Due: mypy

add init (#189)
  backend/src/neuroagent/tools/autogenerated_types/__init__.py
Due: mypy

UI fix
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
Due: prettier, eslint, type-check

Changelog
  CHANGELOG.md
Due: none

fix edit title
  CHANGELOG.md
  frontend/src/actions/generate-edit-thread.ts
  frontend/src/components/sidebar/edit-thread-dialog.tsx
Due: prettier, eslint, type-check

add structured output to title generation
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

fix tests
  backend/tests/app/routers/test_threads.py
  backend/tests/mock_client.py
Due: none

fix not error pages and add not-found pages
  frontend/src/app/threads/[threadId]/not-found.tsx
  frontend/src/app/tools/[toolName]/not-found.tsx
  frontend/src/lib/fetcher.ts
Due: prettier, eslint, type-check

Prepare backend for multi-agent
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/base_types.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/electrophys_tool.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/generate_random_plot.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/handoffs.py
  backend/src/neuroagent/tools/kg_morpho_features_tool.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morphology_features_tool.py
  backend/src/neuroagent/tools/morphology_viewer.py
  backend/src/neuroagent/tools/now.py
  backend/src/neuroagent/tools/resolve_entities_tool.py
  backend/src/neuroagent/tools/semantic_scholar.py
  backend/src/neuroagent/tools/traces_tool.py
  backend/src/neuroagent/tools/weather.py
  backend/src/neuroagent/tools/web_search.py
  backend/tests/conftest.py
Due: mypy

add testArea to allow multi lines
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-input.tsx
Due: prettier, eslint, type-check

Fix tests
  backend/src/neuroagent/base_types.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_dependencies.py
  backend/tests/conftest.py
Due: mypy

add shift + enter
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input.tsx
Due: prettier, eslint, type-check

fix loading skeleton
  frontend/src/components/chat/chat-input-loading.tsx
Due: prettier, eslint, type-check

fix very long markdown tables
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-message-tool.tsx
Due: prettier, eslint, type-check

fix test
  frontend/src/__tests__/lib/fetcher.test.ts
Due: prettier, eslint, type-check

Update dependencies
  backend/pyproject.toml
Due: none

Disable accounting in docker compose
  docker-compose.yml
Due: none

Add accounting variables to settings
  backend/src/neuroagent/app/config.py
  docker-compose.yml
Due: mypy

Suggestion UI fix (#193)
  CHANGELOG.md
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
Due: prettier, eslint, type-check

Fix issues and introduce error handlers
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/main.py
Due: mypy

better table rendering
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/tailwind.config.ts
Due: prettier, eslint, type-check

Optionally return to single agent
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Define a custom dependency that extracts the factory
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Somehow implement suggestion
  backend/pyproject.toml
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/utils.py
Due: mypy

Integrate with generate title
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
