Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

reorder alembic scripts
  backend/alembic/versions/0ea274d7a584_remove_order_column.py
Due: none

Add fixed response file
  backend/fixed_llm_responses.yml
Due: none

Include fixed response yaml inside of the package
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/fixed_llm_responses.yml
  backend/tests/app/test_main.py
  backend/tests/conftest.py
Due: mypy

fix pyproject
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Fix relative path file opening
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Remove sqlite support (#270)
  .github/workflows/ci.yaml
  CHANGELOG.md
  backend/README.md
  backend/alembic/env.py
  backend/alembic/versions/08a638866869_partial_messages.py
  backend/alembic/versions/818a9ba86187_allow_empty_vlab_project.py
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/tests/conftest.py
Due: mypy

Add basic guardrails (#268)
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

remove eye when there is multiple plots
  frontend/src/components/chat/tool-call-collapsible.tsx
Due: prettier, eslint, type-check

Populate order column in downgrade
  backend/alembic/versions/0ea274d7a584_remove_order_column.py
Due: none

Remove order in semantic router path
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Remove order column from the messages table (#271)
  CHANGELOG.md
  backend/alembic/versions/0ea274d7a584_remove_order_column.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: mypy

Fix downgrade script
  backend/alembic/versions/0ea274d7a584_remove_order_column.py
Due: none

Fix downgrade script
  CHANGELOG.md
Due: none

Fix migration (#274)
  CHANGELOG.md
  backend/alembic/versions/0ea274d7a584_remove_order_column.py
Due: none

fix comments
  frontend/src/components/chat/human-validation-dialog.tsx
Due: prettier, eslint, type-check

Fix groups being empty from keycloak
  CHANGELOG.md
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/test_app_utils.py
Due: mypy

Bump up versions
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Fix groups being empty from keycloak (#276)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/test_app_utils.py
Due: mypy

fix LS litterature + small bug in guardrail
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Changelog
  CHANGELOG.md
Due: none

Update fixed_llm_responses.yml
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

change all imports to absolute
  frontend/src/app/layout.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Update changelog
  CHANGELOG.md
Due: none

add title metadat
  CHANGELOG.md
  frontend/src/app/page.tsx
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/app/tools/page.tsx
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/lib/server-fetches.ts
Due: prettier, eslint, type-check

move all fetches to /lib/server-fetches.ts
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/app/tools/page.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

forgot to move getThreds
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/lib/server-fetches.ts
Due: prettier, eslint, type-check

tools not available do not crash the FE anymore
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
Due: prettier, eslint, type-check

Update fixed_llm_responses.yml (#279)
  CHANGELOG.md
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

first try to refactor fetcher
  frontend/src/__tests__/lib/fetcher.test.ts
  frontend/src/actions/create-thread.ts
  frontend/src/actions/delete-thread.ts
  frontend/src/actions/edit-thread.ts
  frontend/src/actions/generate-edit-thread.ts
  frontend/src/actions/get-suggestions.ts
  frontend/src/hooks/fetch.ts
  frontend/src/hooks/get-presigned.ts
  frontend/src/hooks/tools.ts
  frontend/src/lib/fetcher.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/storage.ts
Due: prettier, eslint, type-check

Partial commit
  backend/.env.example
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Fine tune LS
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Fix tests
  backend/tests/tools/test_literature_search_tool.py
Due: none

Small fix
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Add LLM call inside LS tool
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/mock_client.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy

Reduce max articles
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Try to mitigate the stop iteration error
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy

Add try except block
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

temp
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

fix LS litterature + small bug in guardrail (#277)
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Pass entire message to LS input and let the LLM chose articles (#269)
  CHANGELOG.md
  backend/.env.example
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/mock_client.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
