Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Small stuff
  CHANGELOG.md
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
Due: mypy

Fix tests
  backend/tests/app/test_dependencies.py
Due: none

Whitelist tools
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Default to no tool
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Fix tests
  backend/tests/app/routers/test_tools.py
Due: none

Switch to single regex
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Remove comment
  backend/.env.example
Due: none

Small prompt engineering stuff (#353)
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  backend/tests/app/test_dependencies.py
Due: mypy

Whitelist tools 2 (#354)
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/routers/test_tools.py
Due: mypy

Update use chat (#318)
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/lib/utils.test.ts
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-message-loading.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/tools.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Prepare for release (#355)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Fix swagger issue
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/main.py
Due: mypy

Fix tests
  backend/tests/app/test_main.py
Due: none

Fix swagger issue (#356)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/main.py
  backend/tests/app/test_main.py
Due: mypy

small fixes
  backend/src/neuroagent/scripts/embed_m-types.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
Due: mypy

Switch the CI to using UV
  .github/workflows/ci.yaml
Due: none

fix test
  CHANGELOG.md
  backend/tests/conftest.py
  backend/tests/tools/test_resolve_mtype_tool.py
Due: none

Add uv.lock
  .github/workflows/ci.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

test
  .github/workflows/ci.yaml
  backend/uv.lock
Due: none

Remove extra sync
  .github/workflows/ci.yaml
Due: none

uv run alembic
  .github/workflows/ci.yaml
Due: none

test
  .github/workflows/ci.yaml
Due: none

add test for the script
  backend/src/neuroagent/scripts/embed_mtypes.py
Due: mypy

add test
  backend/tests/scripts/test_embed_mtypes.py
Due: none

Test to split mypy and unit tests
  .github/workflows/ci.yaml
Due: none

Try to resolve uv.lock correctly for cache
  .github/workflows/ci.yaml
Due: none

Add correct path to mypy
  .github/workflows/ci.yaml
Due: none

update readme
  README.md
Due: none

(partial) Adapt to openrouter
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/new_types.py
  backend/tests/app/test_config.py
  backend/tests/conftest.py
  frontend/src/app/page.tsx
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/model-selection.tsx
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/store.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Continue
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/utils.py
  frontend/src/lib/server-fetches.ts
Due: mypy, prettier, eslint, type-check

fix small mistake
  README.md
Due: none

Setup DB changes
  CHANGELOG.md
  backend/alembic/versions/4831c86825d4_tool_call_unique_id.py
  backend/src/neuroagent/app/database/sql_schemas.py
Due: mypy

migrate me-models endpoints to entitycore
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getone.py
Due: mypy

Migrate code to unique tc id
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/utils.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_app_utils.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: mypy
