Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Get rid of the async run_code
  backend/src/neuroagent/tasks/utils.py
  backend/tests/tasks/test_utils.py
Due: mypy

Remove unused noqa
  backend/pyproject.toml
  backend/src/neuroagent/tasks/README.md
  backend/src/neuroagent/tasks/__init__.py
Due: mypy

fix small backend comments
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/utils.py
Due: mypy

small fix before merging main
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/mcp.json
Due: mypy

autogen fix
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

update datagen package
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Get rid of neuroagent-api console script nobody uses
  backend/Dockerfile.app
  backend/README.md
  backend/pyproject.toml
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/scripts/neuroagent_api.py
Due: mypy

Share certain settings and fix mcp server context7
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/config.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tasks/config.py
Due: mypy

Add first doc draft
  backend/docs/neuroagent-capabilities.md
Due: none

Move docs up
  docs/neuroagent-capabilities.md
Due: none

Add random tools
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/calculator.py
  backend/src/neuroagent/tools/random_number.py
  backend/src/neuroagent/tools/text_reverser.py
Due: mypy

fix frontend token issue
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

Add deepdocs.yaml
  deepdocs.yml
Due: none

Fix deepdocs.yml and move down docs
  backend/docs/neuroagent-capabilities.md
  deepdocs.yml
Due: none

Change tools
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/text_reverser.py
  backend/src/neuroagent/tools/timestamp.py
Due: mypy

Update deepdocs.yml
  deepdocs.yml
Due: none

Force rescan
  deepdocs.yml
Due: none

fix send when HIL
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Try with target keyword
  deepdocs.yml
Due: none

Move docs up and rescan
  deepdocs.yml
  docs/neuroagent-capabilities.md
Due: none

Small change
  deepdocs.yml
Due: none

Test without include
  deepdocs.yml
Due: none

More tests
  deepdocs.yml
Due: none

fixed bug
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
  frontend/package-lock.json
Due: mypy

run autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

pprepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Context7 mcp name fix (#658)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  frontend/package-lock.json
Due: mypy

Remove doc
  docs/neuroagent-capabilities.md
Due: none

Add docs
  docs/custom.md
Due: none

New tools
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/password_generator.py
  backend/src/neuroagent/tools/uuid_generator.py
Due: mypy

new tools
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/color_generator.py
  backend/src/neuroagent/tools/dice_roller.py
  backend/src/neuroagent/tools/password_generator.py
  backend/src/neuroagent/tools/uuid_generator.py
Due: mypy

small frontend fixes and fix the downgrade script
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
  backend/src/neuroagent/app/app_utils.py
  frontend/src/components/chat/chat-input-loading.tsx
Due: mypy, prettier, eslint, type-check

fix CI
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/tests/app/test_app_utils.py
Due: mypy

fix small comments
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
Due: mypy

Autogen again
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Update backend/src/neuroagent/config.py
  backend/src/neuroagent/config.py
Due: mypy

optimize messages / parts loading
  backend/src/neuroagent/app/dependencies.py
Due: mypy
