Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

remove useless div in sidebar
  frontend/src/components/sidebar/sidebar.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/components/sidebar/thread-list.tsx
Due: prettier, eslint, type-check

Initial cookiecutter
  poc/mcp/entitycore/.gitignore
  poc/mcp/entitycore/README.md
  poc/mcp/entitycore/index.ts
  poc/mcp/entitycore/package-lock.json
  poc/mcp/entitycore/package.json
  poc/mcp/entitycore/tsconfig.json
Due: prettier, eslint, type-check

Setup prettier and eslint
  poc/mcp/entitycore/.gitignore
  poc/mcp/entitycore/.prettierrc.json
  poc/mcp/entitycore/eslint.config.js
  poc/mcp/entitycore/index.ts
  poc/mcp/entitycore/package-lock.json
  poc/mcp/entitycore/package.json
  poc/mcp/entitycore/tsconfig.json
Due: prettier, eslint, type-check

Change metadata
  poc/mcp/entitycore/package.json
Due: none

Fix setup based on official mcp docs
  poc/mcp/entitycore/.gitignore
  poc/mcp/entitycore/README.md
  poc/mcp/entitycore/package-lock.json
  poc/mcp/entitycore/package.json
  poc/mcp/entitycore/src/index.ts
  poc/mcp/entitycore/tsconfig.json
Due: prettier, eslint, type-check

Add autogenerated types
  poc/mcp/entitycore/README.md
  poc/mcp/entitycore/package-lock.json
  poc/mcp/entitycore/package.json
  poc/mcp/entitycore/src/types.d.ts
Due: prettier, eslint, type-check

Broke everything seems like
  poc/mcp/entitycore/package.json
  poc/mcp/entitycore/src/checkTypes.ts
  poc/mcp/entitycore/src/index.ts
  poc/mcp/entitycore/src/zodSchemas.ts
  poc/mcp/entitycore/tsconfig.json
Due: prettier, eslint, type-check

Fix glaring typo
  poc/mcp/entitycore/src/index.ts
Due: prettier, eslint, type-check

Run prettier
  poc/mcp/entitycore/src/checkTypes.ts
  poc/mcp/entitycore/src/index.ts
  poc/mcp/entitycore/src/types.d.ts
  poc/mcp/entitycore/src/zodSchemas.ts
Due: prettier, eslint, type-check

Use actual logger to see what is happening on the server
  poc/mcp/entitycore/package-lock.json
  poc/mcp/entitycore/package.json
  poc/mcp/entitycore/src/index.ts
Due: prettier, eslint, type-check

Finalize (and document all the issues)
  poc/mcp/entitycore/README.md
  poc/mcp/entitycore/src/index.ts
  poc/mcp/entitycore/src/zodSchemas.ts
  poc/mcp/entitycore/tsconfig.json
Due: prettier, eslint, type-check

switch to sentinel for thread list
  frontend/src/components/sidebar/thread-list-client.tsx
Due: prettier, eslint, type-check

Get rid of all the autogen stuff
  poc/mcp/entitycore/README.md
  poc/mcp/entitycore/src/checkTypes.ts
  poc/mcp/entitycore/src/types.d.ts
  poc/mcp/entitycore/tsconfig.json
Due: prettier, eslint, type-check

sentinel for messages, needs cleaning / bugfix still
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Big refactor
  poc/mcp/entitycore/src/env.ts
  poc/mcp/entitycore/src/helper.ts
  poc/mcp/entitycore/src/index.ts
Due: prettier, eslint, type-check

New and better logic
  poc/mcp/entitycore/src/env.ts
  poc/mcp/entitycore/src/helper.ts
  poc/mcp/entitycore/src/index.ts
  poc/mcp/entitycore/src/zodSchemas.ts
Due: prettier, eslint, type-check

Get one brain region
  poc/mcp/entitycore/src/index.ts
  poc/mcp/entitycore/src/zodSchemas.ts
Due: prettier, eslint, type-check

Finaly fixed scrolling in messages, need to clean up code
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

Integrate morpho metrics with obi one (#299)
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obi_one.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/kg_morpho_features_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
  backend/src/neuroagent/tools/morphology_features_tool.py
  backend/tests/app/test_dependencies.py
  backend/tests/tools/test_morpho_metrics_tool.py
  backend/tests/tools/test_morphology_features_tool.py
Due: mypy

clean up code in chat-page
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Split into three tools
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/resolve_entities_tool.py
  backend/src/neuroagent/tools/resolve_etypes_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
Due: mypy

fix names of tools and init (and dependencies)
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
Due: mypy

fix test
  backend/tests/tools/test_resolve_brain_region_tool.py
Due: none

add tests for other tools
  backend/tests/tools/test_resolve_brain_region_tool.py
  backend/tests/tools/test_resolve_etype_tool.py
  backend/tests/tools/test_resolve_mtype_tool.py
Due: none

Add autogeneration of input types
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/README.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore/models.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/templates/schemas.jinja2
Due: mypy

Add autogeneration of input types
  backend/src/neuroagent/tools/autogenerated_types/entitycore/models.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/schemas.py
Due: mypy

Merge main
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/kg_morpho_features_tool.py
  backend/src/neuroagent/tools/morphology_features_tool.py
  backend/tests/app/test_dependencies.py
  backend/tests/tools/test_morphology_features_tool.py
Due: mypy

Add isonline variables and re-order context variables
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
Due: mypy

Continue merging main
  backend/src/neuroagent/tools/autogenerated_types/obi_one.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
Due: mypy

Continue merging main
  backend/tests/tools/test_morpho_metrics_tool.py
Due: none

Autogen input output (#308)
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/README.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore/models.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/templates/schemas.jinja2
Due: mypy

fix bugs
  backend/src/neuroagent/tools/electrophys_tool.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/traces_tool.py
Due: mypy

fix tests
  backend/tests/app/test_dependencies.py
Due: none

cleanup sentinel code
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
Due: prettier, eslint, type-check

Auto-generate types and adapt LS
  backend/pyproject.toml
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/models.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/literature/models.py
  backend/src/neuroagent/tools/autogenerated_types/literature/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/obione/models.py
  backend/src/neuroagent/tools/autogenerated_types/obione/schemas.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/resolve_entities_tool.py
  backend/src/neuroagent/tools/weather.py
Due: mypy

fix annoying sidebar bug
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/hooks/get-thread-page.ts
Due: prettier, eslint, type-check

First commit
  CHANGELOG.md
Due: none

Adapt remaining tools
  backend/src/neuroagent/README.md
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/models.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas_models.py
  backend/src/neuroagent/tools/autogenerated_types/literature_search_models.py
  backend/src/neuroagent/tools/autogenerated_types/obi_one.py
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
Due: mypy

Remove SkipJsonSchema args from global dump
  backend/src/neuroagent/agent_routine.py
Due: mypy
