Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Add random change in autogen file to test
  backend/src/neuroagent/tools/autogenerated_types/literature.py
Due: mypy

test
  .github/workflows/autogen.yml
Due: none

Update autogen classes
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Update autogen classes
  .github/workflows/autogen.yml
Due: none

test
  .github/workflows/autogen.yml
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
Due: mypy

CLean up
  .github/workflows/autogen.yml
  backend/src/neuroagent/tools/autogenerated_types/literature.py
Due: mypy

Switch to extra=ignore in the CI
  .github/workflows/autogen.yml
Due: none

Change forbid to ignore for all but entity core
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
  backend/src/neuroagent/tools/autogenerated_types/literature.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Update entitycore
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix tests
  backend/tests/tools/test_morpho_metrics_tool.py
Due: none

Tool call + content - UI change (#382)
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/lib/utils.test.ts
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-message-human.tsx
  frontend/src/components/chat/chat-message-loading.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/reasoning-collapsible.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Add autogen diff in the CI (#398)
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/literature.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/tests/tools/test_morpho_metrics_tool.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
