Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Turn logger into debug
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Remove duplicated if
  backend/src/neuroagent/app/app_utils.py
Due: mypy

changelog
  CHANGELOG.md
  backend/tests/app/test_dependencies.py
Due: none

Return if len(tool_list) == min_selection
  backend/src/neuroagent/app/app_utils.py
Due: mypy

fix tests
  backend/tests/app/test_dependencies.py
Due: none

Unify if statements
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Force min number of tools to be positive
  backend/src/neuroagent/app/config.py
Due: mypy

revert
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Tool retrieval 2 (#417)
  CHANGELOG.md
  backend/.env.example
  backend/alembic/versions/dde4f8453a14_add_tool_selection_table.py
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/utils.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/test_app_utils.py
Due: mypy

fix DB schema
  backend/src/neuroagent/app/database/sql_schemas.py
Due: mypy

fix DB schema (#422)
  backend/src/neuroagent/app/database/sql_schemas.py
Due: mypy

Allow to override tool name/description
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
Due: mypy

Add try except
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
Due: mypy

Map new names to old ones when calling the tool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.py
Due: mypy

Remove any trace of resolving
  CHANGELOG.md
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/scripts/embed_hierarchies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/conftest.py
  backend/tests/scripts/test_embed_hierarchies.py
  backend/tests/tools/test_resolve_brain_region_tool.py
  backend/tests/tools/test_resolve_mtype_tool.py
Due: mypy

Update uv.lock
  backend/uv.lock
Due: none

Support custom name frontend too
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
Due: mypy

Small refactor
  backend/src/neuroagent/mcp.py
Due: mypy

skeleton of the tool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/__init__.py
Due: mypy

add files
  backend/src/neuroagent/tools/context_analyzer_tool.py
Due: mypy

url in settings and tool POC
  backend/src/neuroagent/tools/context_analyzer_tool.py
  frontend/src/actions/save-settings.ts
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/parameter-form.tsx
Due: mypy, prettier, eslint, type-check

Update changelog
  CHANGELOG.md
Due: none

Track token consumption
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/utils.py
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Add alembic file
  backend/alembic/versions/02aab0a6eef4_track_token_usage.py
Due: none

Fix tests
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/test_app_utils.py
Due: mypy

Rename enum entry
  backend/alembic/versions/02aab0a6eef4_track_token_usage.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/utils.py
  backend/tests/app/test_app_utils.py
Due: mypy

Small fixes
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Optionally allow for exclusion of empty threads
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
Due: mypy

Small fix
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Remove any trace of resolving (#424)
  CHANGELOG.md
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/scripts/embed_hierarchies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/conftest.py
  backend/tests/scripts/test_embed_hierarchies.py
  backend/tests/tools/test_resolve_brain_region_tool.py
  backend/tests/tools/test_resolve_mtype_tool.py
  backend/uv.lock
Due: mypy

Optionally allow for exclusion of empty threads (#430)
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
Due: mypy

Add changes - BROKEN
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/app/test_main.py
  backend/tests/conftest.py
Due: none

Track token consumption (#428)
  CHANGELOG.md
  backend/alembic/versions/02aab0a6eef4_track_token_usage.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/utils.py
  backend/tests/app/test_app_utils.py
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Allow to override tool name/description (#423)
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
Due: mypy

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Prepare for release (#431)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Fix one test
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_config.py
Due: none

Another fix
  backend/tests/app/test_dependencies.py
Due: none

Adjust changelog
  CHANGELOG.md
Due: none

Add copy token button
  CHANGELOG.md
  frontend/src/components/layout/header.tsx
Due: prettier, eslint, type-check
