Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Don't manually use an autouse fixture
  backend/tests/app/test_main.py
Due: none

Always do ssl verification
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tasks/circuit_population_analysis_task.py
Due: mypy

get the latest ruff
  backend/pyproject.toml
  backend/tests/app/test_dependencies.py
  backend/tests/tools/test_base_tool.py
  backend/uv.lock
Due: none

New datamodel version and new autogen
  backend/pyproject.toml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/uv.lock
Due: mypy

Remove unused short polling helper
  backend/src/neuroagent/utils.py
Due: mypy

Hugely simplify polling logic
  backend/src/neuroagent/utils.py
Due: mypy

Adjust github action
  .github/workflows/ecr.yml
Due: none

Adjust docker compose variables to mirror the env var naming changes
  docker-compose.yml
Due: none

make sure the celery docker image works
  backend/Dockerfile.app
  backend/Dockerfile.tasks
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/utils.py
Due: mypy

Control concurrency via env vars
  backend/.env.tasks.example
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tasks/config.py
  backend/src/neuroagent/tasks/main.py
Due: mypy

Simplification of the app dockerfile + dockercompose - not sure if it works yet
  backend/Dockerfile.app
  backend/docker-entrypoint.sh
  docker-compose.yml
Due: none

Use port 8000 even in docker compose for app
  backend/Dockerfile.app
  docker-compose.yml
Due: none

Update readmes
  README.md
  backend/README.md
Due: none

Rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Remove HIL arg change and fix backend metadata
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/utils.py
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/hooks/tools.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Use bind and also write docs
  backend/src/neuroagent/tasks/README.md
  backend/src/neuroagent/tasks/circuit_population_analysis_task.py
  backend/src/neuroagent/tasks/run_python_task.py
Due: mypy

Fix ci
  backend/src/neuroagent/tasks/README.md
  backend/src/neuroagent/tasks/circuit_population_analysis_task.py
  backend/src/neuroagent/tasks/run_python_task.py
Due: mypy

Improve docs
  backend/src/neuroagent/tasks/README.md
Due: mypy

Mention remote debugging
  backend/src/neuroagent/tasks/README.md
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

fix tests
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/tools.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_app_utils.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: mypy

Update vercel
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

Changelog
  CHANGELOG.md
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Prettier
  frontend/tsconfig.json
Due: none

add utils tests
  backend/tests/app/test_app_utils.py
  backend/tests/test_utils.py
Due: none

fix frontend tests
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

fix autogen 2
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix CI
  frontend/package.json
  frontend/src/actions/create-thread.ts
  frontend/src/actions/delete-thread.ts
  frontend/src/actions/edit-thread.ts
  frontend/src/actions/generate-edit-thread.ts
  frontend/src/actions/save-settings.ts
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/tailwind.config.ts
Due: prettier, eslint, type-check

fix and run deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Fix image issues
  frontend/eslint.config.mjs
  frontend/next.config.ts
Due: prettier, eslint, type-check

prettier
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
Due: prettier, eslint, type-check

autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

switch back to tool_call in the backend to identify tools
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/tools.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
Due: mypy, prettier, eslint, type-check

Modify alembic script
  backend/alembic/versions/25cefa8449c6_change_to_response_api.py
  backend/src/neuroagent/rules/6_restrictions.mdc
Due: mypy

fix last id --> tool_call_id migration and cleanup
  backend/src/neuroagent/rules/6_restrictions.mdc
  backend/src/neuroagent/utils.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

fix tests
  backend/tests/app/routers/test_threads.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_app_utils.py
  backend/tests/test_utils.py
Due: none

small fix
  backend/src/neuroagent/app/dependencies.py
Due: mypy

small fix 2
  backend/src/neuroagent/app/dependencies.py
Due: mypy
