Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

add of rodents in the questions
  frontend/src/components/chat/question-suggestion-cards.tsx
Due: prettier, eslint, type-check

add tooltip to thread list
  frontend/src/components/sidebar/thread-card-sidebar.tsx
Due: prettier, eslint, type-check

add trigger to tool box for HIL
  CHANGELOG.md
  frontend/src/components/chat/tool-call-collapsible.tsx
Due: prettier, eslint, type-check

add loader on login
  frontend/src/app/login/page.tsx
  frontend/src/app/threads/[threadId]/error.tsx
  frontend/src/app/tools/[toolName]/error.tsx
  frontend/src/components/layout/header.tsx
Due: prettier, eslint, type-check

small UI tweak
  frontend/src/components/chat/question-suggestion-cards.tsx
Due: prettier, eslint, type-check

simplified test
  backend/tests/app/routers/test_threads.py
  backend/tests/mock_client.py
Due: none

remove NotFOund from fetcher
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/lib/fetcher.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

fix FE test
  frontend/src/__tests__/lib/fetcher.test.ts
Due: prettier, eslint, type-check

Better progressbar handling. Removed login spinner
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/layout/theme-changer.tsx
  frontend/src/components/progress-bar.tsx
Due: prettier, eslint, type-check

Adapt frontend to display multi agents
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  frontend/src/actions/save-settings.ts
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/parameter-form.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

better tooltip
  frontend/src/app/tools/[toolName]/error.tsx
  frontend/src/components/sidebar/thread-card-sidebar.tsx
Due: prettier, eslint, type-check

adress comments
  frontend/src/app/tools/[toolName]/error.tsx
  frontend/src/app/tools/[toolName]/not-found.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-message-human.tsx
Due: prettier, eslint, type-check

go back to div title on hover
  frontend/src/components/sidebar/thread-card-sidebar.tsx
Due: prettier, eslint, type-check

Update frontend to reflect multi-agent
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/agents.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/base_types.py
  backend/src/neuroagent/tools/handoffs.py
  backend/tests/app/routers/test_tools.py
  frontend/src/app/agents/[agentName]/[toolName]/error.tsx
  frontend/src/app/agents/[agentName]/[toolName]/page.tsx
  frontend/src/app/agents/[agentName]/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/app/tools/page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-selection-dropdown.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

fix last comments
  frontend/src/app/threads/[threadId]/not-found.tsx
  frontend/src/app/tools/[toolName]/not-found.tsx
Due: prettier, eslint, type-check

Comstic Fixes (#200)
  CHANGELOG.md
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/threads/[threadId]/error.tsx
  frontend/src/app/tools/[toolName]/error.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/layout/theme-changer.tsx
  frontend/src/components/progress-bar.tsx
  frontend/src/components/sidebar/thread-card-sidebar.tsx
Due: prettier, eslint, type-check

Bugfixes (#195)
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
  backend/tests/mock_client.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/lib/fetcher.test.ts
  frontend/src/actions/generate-edit-thread.ts
  frontend/src/app/threads/[threadId]/error.tsx
  frontend/src/app/threads/[threadId]/not-found.tsx
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/app/tools/[toolName]/not-found.tsx
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-message-human.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/sidebar/edit-thread-dialog.tsx
  frontend/src/lib/fetcher.ts
  frontend/src/lib/types.ts
  frontend/tailwind.config.ts
Due: mypy, prettier, eslint, type-check

Ensure simple agent conversations are compatible with multi agent conversations
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/base_types.py
  frontend/src/app/agents/[agentName]/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
Due: mypy, prettier, eslint, type-check

Add tests
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/routers/test_tools.py
  backend/tests/test_agent_routine.py
Due: mypy

Fix hydration issues and annotation issues
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/handoffs.py
  backend/tests/app/routers/test_agents.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/lib/mappings.tsx
Due: mypy, prettier, eslint, type-check

Small modifications
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/handoffs.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
Due: mypy, prettier, eslint, type-check

Fix HIL
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

Restore tool page
  backend/src/neuroagent/app/routers/agents.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_tools.py
  frontend/src/app/agents/[agentName]/[toolName]/error.tsx
  frontend/src/app/agents/[agentName]/[toolName]/not-found.tsx
  frontend/src/app/agents/[agentName]/[toolName]/page.tsx
  frontend/src/app/agents/[agentName]/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

first working test
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Add single agent page
  frontend/src/app/agents/[agentName]/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/app/tools/[toolName]/error.tsx
  frontend/src/app/tools/[toolName]/not-found.tsx
  frontend/src/app/tools/[toolName]/page.tsx
  frontend/src/app/tools/page.tsx
Due: prettier, eslint, type-check

Make tools scrollable
  backend/src/neuroagent/app/dependencies.py
  frontend/src/app/tools/page.tsx
Due: mypy, prettier, eslint, type-check

Remove agent slug in ALL agents
  frontend/src/app/agents/page.tsx
Due: prettier, eslint, type-check

Fix bug with simple agent
  backend/src/neuroagent/app/routers/tools.py
  frontend/src/app/tools/page.tsx
Due: mypy, prettier, eslint, type-check

Assume that by default we go to s3 (before it was minio)
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

fix test
  backend/tests/app/test_main.py
Due: none

Make s3 compatible (#206)
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/test_main.py
Due: mypy

Improve docs
  CHANGELOG.md
  backend/README.md
Due: none

Improve docs (#207)
  CHANGELOG.md
  backend/README.md
Due: none

Bump up everything
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Towards 0.4.0 (#208)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

fix
  .github/workflows/ecr.yml
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

fix (#209)
  .github/workflows/ecr.yml
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Make checkboxes clickable from the whole width in tool dropdown
  frontend/src/components/chat/tool-selection-dropdown.tsx
Due: prettier, eslint, type-check

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
