Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

change names of the MEModel classes
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getone.py
Due: mypy

Changelog
  CHANGELOG.md
Due: none

small typo fix
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
Due: mypy

migrate me-models endpoints to entitycore (#365)
  CHANGELOG.md
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getone.py
Due: mypy

make gpt-4.1 use markdown
  backend/src/neuroagent/app/dependencies.py
Due: mypy

make default model gpt-4.1-mini
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/new_types.py
Due: mypy

fix tests
  backend/tests/mock_client.py
  backend/tests/test_agent_routine.py
Due: none

Small fix
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Add uv on linting
  .github/workflows/ci.yaml
Due: none

Fix
  .github/workflows/ci.yaml
Due: none

Small issue
  .github/workflows/ci.yaml
Due: none

test
  .github/workflows/ci.yaml
Due: none

Fix bandit
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/scripts/embed_hierarchies.py
Due: mypy

Fix linting
  .pre-commit-config.yaml
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
Due: mypy

Fix linting
  .pre-commit-config.yaml
  backend/tests/app/test_dependencies.py
Due: none

Speedup ci (#360)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/scripts/embed_hierarchies.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/app/test_dependencies.py
  backend/uv.lock
Due: mypy

Accomodate for Gemini and swap to custom made IDs
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
Due: mypy

Accomodate for reasoning models (not displayed though)
  backend/src/neuroagent/agent_routine.py
Due: mypy

Remove agent from context var
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Add last tokens
  backend/src/neuroagent/agent_routine.py
Due: mypy

Define two openai client for openai and openrouter
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
Due: mypy

Fix tests
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_dependencies.py
  backend/tests/app/test_main.py
Due: mypy

Fix frontend CI
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Small changes
  backend/src/neuroagent/scripts/embed_hierarchies.py
  frontend/src/lib/server-fetches.ts
Due: mypy, prettier, eslint, type-check

Add alembic script
  backend/alembic/versions/529e44b33a67_switch_to_uuid.py
Due: none

Allow for whitelisting of models and add endpoint to list models
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Update .env.example
  backend/.env.example
Due: none

Check for authorized model in endpoint
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/base_tool.py
Due: mypy

Fix parallel tool calls
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/utils.py
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

Add model column to message table
  backend/alembic/versions/52d7f4485020_add_model_column_to_messages.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/tools.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: mypy

Fix migration script
  backend/alembic/versions/52d7f4485020_add_model_column_to_messages.py
Due: none

Cache model getter
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Add model parameter in MessageRead and revert migration script
  backend/alembic/versions/52d7f4485020_add_model_column_to_messages.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

Add model in frontend type
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Swap out the client if we request an openai model
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Small fix
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Fix bug in stream.py
  backend/src/neuroagent/app/stream.py
Due: mypy

change frontend
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/model-selection.tsx
Due: prettier, eslint, type-check

Remove remaining .hex
  backend/src/neuroagent/app/app_utils.py
  backend/tests/tools/test_morpho_metrics_tool.py
Due: mypy
