Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

remove storage ID from backend
  backend/src/neuroagent/rules/6_restrictions.mdc
  backend/src/neuroagent/tools/run_python_tool.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/src/hooks/get-presigned.ts
  frontend/src/hooks/get-storage-object.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

small fixes
  backend/src/neuroagent/rules/6_restrictions.mdc
  frontend/src/components/chat/backup-plot.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
Due: mypy, prettier, eslint, type-check

fix retry
  frontend/src/hooks/get-presigned.ts
  frontend/src/hooks/get-storage-object.ts
Due: prettier, eslint, type-check

Revert "small fixes"
  backend/src/neuroagent/rules/6_restrictions.mdc
  frontend/src/components/chat/backup-plot.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
Due: mypy, prettier, eslint, type-check

Fix MCP
  backend-ts/LINTING-FIXES-SUMMARY.md
  backend-ts/TEST-FIXES-BATCH.md
  backend-ts/docs/MCP-TOOL-INTEGRATION.md
  backend-ts/docs/OBI-EXPERT-TRANSLATION-COMPLETE.md
  backend-ts/docs/TOOL-INTEGRATION-COMPLETE.md
  backend-ts/docs/archive/TASK-14-SUMMARY.md
  backend-ts/prisma/MIGRATION_WORKFLOW.md
  backend-ts/src/app/api/tools/[name]/route.ts
  backend-ts/src/app/api/tools/__tests__/tool-detail-endpoint.test.ts
  backend-ts/src/app/api/tools/route.ts
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/mcp/__tests__/tool-metadata-override.test.ts
  backend-ts/src/lib/mcp/client.ts
  backend-ts/src/lib/mcp/index.ts
  backend-ts/src/lib/tools/__tests__/mcp-tool-integration.test.ts
  backend-ts/src/lib/tools/base-tool.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/mcp.json
  backend-ts/tests/mcp/client.test.ts
Due: prettier, eslint, type-check

Remove dummy tools
  backend-ts/src/lib/tools/__tests__/mcp-tool-integration.test.ts
  backend-ts/src/lib/tools/__tests__/tool-integration.test.ts
  backend-ts/src/lib/tools/calculator-tool.ts
  backend-ts/src/lib/tools/example-tool.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/tools/test/CurrencyTool.ts
  backend-ts/src/lib/tools/test/DangerousTool.ts
  backend-ts/src/lib/tools/test/TimeTool.ts
  backend-ts/src/lib/tools/test/TranslatorTool.ts
  backend-ts/src/lib/tools/test/WeatherTool.ts
  backend-ts/src/lib/tools/test/index.ts
  backend-ts/tests/hil-validation.test.ts
  backend-ts/tests/tools/calculator-tool.test.ts
  backend-ts/tests/tools/example-tool.test.ts
  backend-ts/tests/tools/test-tools.test.ts
  backend-ts/tests/tools/tool-definition-generation.property.test.ts
  backend-ts/tests/tools/tool-input-validation.property.test.ts
Due: prettier, eslint, type-check

autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Fix tests
  backend-ts/src/app/api/threads/[thread_id]/messages/route.ts
  backend-ts/src/app/api/tools/[name]/route.ts
  backend-ts/src/app/api/tools/__tests__/tool-detail-endpoint.test.ts
  backend-ts/src/app/api/tools/route.ts
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/mcp/__tests__/tool-metadata-override.test.ts
  backend-ts/src/lib/mcp/client.ts
  backend-ts/src/lib/tools/__tests__/mcp-tool-integration.test.ts
  backend-ts/src/lib/tools/__tests__/tool-output-consistency.test.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/tools/obione/__tests__/ephys-metrics-tools.test.ts
  backend-ts/src/lib/tools/obione/__tests__/morphometrics-tools.test.ts
  backend-ts/src/lib/tools/standalone/circuit-population-analysis.ts
  backend-ts/tests/agents/error-handling.test.ts
  backend-ts/tests/agents/parallel-tool-execution.test.ts
  backend-ts/tests/agents/routine.test.ts
  backend-ts/tests/integration/mcp-servers.test.ts
  backend-ts/tests/mcp/client.test.ts
  backend-ts/tests/mcp/mcp-tool-discovery.property.test.ts
Due: prettier, eslint, type-check

Make docker work
  backend-ts/.env.example
  backend-ts/Dockerfile
  backend-ts/README.md
  backend-ts/docker-entrypoint.sh
  backend-ts/docs/CONFIGURATION-GUIDE.md
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/app/api/qa/question_suggestions/route.ts
  backend-ts/src/app/api/threads/[thread_id]/generate_title/route.ts
  backend-ts/src/lib/agents/README.md
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/config/settings.ts
  backend-ts/tests/api/question-suggestions.test.ts
  docker-compose.yml
Due: prettier, eslint, type-check

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Add context to tool selector
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Autogen + tests + deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/app/test_dependencies.py
Due: mypy

Prompt engineer
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Remove useless stuff
  backend-ts/TEST-FIXES-BATCH.md
  backend-ts/TEST-FIXES-SUMMARY.md
  backend-ts/docs/HIL-REMOVAL-VERIFICATION.md
Due: none

Ignore certain fields in get all tools
  backend-ts/CODE-QUALITY-FINAL-REPORT.md
  backend-ts/src/lib/mcp/client.ts
  backend-ts/src/lib/tools/entitycore/brain-region-getall.ts
  backend-ts/src/lib/tools/entitycore/cell-morphology-getall.ts
  backend-ts/src/lib/tools/entitycore/circuit-getall.ts
  backend-ts/src/lib/tools/entitycore/electrical-cell-recording-getall.ts
  backend-ts/src/lib/tools/entitycore/emodel-getall.ts
  backend-ts/src/lib/tools/entitycore/experimental-bouton-density-getall.ts
  backend-ts/src/lib/tools/entitycore/experimental-neuron-density-getall.ts
  backend-ts/src/lib/tools/entitycore/experimental-synapses-per-connection-getall.ts
  backend-ts/src/lib/tools/entitycore/ion-channel-model-getall.ts
  backend-ts/src/lib/tools/entitycore/ion-channel-recording-getall.ts
  backend-ts/src/lib/tools/entitycore/measurement-annotation-getall.ts
  backend-ts/src/lib/tools/entitycore/memodel-getall.ts
  backend-ts/src/lib/tools/entitycore/simulation-campaign-getall.ts
  backend-ts/src/lib/tools/entitycore/simulation-generation-getall.ts
  backend-ts/src/lib/tools/entitycore/simulation-getall.ts
  backend-ts/src/lib/tools/entitycore/simulation-result-getall.ts
  backend-ts/src/lib/tools/entitycore/single-neuron-simulation-getall.ts
  backend-ts/src/lib/tools/entitycore/single-neuron-synaptome-getall.ts
  backend-ts/src/lib/tools/entitycore/single-neuron-synaptome-simulation-getall.ts
  backend-ts/src/lib/tools/entitycore/species-getall.ts
  backend-ts/src/lib/tools/entitycore/strain-getall.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/utils/tool-filtering.ts
Due: prettier, eslint, type-check

Add actual file with ignores
  backend-ts/src/lib/tools/__tests__/entitycore-schema-utils.test.ts
  backend-ts/src/lib/tools/entitycore-schema-utils.ts
Due: prettier, eslint, type-check

Fix question suggestion route
  backend-ts/docs/entitycore-field-exclusions.md
  backend-ts/docs/entitycore-tools-migration-status.md
  backend-ts/src/app/api/qa/question_suggestions/route.ts
Due: prettier, eslint, type-check

remove loggers
  backend-ts/src/app/api/qa/question_suggestions/route.ts
Due: prettier, eslint, type-check

Tweak sim config tool and remove context analyzer (#703)
  CHANGELOG.md
  backend/eval/input/platform_viewing/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/rules/5_platform-overview.mdc
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/context_analyzer_tool.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
  backend/tests/tools/test_context_analyzer_tool.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

nodeset failure doesn't raise an error anymore in circuit simulation config tool
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Revert change
  backend/src/neuroagent/app/dependencies.py
Due: mypy

nodeset failure doesn't raise an error anymore in circuit simulation … (#706)
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

suggested changes
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/pnpm-lock.yaml
Due: mypy

Remove lock file
  frontend/pnpm-lock.yaml
Due: none

Update predefined neuron set prompt
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Re-add f string
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Fix CI
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Fix bandit
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Fix bandit this time
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Move future features to tool description
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Sim generation: Add to Info, Recording + PredefinedNeuronSet prompts (#712)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Small bug fixes + reduce verbosity
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/1_task-planning.mdc
  backend/src/neuroagent/rules/7_tool-calling.mdc
Due: mypy

Changelog and deepeval
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix tests
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
Due: none

fix DeepEval
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

fix Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Do the rename
  backend/eval/input/obione_designcircuitsimulationscanconfig/expected_output.md
  backend/eval/input/obione_designcircuitsimulationscanconfig/expected_tool_calls.json
  backend/eval/input/obione_designcircuitsimulationscanconfig/params.json
  backend/eval/input/obione_designcircuitsimulationscanconfig/user.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
