Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

remove filesystem mcp
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/mcp.json
Due: mypy

fix tool response when accepting (removed invalidate queries)
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/hooks/tools.ts
Due: prettier, eslint, type-check

HIL is working
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/hooks/tools.ts
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Fix lint / type check
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/hooks/tools.ts
Due: prettier, eslint, type-check

remove useless utils and make the plot work again
  backend/src/neuroagent/app/routers/threads.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/hooks/tools.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

changelog
  CHANGELOG.md
Due: none

some fixes to the stop and HIL behaviour, probably more are left
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Mtype stuff
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_mtype_getall.py
  backend/src/neuroagent/tools/entitycore_mtype_getone.py
Due: mypy

Remove unused libraries and adjust dockerfile
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/neuroagent/app/main.py
  backend/tests/app/test_main.py
Due: mypy

Make sure docker deployed version works
  backend/Dockerfile
  backend/README.md
  backend/src/neuroagent/app/config.py
Due: mypy

Asset get one and get all
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_asset_getall.py
  backend/src/neuroagent/tools/entitycore_asset_getone.py
Due: mypy

Implement asset downloading
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_asset_downloadone.py
Due: mypy

stop fix
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Add pandas, a test seems to need it
  backend/pyproject.toml
Due: none

Add electrical cell recording
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
Due: mypy

Make tool more general
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
Due: mypy

Way less logging
  backend/src/neuroagent/tools/entitycore_asset_downloadone.py
  backend/src/neuroagent/tools/entitycore_asset_getall.py
  backend/src/neuroagent/tools/entitycore_asset_getone.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_etype_getall.py
  backend/src/neuroagent/tools/entitycore_etype_getone.py
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
  backend/src/neuroagent/tools/entitycore_morphology_getone.py
  backend/src/neuroagent/tools/entitycore_mtype_getall.py
  backend/src/neuroagent/tools/entitycore_mtype_getone.py
Due: mypy

Make sure to pass mode JSON to agent routine - UUID problem
  backend/src/neuroagent/agent_routine.py
Due: mypy

remove console logs
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-status.tsx
Due: prettier, eslint, type-check

Add exa MCP
  backend/src/neuroagent/mcp.json
Due: mypy

Add exa api key in .env.example
  backend/.env.example
Due: none

Add brain region and also fix mypy issue
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_brainregion_getone.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
Due: mypy

Add brain region hierarchy tools
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_brainregionhierarchy_getall.py
  backend/src/neuroagent/tools/entitycore_brainregionhierarchy_getone.py
Due: mypy

Add brain atlas endpoints
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_brainatlas_getall.py
  backend/src/neuroagent/tools/entitycore_brainatlas_getone.py
Due: mypy

Make old endpoint compatible
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Bouton density tools
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
Due: mypy

Adjust morphology get all to have the same logic as its peers
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
Due: mypy

Use official entitycore naming
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
Due: mypy

Fix stuff
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/tests/tools/test_entitycore_morphology_getall.py
Due: mypy

Add neuron density tools
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
Due: mypy

Add synapses
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
Due: mypy

Ion channel model tool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getone.py
Due: mypy

Add measurement annotatoins
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getone.py
Due: mypy

Add species
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
  backend/src/neuroagent/tools/entitycore_species_getone.py
Due: mypy

Add strain
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_strain_getall.py
  backend/src/neuroagent/tools/entitycore_strain_getone.py
Due: mypy

Add subject
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_subject_getall.py
  backend/src/neuroagent/tools/entitycore_subject_getone.py
Due: mypy

Add person, organization and contribution
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_contribution_getall.py
  backend/src/neuroagent/tools/entitycore_contribution_getone.py
  backend/src/neuroagent/tools/entitycore_organization_getall.py
  backend/src/neuroagent/tools/entitycore_organization_getone.py
  backend/src/neuroagent/tools/entitycore_person_getall.py
  backend/src/neuroagent/tools/entitycore_person_getone.py
Due: mypy

Change logic hierarchy id
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
Due: mypy

Page size but only for existing subclasses
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
Due: mypy

make backend output vercel format
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check
