Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Cleanup
  backend/Dockerfile
Due: none

Update
  CHANGELOG.md
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

Autogen obi one
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Update false positives (#416)
  CHANGELOG.md
  backend/src/neuroagent/fixed_llm_responses.yml
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Temp
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/utils.py
Due: mypy

Edit rule
  backend/src/neuroagent/rules/ai-message-formatting.mdc
Due: mypy

Fix comments
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/setup_pyodide.mjs
  docker-compose.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Include query parameters
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
Due: mypy

Remove unused model
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
Due: mypy

Different frontend name for morphometrics
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

Fix docker-compose
  docker-compose.yml
Due: none

Fix comments
  backend/.gitignore
  backend/setup_pyodide.mjs
  docker-compose.yml
Due: none

Update semantic routes
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

Update autogen entitycore
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Make mypy happy
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
Due: mypy

Add python interpreter (#410)
  CHANGELOG.md
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/setup_pyodide.mjs
  backend/src/neuroagent/README.md
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/conftest.py
  docker-compose.yml
Due: mypy

Provide better description
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
Due: mypy

Finish
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Add env var
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Actually pass query params into the request
  backend/src/neuroagent/fixed_llm_responses.yml
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
Due: mypy

Run entitycore autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Remove breakpoint
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
Due: mypy

Final fixes
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Update github action
  .github/workflows/ci.yaml
Due: none

Update ruff linting
  .github/workflows/ci.yaml
  backend/pyproject.toml
Due: none

Ephys tool from obi-one (#377)
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/fixed_llm_responses.yml
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/tests/tools/test_obione_ephysmetrics_getone.py
  backend/tests/tools/test_obione_morphometrics_getone.py
Due: mypy

Fix tests
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/tests/app/routers/test_qa.py
Due: mypy

Default to 10 tools min
  backend/src/neuroagent/app/config.py
Due: mypy

Tweak rule
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

Ignore dependency if tool list is empty
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Small fix
  backend/src/neuroagent/app/dependencies.py
Due: mypy

pass and process frontend url to chat streamed
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/new_types.py
Due: mypy

Split logic into helper + dependency
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/test_app_utils.py
Due: mypy

Create tool_selection table and store tool selection in db
  backend/alembic/versions/825dd56cabf4_add_tool_selection_table.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Fix alembic types
  backend/alembic/versions/dde4f8453a14_add_tool_selection_table.py
Due: none

Turn docstring into numpy doc
  backend/src/neuroagent/app/app_utils.py
Due: mypy

General guidance for entitycore tools (#412)
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_asset_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/tests/app/test_dependencies.py
  backend/tests/test_agent_routine.py
Due: mypy

Make tool selection persist in between conversations (#401)
  CHANGELOG.md
  frontend/src/components/chat/chat-input.tsx
Due: prettier, eslint, type-check

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
