Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Filter by tag and small visual improvements
  backend/eval/ui/app.js
  backend/eval/ui/detail.html
  backend/eval/ui/index.html
  backend/eval/ui/styles.css
Due: prettier, eslint, type-check

Impute products for 3 tests and run the evaluation
  backend/eval/input/channelpedia_data/params.json
  backend/eval/input/enable_functional_networks/params.json
  backend/eval/input/metabolism_model_reactions/params.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

UI: clean filters and filter based on answer present or not
  backend/eval/ui/app.js
  backend/eval/ui/detail.html
  backend/eval/ui/index.html
  backend/eval/ui/styles.css
Due: prettier, eslint, type-check

Relabel products explore -> ai when applicable
  backend/eval/input/publication_display_criteria/params.json
  backend/eval/input/run_through_page/params.json
Due: none

Actually run it
  backend/src/neuroagent/autogenerated_types/entitycore.py
  backend/src/neuroagent/autogenerated_types/obione.py
Due: mypy

Autogen update (#735)
  backend/src/neuroagent/autogenerated_types/entitycore.py
  backend/src/neuroagent/autogenerated_types/obione.py
Due: mypy

Change product and improve expected output
  backend/eval/input/platform_assistant_capabilities/expected_output.md
  backend/eval/input/platform_assistant_capabilities/params.json
Due: none

Actually show newline like charcters
  backend/eval/ui/app.js
Due: prettier, eslint, type-check

Add per product page
  backend/eval/ui/app.js
  backend/eval/ui/detail.html
  backend/eval/ui/index.html
  backend/eval/ui/products.html
  backend/eval/ui/styles.css
Due: prettier, eslint, type-check

Normalize product naming
  backend/eval/input/aging_vs_tbi_hippocampus/params.json
  backend/eval/input/analyze_simulation_campaigns/params.json
  backend/eval/input/beginner_seizure_simulation/params.json
  backend/eval/input/brain_malformation_simulation/params.json
  backend/eval/input/brain_structures_movement/params.json
  backend/eval/input/build_fly_brain/params.json
  backend/eval/input/calcium_plateau_potentials_simulation/params.json
  backend/eval/input/create_new_notebook/params.json
  backend/eval/input/create_notebook_project/params.json
  backend/eval/input/entitysdk_library/params.json
  backend/eval/input/extracellular_stimulation_platform/params.json
  backend/eval/input/first_time_user_undergraduate/params.json
  backend/eval/input/hippocampus_simulation_channels/params.json
  backend/eval/input/how_does_it_work/params.json
  backend/eval/input/human_striatal_neurons/params.json
  backend/eval/input/mod_files_for_cell/params.json
  backend/eval/input/multi_neuron_simulation/params.json
  backend/eval/input/platform_overview_capabilities/params.json
  backend/eval/input/platform_purpose_applications/params.json
  backend/eval/input/psp_time_constant_pv_cells/params.json
  backend/eval/input/pv_to_pv_ipsp_amplitude/params.json
  backend/eval/input/run_simulation_file/params.json
  backend/eval/input/setup_simulation_howto/params.json
  backend/eval/input/simulate_me_model_howto/params.json
  backend/eval/input/simulate_simple_neuron/params.json
  backend/eval/input/simulation_use_cases/params.json
  backend/eval/input/snn_reinforcement_learning/params.json
  backend/eval/input/submit_jobs_digital_brain/params.json
  backend/eval/input/synaptic_input_meaning/params.json
  backend/eval/input/synaptome_neuron_types_human/params.json
  backend/eval/input/virtual_labs_navigation/params.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Product badges no line breaks
  backend/eval/ui/styles.css
Due: none

Expected output and frontend_url for run_through_page
  backend/eval/input/run_through_page/expected_output.md
  backend/eval/input/run_through_page/params.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Undo commiting small results
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Update expected output in explore test
  backend/eval/input/astrocyte_capabilities/expected_output.md
Due: none

Add a new rule
  backend/src/neuroagent/rules/10_faq.mdc
Due: mypy

Move faq from system prompt to docs
  backend/eval/input/build_fly_brain/expected_tool_calls.json
  backend/eval/input/extracellular_stimulation_platform/expected_tool_calls.json
  backend/eval/input/plasticity_data/expected_tool_calls.json
  backend/src/neuroagent/rules/10_faq.mdc
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Fix grok for portable text
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Make documentationProduct sound more imporatnt
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Encourage multilpe keyword searches
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

List explicitly all products
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Ru nagain
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Report generator
  .github/workflows/eval-ui-report.yml
  backend/eval/ui/app.js
Due: prettier, eslint, type-check

Update changelog
  CHANGELOG.md
Due: none

Add feedback tool
  backend/.env.example
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/feedback_submit.py
Due: mypy

Changelog
  CHANGELOG.md
Due: none

remove ticket url from tool output
  backend/src/neuroagent/tools/feedback_submit.py
Due: mypy

Define the navigation tool
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/navigate.py
  backend/tests/tools/test_navigate.py
Due: mypy

Fix couple of issues
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/navigate.py
  backend/tests/tools/test_navigate.py
Due: mypy

Add deepeval test cases
  backend/eval/input/navigate_entity_id_shortcut/expected_output.md
  backend/eval/input/navigate_entity_id_shortcut/expected_tool_calls.json
  backend/eval/input/navigate_entity_id_shortcut/params.json
  backend/eval/input/navigate_entity_id_shortcut/user.md
  backend/eval/input/navigate_simulate_configure_circuit/expected_output.md
  backend/eval/input/navigate_simulate_configure_circuit/expected_tool_calls.json
  backend/eval/input/navigate_simulate_configure_circuit/params.json
  backend/eval/input/navigate_simulate_configure_circuit/user.md
  backend/eval/input/navigate_workflow_landing_filtered/expected_output.md
  backend/eval/input/navigate_workflow_landing_filtered/expected_tool_calls.json
  backend/eval/input/navigate_workflow_landing_filtered/params.json
  backend/eval/input/navigate_workflow_landing_filtered/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix issue in simulation tools and continue prompt engineering
  backend/src/neuroagent/shared_state.py
  backend/src/neuroagent/tools/editstate.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/getstate.py
  backend/src/neuroagent/tools/navigate.py
  backend/src/neuroagent/tools/validatestate.py
Due: mypy

More prompt engineering + deepeval test case
  backend/eval/input/state_simulate_wrong_page_home/expected_output.md
  backend/eval/input/state_simulate_wrong_page_home/expected_tool_calls.json
  backend/eval/input/state_simulate_wrong_page_home/params.json
  backend/eval/input/state_simulate_wrong_page_home/user.md
  backend/src/neuroagent/rules/9_state-sharing.mdc
  backend/src/neuroagent/shared_state.py
  backend/src/neuroagent/tools/editstate.py
  backend/src/neuroagent/tools/getstate.py
  backend/src/neuroagent/tools/navigate.py
  backend/src/neuroagent/tools/validatestate.py
Due: mypy

changelog
  CHANGELOG.md
Due: none

CI
  backend/src/neuroagent/autogenerated_types/obione.py
  backend/src/neuroagent/tools/editstate.py
  backend/tests/tools/test_state_tools.py
Due: mypy

description
  backend/src/neuroagent/shared_state.py
  backend/src/neuroagent/tools/navigate.py
Due: mypy

Hierarchy default to enable arbitrary species.
  CHANGELOG.md
  backend/eval/input/human_cortex_electrophysiology/expected_output.md
  backend/eval/input/human_cortex_electrophysiology/expected_tool_calls.json
  backend/eval/input/human_cortex_electrophysiology/params.json
  backend/eval/input/human_cortex_electrophysiology/user.md
  backend/eval/input/mouse_cerebellum_morphologies/expected_output.md
  backend/eval/input/mouse_cerebellum_morphologies/expected_tool_calls.json
  backend/eval/input/mouse_cerebellum_morphologies/params.json
  backend/eval/input/mouse_cerebellum_morphologies/user.md
  backend/eval/input/rat_thalamus_memodels/expected_output.md
  backend/eval/input/rat_thalamus_memodels/expected_tool_calls.json
  backend/eval/input/rat_thalamus_memodels/params.json
  backend/eval/input/rat_thalamus_memodels/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/4_entitycore-tools.mdc
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Fix deepeval test cases and autogen
  backend/eval/input/human_cortex_electrophysiology/expected_output.md
  backend/eval/input/human_cortex_electrophysiology/expected_tool_calls.json
  backend/eval/input/mouse_cerebellum_morphologies/expected_output.md
  backend/eval/input/mouse_cerebellum_morphologies/expected_tool_calls.json
  backend/eval/input/rat_thalamus_memodels/expected_output.md
  backend/eval/input/rat_thalamus_memodels/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/autogenerated_types/obione.py
  backend/src/neuroagent/rules/4_entitycore-tools.mdc
Due: mypy
