Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

More page size hardcoding
  backend/src/neuroagent/tools/entitycore_brainatlas_getall.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_brainregionhierarchy_getall.py
  backend/src/neuroagent/tools/entitycore_contribution_getall.py
Due: mypy

Finalize page_size subproject
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_etype_getall.py
  backend/src/neuroagent/tools/entitycore_mtype_getall.py
  backend/src/neuroagent/tools/entitycore_organization_getall.py
  backend/src/neuroagent/tools/entitycore_person_getall.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
  backend/src/neuroagent/tools/entitycore_strain_getall.py
  backend/src/neuroagent/tools/entitycore_subject_getall.py
Due: mypy

fix tests
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

add tests
  backend/src/neuroagent/app/app_utils.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
Due: mypy

Remove misleading info in get all instructions
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
Due: mypy

fix frontend bug
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Add FE CI tests
  frontend/src/__tests__/lib/utils.test.ts
Due: prettier, eslint, type-check

fix tests
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
Due: none

Remove unused asset_id
  backend/src/neuroagent/tools/entitycore_asset_getall.py
Due: mypy

Get rid of more dependencies and random plot generator
  backend/pyproject.toml
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/generate_random_plot.py
Due: mypy

Remove cmake from dockerfile
  backend/Dockerfile
Due: none

Remove leftover me model config class
  backend/src/neuroagent/app/config.py
Due: mypy

Don't use ellipsis in our code
  backend/src/neuroagent/tools/entitycore_asset_downloadone.py
  backend/src/neuroagent/tools/entitycore_asset_getall.py
  backend/src/neuroagent/tools/entitycore_asset_getone.py
  backend/tests/conftest.py
Due: mypy

Better reinjection of the default
  backend/src/neuroagent/tools/entitycore_brainatlas_getall.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_brainregionhierarchy_getall.py
  backend/src/neuroagent/tools/entitycore_contribution_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_etype_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_mtype_getall.py
  backend/src/neuroagent/tools/entitycore_organization_getall.py
  backend/src/neuroagent/tools/entitycore_person_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
  backend/src/neuroagent/tools/entitycore_strain_getall.py
  backend/src/neuroagent/tools/entitycore_subject_getall.py
Due: mypy

Use UUID in getone
  backend/src/neuroagent/tools/entitycore_brainatlas_getone.py
  backend/src/neuroagent/tools/entitycore_brainregion_getone.py
  backend/src/neuroagent/tools/entitycore_brainregionhierarchy_getone.py
  backend/src/neuroagent/tools/entitycore_contribution_getone.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_emodel_getone.py
  backend/src/neuroagent/tools/entitycore_etype_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getone.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getone.py
  backend/src/neuroagent/tools/entitycore_mtype_getone.py
  backend/src/neuroagent/tools/entitycore_organization_getone.py
  backend/src/neuroagent/tools/entitycore_person_getone.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
  backend/src/neuroagent/tools/entitycore_species_getone.py
  backend/src/neuroagent/tools/entitycore_strain_getone.py
Due: mypy

Allow the hierarchy id to be None
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
Due: mypy

Cleanup unused test files and fixtures
  README.md
  backend/pyproject.toml
  backend/src/neuroagent/scripts/avalidate_tool_calls.py
  backend/tests/conftest.py
  backend/tests/data/99111002.nwb
  backend/tests/data/brainregion_hierarchy.json
  backend/tests/data/entitycore_brain_region.json
  backend/tests/data/entitycore_morphologies_thalamus.json
  backend/tests/data/resolve_query.json
  backend/tests/data/simple.swc
  backend/tests/data/tool_calls.json
  backend/tests/scripts/test_avalidate_tool_calls.py
Due: mypy

Fix mypy
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getone.py
  backend/src/neuroagent/tools/entitycore_etype_getall.py
  backend/src/neuroagent/tools/entitycore_etype_getone.py
  backend/src/neuroagent/tools/entitycore_subject_getone.py
  backend/tests/conftest.py
Due: mypy

Remove trailing slash
  backend/Dockerfile
Due: none

Track mcp.json (#340)
  CHANGELOG.md
  backend/.env.example
  backend/Dockerfile
  backend/README.md
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/mcp.json
Due: mypy

fix messages bubbles and add loading
  backend/tests/data/entitycore_mtype.json
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-message-loading.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

add missing file
  backend/tests/data/entitycore_mtype.json
Due: none

add loader to the loading input
  frontend/src/components/chat/chat-input-loading.tsx
Due: prettier, eslint, type-check

Add thumbnail generation tool
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Rename classes
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

Change file header
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

Small fixes
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

Small stuff
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

Fix linebreak in ai message
  CHANGELOG.md
  frontend/src/components/chat/chat-message-ai.tsx
Due: prettier, eslint, type-check

Rerun autogen tool
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_contribution_getone.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Rerun autogen tool (#349)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_contribution_getone.py
Due: mypy

Fix linebreak in ai message (#348)
  CHANGELOG.md
  frontend/src/components/chat/chat-message-ai.tsx
Due: prettier, eslint, type-check

Add thumbnail generation tool (#347)
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

add script to gen mytpes
  backend/src/neuroagent/schemas.py
Due: mypy

add script
  backend/src/neuroagent/scripts/embed_m-types.py
Due: mypy

tool working
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
Due: mypy

Small prompt engineering stuff
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy
