Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Simplify docker compose (#690)
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: none

Fix optional parameters for tools
  backend-ts/docs/STREAM-CANCELLATION-HANDLING.md
  backend-ts/docs/STRUCTURED-OUTPUTS-FIX.md
  backend-ts/docs/TOOL-SCHEMA-LOGGING.md
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/tools/base-tool.ts
  backend-ts/src/lib/tools/example-tool.ts
  backend-ts/tests/agents/tool-schema-logging.test.ts
  frontend/src/middleware.ts
Due: prettier, eslint, type-check

initial
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/obione_infosimulationsconfig.py
Due: mypy

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Write exclusively to tmp (#683)
  CHANGELOG.md
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/test_executor.py
  docker-compose.yml
Due: mypy

Fix ilike usage by the LLM (#691)
  CHANGELOG.md
  backend/eval/input/ilike_pattern_test/expected_output.md
  backend/eval/input/ilike_pattern_test/expected_tool_calls.json
  backend/eval/input/ilike_pattern_test/params.json
  backend/eval/input/ilike_pattern_test/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/rules/4_entitycore-tools.mdc
Due: mypy

Fix openrouter
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/config/settings.ts
Due: prettier, eslint, type-check

Remove values from .env.example
  backend-ts/.env.example
Due: none

Remove debug scripts
  backend-ts/check-database.ts
  backend-ts/debug-thread.ts
Due: prettier, eslint, type-check

Fix tool saving
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/app/api/threads/[thread_id]/messages/route.ts
  backend-ts/src/lib/config/settings.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/utils/tool-filtering.ts
Due: prettier, eslint, type-check

Add extra tools
  backend-ts/src/lib/tools/test/CurrencyTool.ts
  backend-ts/src/lib/tools/test/TimeTool.ts
  backend-ts/src/lib/tools/test/TranslatorTool.ts
  backend-ts/src/lib/tools/test/WeatherTool.ts
  backend-ts/src/lib/tools/test/index.ts
Due: prettier, eslint, type-check

Extra docs
  backend-ts/docs/MESSAGE-PERSISTENCE-FIX.md
  backend-ts/docs/TESTING-TOOL-FILTERING.md
  backend-ts/docs/TOOL-CALL-DISPLAY-FIX.md
  backend-ts/docs/TOOL-FILTERING-AND-MODEL-SELECTION.md
  backend-ts/docs/TOOL-FILTERING-IMPLEMENTATION-COMPLETE.md
Due: none

Update tests and make them pass
  backend-ts/.dockerignore
  backend-ts/Dockerfile
  backend-ts/next.config.ts
  backend-ts/package.json
  backend-ts/src/app/api/threads/[thread_id]/messages/route.ts
  backend-ts/src/lib/agents/routine.ts
  backend-ts/tests/agents/error-handling.test.ts
  backend-ts/tests/agents/parallel-tool-execution.test.ts
  backend-ts/tests/agents/provider-selection.test.ts
  backend-ts/tests/agents/routine.test.ts
  backend-ts/tests/agents/tool-schema-logging.test.ts
  backend-ts/tests/api/README.md
  backend-ts/tests/api/chat-streamed.test.ts
  backend-ts/tests/api/models.test.ts
  backend-ts/tests/config/settings.test.ts
  backend-ts/tests/db/README.md
  backend-ts/tests/db/integration.test.ts
  backend-ts/tests/e2e/README.md
  backend-ts/tests/e2e/conversation-flow.test.ts
  backend-ts/tests/e2e/error-scenarios.test.ts
  backend-ts/tests/hil-validation.test.ts
  backend-ts/tests/integration/README.md
  backend-ts/tests/integration/llm-providers.test.ts
  backend-ts/tests/integration/mcp-servers.test.ts
  backend-ts/tests/integration/storage.test.ts
  backend-ts/tests/middleware/integration.test.ts
  backend-ts/tests/proxy-verification.test.ts
  backend-ts/tests/tools/base-tool.test.ts
  docker-compose.yml
Due: prettier, eslint, type-check

Autogenerated types
  backend-ts/src/lib/tools/autogenerated_types/entitycore.ts
  backend-ts/src/lib/tools/autogenerated_types/obione.ts
  backend-ts/src/lib/tools/autogenerated_types/thumbnail_generation.ts
Due: prettier, eslint, type-check

Add remaining files
  backend-ts/DOCKER-IMPLEMENTATION-SUMMARY.md
  backend-ts/DOCKER-QUICKSTART.md
  backend-ts/DOCKER.md
  backend-ts/FINAL-CHECKPOINT-SUMMARY.md
  backend-ts/README-DOCKER.md
  backend-ts/README.md
  backend-ts/SECURITY-AUDIT-REPORT.md
  backend-ts/TEST-COST-SAFETY-VERIFICATION.md
  backend-ts/TEST-FIXES-SUMMARY.md
  backend-ts/TYPESCRIPT-FIXES-NEEDED.md
  backend-ts/docker-entrypoint.sh
  backend-ts/docs/API-COMPATIBILITY-TESTING.md
  backend-ts/docs/API-REFERENCE.md
  backend-ts/docs/COMMON-OPERATIONS.md
  backend-ts/docs/COMPATIBILITY-TESTS-COST-SAFETY.md
  backend-ts/docs/CONFIGURATION-GUIDE.md
  backend-ts/docs/COST-SAFETY-FIX-SUMMARY.md
  backend-ts/docs/DATABASE-SCHEMA.md
  backend-ts/docs/DEPLOYMENT.md
  backend-ts/docs/E2E-TESTS-COMPLETE.md
  backend-ts/docs/HIL-VALIDATION.md
  backend-ts/docs/INTEGRATION-TESTS-EXTERNAL-SERVICES.md
  backend-ts/docs/MIGRATION-GUIDE.md
  backend-ts/docs/PARALLEL-TOOL-EXECUTION.md
  backend-ts/docs/PRODUCTION-READINESS-CHECKLIST.md
  backend-ts/docs/PROXY-VERIFICATION-SETUP.md
  backend-ts/docs/QUICK-START-DEPLOYMENT.md
  backend-ts/docs/TASK-26.1-SUMMARY.md
  backend-ts/docs/TASK-30-DEPLOYMENT-PREPARATION.md
  backend-ts/docs/TOOL-DEVELOPMENT-GUIDE.md
  backend-ts/next.config.ts
  backend-ts/package.json
  backend-ts/scripts/run-compatibility-tests.sh
  backend-ts/src/app/api/qa/validate_tool/route.ts
  backend-ts/src/lib/tools/test/DangerousTool.ts
  backend-ts/test-docker.sh
Due: prettier, eslint, type-check

Rework mulitple plot logic
  frontend/src/components/chat/backup-plot.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
Due: prettier, eslint, type-check

Bring back Regex matching
  frontend/src/app/app/storage/[storageId]/route.ts
  frontend/src/components/chat/backup-plot.tsx
  frontend/src/components/memoized-markdown.tsx
Due: prettier, eslint, type-check

small fix
  frontend/src/components/memoized-markdown.tsx
Due: prettier, eslint, type-check

Add more tests
  backend-ts/docs/TEST-MOCKING-STRATEGY.md
  backend-ts/docs/TEST-PERFORMANCE-OPTIMIZATIONS.md
  backend-ts/package.json
  backend-ts/src/lib/middleware/rate-limit.ts
  backend-ts/tests/agents/max-turn-limit.property.test.ts
  backend-ts/tests/agents/tool-call-response-handling.property.test.ts
  backend-ts/tests/api/question-suggestions.test.ts
  backend-ts/tests/db/MIGRATION-ROLLBACK-TESTING.md
  backend-ts/tests/db/client.test.ts
  backend-ts/tests/db/integration.test.ts
  backend-ts/tests/db/migration-rollback.property.test.ts
  backend-ts/tests/db/migration-validation.property.test.ts
  backend-ts/tests/e2e/conversation-flow.test.ts
  backend-ts/tests/e2e/error-scenarios.test.ts
  backend-ts/tests/middleware/jwt-authentication.property.test.ts
  backend-ts/tests/middleware/path-prefix.test.ts
  backend-ts/tests/middleware/project-access-control.property.test.ts
  backend-ts/tests/middleware/rate-limit-enforcement.property.test.ts
  backend-ts/tests/middleware/rate-limit-headers.property.test.ts
  backend-ts/tests/setup.ts
  backend-ts/tests/tools/calculator-tool.test.ts
  backend-ts/tests/tools/entitycore-tools.test.ts
  backend-ts/tests/tools/example-tool.test.ts
  backend-ts/tests/tools/literature-search-tool.test.ts
  backend-ts/tests/tools/obione-tools.test.ts
  backend-ts/tests/tools/test-tools.test.ts
  backend-ts/tests/tools/tool-definition-generation.property.test.ts
  backend-ts/tests/tools/tool-health-checks.property.test.ts
  backend-ts/tests/tools/tool-input-validation.property.test.ts
  backend-ts/tests/tools/tool-metadata.property.test.ts
  backend-ts/tests/tools/web-search-tool.test.ts
  backend-ts/vitest.config.ts
Due: prettier, eslint, type-check

Cleanup tests a bit
  backend-ts/tests/agents/routine.test.ts
  backend-ts/tests/agents/streaming-format-consistency.property.test.ts
  backend-ts/tests/agents/tool-call-response-handling.property.test.ts
  backend-ts/tests/api/models.test.ts
  backend-ts/tests/api/question-suggestions.test.ts
  backend-ts/tests/api/threads.test.ts
  backend-ts/tests/db/full-text-search.property.test.ts
  backend-ts/tests/db/integration.test.ts
  backend-ts/tests/db/migrations.test.ts
  backend-ts/tests/hil-validation.test.ts
  backend-ts/tests/mcp/mcp-tool-discovery.property.test.ts
  backend-ts/tests/middleware/cors-middleware-headers.property.test.ts
  backend-ts/tests/middleware/rate-limit-headers.property.test.ts
  backend-ts/tests/tools/base-tool.test.ts
  backend-ts/tests/tools/calculator-tool.test.ts
  backend-ts/tests/tools/example-tool.test.ts
  backend-ts/tests/tools/hil-tool-validation.property.test.ts
  backend-ts/tests/tools/tool-health-checks.property.test.ts
  backend-ts/tests/tools/tool-input-validation.property.test.ts
  backend-ts/tests/tools/tool-metadata.property.test.ts
Due: prettier, eslint, type-check

Add rules and concat them into system prompt
  backend-ts/CODE-QUALITY-FINAL-REPORT.md
  backend-ts/TEST-FIXES-SUMMARY.md
  backend-ts/src/lib/agents/index.ts
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/agents/system-prompt.ts
  backend-ts/src/lib/rules/1_task-planning.mdc
  backend-ts/src/lib/rules/2_ai-message-formatting.mdc
  backend-ts/src/lib/rules/3_circuit-tools.mdc
  backend-ts/src/lib/rules/4_entitycore-tools.mdc
  backend-ts/src/lib/rules/5_platform-overview.mdc
  backend-ts/src/lib/rules/6_restrictions.mdc
  backend-ts/src/lib/rules/7_tool-calling.mdc
  backend-ts/tests/agents/system-prompt.test.ts
  backend-ts/tsconfig.test.json
Due: prettier, eslint, type-check

Fix message disappearing issue
  frontend/src/app/threads/[threadId]/page.tsx
Due: prettier, eslint, type-check

Add stop functionality
  backend-ts/docs/README.md
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/lib/agents/routine.ts
Due: prettier, eslint, type-check

Allow tool selection
  backend-ts/next.config.ts
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
Due: prettier, eslint, type-check

remove loggers and fix tool filtering logic
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/app/api/qa/validate_tool/route.ts
  backend-ts/src/app/api/threads/[thread_id]/messages/route.ts
  backend-ts/src/app/api/threads/[thread_id]/route.ts
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/db/client.ts
  backend-ts/src/lib/mcp/client.ts
  backend-ts/src/lib/tools/test/DangerousTool.ts
  backend-ts/src/lib/utils/tool-filtering.ts
Due: prettier, eslint, type-check

Implement a dummy version of ask a question about the simulation config
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obione_infosimulationsconfig.py
Due: mypy

Make sure a pydantic BaseModel is returned
  backend/src/neuroagent/tools/obione_infosimulationsconfig.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Add changelog entry
  CHANGELOG.md
Due: none

Integrate pricing schema
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Add a unit tests
  backend/tests/tools/test_obi_expert.py
Due: none

Add deepeval test cases
  backend/eval/input/pricing_free_vs_pro/expected_output.md
  backend/eval/input/pricing_free_vs_pro/expected_tool_calls.json
  backend/eval/input/pricing_free_vs_pro/params.json
  backend/eval/input/pricing_free_vs_pro/user.md
  backend/eval/input/pricing_plans_overview/expected_output.md
  backend/eval/input/pricing_plans_overview/expected_tool_calls.json
  backend/eval/input/pricing_plans_overview/params.json
  backend/eval/input/pricing_plans_overview/user.md
  backend/eval/input/pricing_simulation_costs/expected_output.md
  backend/eval/input/pricing_simulation_costs/expected_tool_calls.json
  backend/eval/input/pricing_simulation_costs/params.json
  backend/eval/input/pricing_simulation_costs/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Get latest ruff and bandit and fix issues
  backend/pyproject.toml
  backend/src/neuroagent/mcp.py
  backend/uv.lock
Due: mypy

Rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Pricing info in OBI Expert (#687)
  CHANGELOG.md
  backend/eval/input/pricing_free_vs_pro/expected_output.md
  backend/eval/input/pricing_free_vs_pro/expected_tool_calls.json
  backend/eval/input/pricing_free_vs_pro/params.json
  backend/eval/input/pricing_free_vs_pro/user.md
  backend/eval/input/pricing_plans_overview/expected_output.md
  backend/eval/input/pricing_plans_overview/expected_tool_calls.json
  backend/eval/input/pricing_plans_overview/params.json
  backend/eval/input/pricing_plans_overview/user.md
  backend/eval/input/pricing_simulation_costs/expected_output.md
  backend/eval/input/pricing_simulation_costs/expected_tool_calls.json
  backend/eval/input/pricing_simulation_costs/params.json
  backend/eval/input/pricing_simulation_costs/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/pyproject.toml
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
  backend/uv.lock
Due: mypy
