Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

First POC
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/get_variable_tool.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/src/neuroagent/utils.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Ts autogen (#508)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/get-suggestions.ts
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/question-suggestion-cards.tsx
  frontend/src/components/chat/user-journey-dialog.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/get-thread-page.ts
  frontend/src/lib/neuroagent_types.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Switch to flash for tool selection (#533)
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/tool-calling.mdc
Due: mypy

Prevent LLM for over validating
  CHANGELOG.md
  backend/src/neuroagent/rules/ai-message-formatting.mdc
Due: mypy

Try to enforce using metric tools rather than downloading assets
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

Changelog
  CHANGELOG.md
Due: none

Prevent LLM for over validating (#544)
  CHANGELOG.md
  backend/src/neuroagent/rules/ai-message-formatting.mdc
Due: mypy

Try to enforce using metric tools rather than downloading assets (#545)
  CHANGELOG.md
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

Add alembic script
  backend/alembic/versions/ff0c094f5044_variables.py
Due: none

first working
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/storage.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  backend/src/neuroagent/utils.py
  backend/tests/app/routers/test_storage.py
  backend/tests/app/routers/test_threads.py
  backend/tests/test_utils.py
  backend/tests/tools/test_generate_plot.py
Due: mypy

Switch message content to jsonb
  backend/alembic/versions/92694adcad71_message_content_jsonb.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/utils.py
Due: mypy

first plot appeared
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/storage.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/storage/azure_storage.py
  backend/src/neuroagent/storage/base_storage.py
  backend/src/neuroagent/storage/s3_storage.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  backend/src/neuroagent/utils.py
  backend/tests/app/routers/test_storage.py
  backend/tests/test_utils.py
  backend/tests/tools/test_generate_plot.py
  docker-compose.yml
  frontend/next.config.ts
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/hooks/get-presigned.ts
Due: mypy, prettier, eslint, type-check

first plot appeared
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/storage/azure_storage.py
Due: mypy

small fixes
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/storage/azure_storage.py
  backend/src/neuroagent/storage/s3_storage.py
Due: mypy

fix first CI
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

add azure to pyproject
  backend/pyproject.toml
Due: none

uv lock
  backend/uv.lock
Due: none

POC
  backend/pyproject.toml
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obione.graphql
  backend/src/neuroagent/tools/obi_graphql.py
Due: mypy

Make python tool able to plot
  backend/pyproject.toml
  backend/setup_pyodide.mjs
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/run_python_tool.py
  backend/uv.lock
  frontend/src/components/plots/linechart.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

fix
  backend/src/neuroagent/storage/azure_storage.py
  docker-compose.yml
Due: mypy

add ReadMe commands
  README.md
Due: none

fix and add tests
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_storage.py
  backend/tests/app/routers/test_tools.py
  backend/tests/storage/test_azure_storage.py
  backend/tests/storage/test_s3_storage.py
  backend/tests/test_utils.py
Due: none

Try obicode tool
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obi_code_tool.py
Due: mypy

Reuse pydantic model
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Update stuff
  backend/eval/aggregate/overall_results.json
  backend/eval/individual/cerebellum_morphologies/output/ai.md
  backend/eval/individual/cerebellum_morphologies/output/results.json
  backend/eval/individual/matplotlib_plot/output/actual_tool_calls.json
  backend/eval/individual/matplotlib_plot/output/ai.md
  backend/eval/individual/matplotlib_plot/output/results.json
  backend/eval/individual/morphology_studies/output/actual_tool_calls.json
  backend/eval/individual/morphology_studies/output/ai.md
  backend/eval/individual/morphology_studies/output/results.json
  backend/eval/individual/neuroscientists_search/output/actual_tool_calls.json
  backend/eval/individual/neuroscientists_search/output/ai.md
  backend/eval/individual/neuroscientists_search/output/results.json
  backend/eval/individual/platform_news/output/ai.md
  backend/eval/individual/platform_news/output/results.json
  backend/eval/individual/simulation_tutorial/output/ai.md
  backend/eval/individual/simulation_tutorial/output/results.json
  backend/eval/individual/sin_plot/output/actual_tool_calls.json
  backend/eval/individual/sin_plot/output/ai.md
  backend/eval/individual/sin_plot/output/results.json
  backend/eval/individual/species_list/output/ai.md
  backend/eval/individual/species_list/output/results.json
  backend/eval/individual/thalamus_id/output/ai.md
  backend/eval/individual/thalamus_id/output/results.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Github action + created_at timestamp
  .github/workflows/check-deepeval.yml
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Update eval
  backend/eval/aggregate/overall_results.json
  backend/eval/individual/cerebellum_morphologies/output/ai.md
  backend/eval/individual/cerebellum_morphologies/output/results.json
  backend/eval/individual/matplotlib_plot/output/actual_tool_calls.json
  backend/eval/individual/matplotlib_plot/output/ai.md
  backend/eval/individual/matplotlib_plot/output/results.json
  backend/eval/individual/morphology_studies/output/actual_tool_calls.json
  backend/eval/individual/morphology_studies/output/ai.md
  backend/eval/individual/morphology_studies/output/results.json
  backend/eval/individual/neuroscientists_search/output/actual_tool_calls.json
  backend/eval/individual/neuroscientists_search/output/ai.md
  backend/eval/individual/neuroscientists_search/output/results.json
  backend/eval/individual/platform_news/output/ai.md
  backend/eval/individual/platform_news/output/results.json
  backend/eval/individual/simulation_tutorial/output/ai.md
  backend/eval/individual/simulation_tutorial/output/results.json
  backend/eval/individual/sin_plot/output/actual_tool_calls.json
  backend/eval/individual/sin_plot/output/ai.md
  backend/eval/individual/sin_plot/output/results.json
  backend/eval/individual/species_list/output/ai.md
  backend/eval/individual/species_list/output/results.json
  backend/eval/individual/thalamus_id/output/actual_tool_calls.json
  backend/eval/individual/thalamus_id/output/ai.md
  backend/eval/individual/thalamus_id/output/results.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Pin deepeval dependency from below
  backend/pyproject.toml
  backend/uv.lock
Due: none

Make sure script has better defaults
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Remove unused variables
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

bring back images in Literature Search
  CHANGELOG.md
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
Due: mypy

New script that compares results
  .github/workflows/check-deepeval.yml
  backend/eval/aggregate/overall_results.json
  backend/eval/individual/cerebellum_morphologies/output/ai.md
  backend/eval/individual/cerebellum_morphologies/output/results.json
  backend/eval/individual/matplotlib_plot/output/actual_tool_calls.json
  backend/eval/individual/matplotlib_plot/output/ai.md
  backend/eval/individual/matplotlib_plot/output/results.json
  backend/eval/individual/morphology_studies/output/actual_tool_calls.json
  backend/eval/individual/morphology_studies/output/ai.md
  backend/eval/individual/morphology_studies/output/results.json
  backend/eval/individual/neuroscientists_search/output/actual_tool_calls.json
  backend/eval/individual/neuroscientists_search/output/ai.md
  backend/eval/individual/neuroscientists_search/output/results.json
  backend/eval/individual/platform_news/output/ai.md
  backend/eval/individual/platform_news/output/results.json
  backend/eval/individual/simulation_tutorial/output/ai.md
  backend/eval/individual/simulation_tutorial/output/results.json
  backend/eval/individual/sin_plot/output/actual_tool_calls.json
  backend/eval/individual/sin_plot/output/ai.md
  backend/eval/individual/sin_plot/output/results.json
  backend/eval/individual/species_list/output/ai.md
  backend/eval/individual/species_list/output/results.json
  backend/eval/individual/thalamus_id/output/actual_tool_calls.json
  backend/eval/individual/thalamus_id/output/ai.md
  backend/eval/individual/thalamus_id/output/results.json
  backend/src/neuroagent/scripts/compare_results.py
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

small fix and fix autogen
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Only handle new format loading
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

Handle non tool overlap nicely
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

If both files provided only show the comparison table
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

Add colors
  .github/workflows/check-deepeval.yml
  backend/pyproject.toml
  backend/src/neuroagent/scripts/compare_results.py
  backend/uv.lock
Due: mypy

Try to display colors in GA
  .github/workflows/check-deepeval.yml
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy
