Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Fix deepeval big time
  backend/eval/input/connectivity_metrics/expected_output.md
  backend/eval/input/connectivity_metrics/expected_tool_calls.json
  backend/eval/input/connectivity_metrics/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Refresh deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Ignore mypy errors
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
Due: mypy

Make sure values are always strings
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Finalize maybe
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/circuit-tools.mdc
Due: mypy

Different description
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

bring back images in Literature Search (#554)
  .github/workflows/check-deepeval.yml
  CHANGELOG.md
  backend/eval/input/matplotlib_plot/expected_output.md
  backend/eval/input/matplotlib_plot/expected_tool_calls.json
  backend/eval/input/sin_plot/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
  frontend/package-lock.json
  frontend/src/components/chat/question-suggestion-cards.tsx
Due: mypy, prettier, eslint, type-check

Update test case
  backend/eval/input/ion_channel_recording/expected_tool_calls.json
Due: none

Prevent LLM from talking about UI stuff (#572)
  CHANGELOG.md
  backend/eval/input/platform_explore/expected_output.md
  backend/eval/input/platform_explore/expected_tool_calls.json
  backend/eval/input/platform_explore/params.json
  backend/eval/input/platform_explore/user.md
  backend/eval/input/platform_ui_simulate/expected_output.md
  backend/eval/input/platform_ui_simulate/expected_tool_calls.json
  backend/eval/input/platform_ui_simulate/params.json
  backend/eval/input/platform_ui_simulate/user.md
  backend/eval/input/platform_viewing/expected_output.md
  backend/eval/input/platform_viewing/expected_tool_calls.json
  backend/eval/input/platform_viewing/params.json
  backend/eval/input/platform_viewing/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Revert verbosity and reasoning effort
  backend/src/neuroagent/agent_routine.py
Due: mypy

Add 4 ion channel tools (#570)
  CHANGELOG.md
  backend/eval/input/ion_channel/expected_output.md
  backend/eval/input/ion_channel/expected_tool_calls.json
  backend/eval/input/ion_channel/params.json
  backend/eval/input/ion_channel/user.md
  backend/eval/input/ion_channel_recording/expected_output.md
  backend/eval/input/ion_channel_recording/expected_tool_calls.json
  backend/eval/input/ion_channel_recording/params.json
  backend/eval/input/ion_channel_recording/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_ionchannel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannel_getone.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getone.py
Due: mypy

Handle validation error in evaluate_agent
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Stress that layer is a string and remove level of detail from expected since it is a default
  backend/eval/input/connectivity_metrics/expected_tool_calls.json
  backend/eval/input/connectivity_metrics_extra_filters/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Update obione autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

One final prompt engineering
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Remove a tool from a different PR
  backend/src/neuroagent/tools/obione_schema_viewer.py
Due: mypy

autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
Due: mypy

Add more rules
  backend/src/neuroagent/rules/circuit-tools.mdc
Due: mypy

Remove private info
  backend/eval/input/get_specific_circuit/expected_output.md
Due: none

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Fix autogen leftover bug
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
Due: mypy

Rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Add a new rule file
  backend/src/neuroagent/rules/code-generation.mdc
Due: mypy

Add context7 mcp server - without the API key -> lower rate limits
  backend/src/neuroagent/mcp.json
Due: mypy

Improve rule
  backend/src/neuroagent/rules/code-generation.mdc
Due: mypy

Bette descriptions
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/rules/code-generation.mdc
Due: mypy

Fix English
  backend/src/neuroagent/rules/code-generation.mdc
Due: mypy

New test cases
  CHANGELOG.md
  backend/eval/input/software_docs_entitysdk/expected_output.md
  backend/eval/input/software_docs_entitysdk/expected_tool_calls.json
  backend/eval/input/software_docs_entitysdk/params.json
  backend/eval/input/software_docs_entitysdk/user.md
  backend/eval/input/software_docs_obione/expected_output.md
  backend/eval/input/software_docs_obione/expected_tool_calls.json
  backend/eval/input/software_docs_obione/params.json
  backend/eval/input/software_docs_obione/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/code-generation.mdc
Due: mypy

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
Due: mypy

Update uv lock
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/uv.lock
Due: none

Update uv lock
  CHANGELOG.md
  backend/uv.lock
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
Due: mypy

Make plotting happen through plotly backend+frontend
  CHANGELOG.md
  backend/setup_pyodide.mjs
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/run_python_tool.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/PlotStyles.css
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/multi-linechart.tsx
  frontend/src/components/plots/piechart.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/components/plots/scatterplot.tsx
Due: mypy, prettier, eslint, type-check

Small fixes
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/utils.py
  frontend/package.json
Due: mypy

Make python tool able to plot
  backend/pyproject.toml
  backend/setup_pyodide.mjs
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/run_python_tool.py
  backend/uv.lock
  frontend/src/components/plots/linechart.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/tests/tools/test_generate_plot.py
Due: mypy

Fix tests
  backend/tests/conftest.py
Due: none

More cleanup
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/setup_pyodide.mjs
  backend/src/neuroagent/tools/run_python_tool.py
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

partial WASM executor adaptation
  backend/pyproject.toml
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
Due: mypy
