Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

0.12.1 (#622)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Fix python tool
  CHANGELOG.md
  backend/src/neuroagent/executor.py
Due: mypy

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Fix python tool (#623)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/executor.py
Due: mypy

small fix
  backend/src/neuroagent/agent_routine.py
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Properly wait for python subprocess to finish before stdout parsing
  CHANGELOG.md
  backend/src/neuroagent/executor.py
Due: mypy

Fix tests
  backend/tests/test_executor.py
Due: none

Update package
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Properly wait for python subprocess to finish before stdout parsing (#624)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/executor.py
  backend/tests/test_executor.py
Due: mypy

Do not push image to ML private ECR
  .github/workflows/ecr.yml
Due: none

Autogen
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Small fix
  backend/src/neuroagent/app/config.py
Due: mypy

Do not push image to ML private ECR (#625)
  .github/workflows/ecr.yml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Optimize prompt and make the agent more transparent during its workflow
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/1_task_planning.mdc
  backend/src/neuroagent/rules/2_ai-message-formatting.mdc
  backend/src/neuroagent/rules/3_circuit-tools.mdc
  backend/src/neuroagent/rules/4_entitycore-tools.mdc
  backend/src/neuroagent/rules/5_platform-overview.mdc
  backend/src/neuroagent/rules/6_restrictions.mdc
  backend/src/neuroagent/rules/7_tool-calling.mdc
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/circuit-tools.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
Due: mypy

Fix tests
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/test_dependencies.py
Due: mypy

Make the model use obi expert
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/5_platform-overview.mdc
Due: mypy

rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Rename task planning rule
  backend/src/neuroagent/rules/1_task_planning.mdc
Due: mypy

Rename task planning rule
  backend/src/neuroagent/rules/1_task-planning.mdc
Due: mypy

Adjust changelog
  CHANGELOG.md
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Add changes
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Make sure to reinsert the value in the query params (in case it was equal to the default)
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Some more tweaks
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/1_task-planning.mdc
  backend/src/neuroagent/rules/2_ai-message-formatting.mdc
  backend/src/neuroagent/rules/4_entitycore-tools.mdc
  backend/src/neuroagent/rules/7_tool-calling.mdc
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

Silence mypy
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Add new deepeval case
  backend/eval/input/cerebellum_morphologies_descendants/expected_output.md
  backend/eval/input/cerebellum_morphologies_descendants/expected_tool_calls.json
  backend/eval/input/cerebellum_morphologies_descendants/params.json
  backend/eval/input/cerebellum_morphologies_descendants/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Use description instead of title
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Update deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

New brain region traversal query param (#629)
  CHANGELOG.md
  backend/eval/input/cerebellum_morphologies_descendants/expected_output.md
  backend/eval/input/cerebellum_morphologies_descendants/expected_tool_calls.json
  backend/eval/input/cerebellum_morphologies_descendants/params.json
  backend/eval/input/cerebellum_morphologies_descendants/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Fix eval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Change to low reasoning and shorten prompt
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Introduce logfire tracing
  backend/pyproject.toml
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/main.py
  backend/uv.lock
Due: mypy

Changelog
  CHANGELOG.md
Due: none
