Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Reorganize changelog
  CHANGELOG.md
Due: none

Make sure .env is not read in tests (#427)
  CHANGELOG.md
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/app/test_main.py
  backend/tests/conftest.py
Due: none

Add copy token button (#432)
  CHANGELOG.md
  frontend/src/components/layout/header.tsx
Due: prettier, eslint, type-check

temp commit
  backend/src/neuroagent/platform_description.json
  backend/src/neuroagent/tools/context_analyzer_tool.py
  backend/src/neuroagent/utils.py
Due: mypy

anaylzer tool POC
  backend/src/neuroagent/platform_description.json
  backend/src/neuroagent/tools/context_analyzer_tool.py
  backend/src/neuroagent/utils.py
Due: mypy

Make Settings hashable
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

More false positives
  CHANGELOG.md
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

More false positives (#435)
  CHANGELOG.md
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

fix healthchecks and test
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/context_analyzer_tool.py
Due: mypy

fix typo
  backend/src/neuroagent/tools/context_analyzer_tool.py
Due: mypy

Fix the issue
  backend/tests/conftest.py
Due: none

Update changelog
  CHANGELOG.md
Due: none

Run autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

add tool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/link_generator_tool.py
Due: mypy

Fix url
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix typo
  backend/tests/conftest.py
Due: none

Implement feature
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Allow for timezone in the input query params but use utc without timezone in the db
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Don't send boto3 HTTP requests in tests (#437)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/tests/conftest.py
Due: mypy

batch mode
  backend/src/neuroagent/tools/link_generator_tool.py
Due: mypy

Add config generation tool for simulations
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Write tests
  backend/tests/app/routers/test_threads.py
Due: none

Small cleanup
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Move tests around
  backend/tests/app/routers/test_threads.py
Due: none

selection of tools is working
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/link_generator_tool.py
Due: mypy

Cleanup any LS or WS related code
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/literature.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/web_search.py
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/conftest.py
  backend/tests/tools/test_literature_search_tool.py
  docker-compose.yml
Due: mypy

Fix tests
  backend/tests/app/routers/test_tools.py
Due: none

Track token usage inside of tool calls
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/src/neuroagent/utils.py
  backend/tests/app/test_app_utils.py
Due: mypy

Add new alembic script
  backend/alembic/versions/12bd7610cbc2_within_tool_call_task.py
Due: none

Fix token consumption when not happening
  backend/alembic/versions/12bd7610cbc2_within_tool_call_task.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Update autogen entitycore
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Cleanup any LS or WS related code (#443)
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/literature.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/web_search.py
  backend/tests/app/routers/test_tools.py
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/conftest.py
  backend/tests/tools/test_literature_search_tool.py
  docker-compose.yml
Due: mypy

Update entitycore autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Creation date filter in GET /threads (#438)
  CHANGELOG.md
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
Due: mypy

Add copy button for tool output
  CHANGELOG.md
  frontend/src/components/chat/tool-call-collapsible.tsx
Due: prettier, eslint, type-check

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
