Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Make renaming changes inside the tool
  backend/eval/input/obione_designcircuitsimulationscanconfig/expected_tool_calls.json
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
  frontend/src/components/chat/chat-message-tool.tsx
Due: mypy, prettier, eslint, type-check

Update changelog
  CHANGELOG.md
Due: none

Env var to skip MCP init
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/mcp.py
Due: mypy

Fix CI
  CHANGELOG.md
  backend/README.md
  backend/src/neuroagent/app/config.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Reduce verbosity and small bug fixes (#714)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/1_task-planning.mdc
  backend/src/neuroagent/rules/7_tool-calling.mdc
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
Due: mypy

NEUROAGENT_ -> NEUROAGENT__
  CHANGELOG.md
  backend/.env.example
  backend/README.md
  backend/alembic/env.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
  backend/tests/app/test_main.py
  backend/tests/conftest.py
  docker-compose.yml
Due: mypy

Leftovers
  backend/src/neuroagent/app/config.py
  backend/tests/app/test_config.py
Due: mypy

Env var to skip MCP init (#716)
  CHANGELOG.md
  backend/.env.example
  backend/README.md
  backend/alembic/env.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/app/test_main.py
  backend/tests/conftest.py
  docker-compose.yml
Due: mypy

Add a rule about the simulations
  backend/src/neuroagent/rules/8_simulations.mdc
Due: mypy

Update rules
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/8_simulations.mdc
  backend/src/neuroagent/tools/getstate.py
Due: mypy

Explain what it means if some first level keys are missing
  backend/src/neuroagent/rules/8_simulations.mdc
Due: mypy

Rerun autogen
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Update datamodel and undo old autogen
  backend/pyproject.toml
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/uv.lock
Due: mypy

UPdate deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Run linting + add new test cases
  backend/eval/input/frontend_url_brain_region/expected_output.md
  backend/eval/input/frontend_url_brain_region/expected_tool_calls.json
  backend/eval/input/frontend_url_brain_region/params.json
  backend/eval/input/frontend_url_brain_region/user.md
  backend/eval/input/shared_state_simulation_config/expected_output.md
  backend/eval/input/shared_state_simulation_config/expected_tool_calls.json
  backend/eval/input/shared_state_simulation_config/params.json
  backend/eval/input/shared_state_simulation_config/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/getstate.py
Due: mypy

Run all deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Add path input parameter to the getstate
  backend/eval/input/shared_state_simulation_config/expected_tool_calls.json
  backend/src/neuroagent/tools/getstate.py
Due: mypy

Update rules
  backend/src/neuroagent/rules/8_simulations.mdc
Due: mypy

Rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Various simulation config tickets (#715)
  CHANGELOG.md
  backend/eval/input/frontend_url_brain_region/expected_output.md
  backend/eval/input/frontend_url_brain_region/expected_tool_calls.json
  backend/eval/input/frontend_url_brain_region/params.json
  backend/eval/input/frontend_url_brain_region/user.md
  backend/eval/input/obione_designcircuitsimulationscanconfig/expected_output.md
  backend/eval/input/obione_designcircuitsimulationscanconfig/expected_tool_calls.json
  backend/eval/input/obione_designcircuitsimulationscanconfig/params.json
  backend/eval/input/obione_designcircuitsimulationscanconfig/user.md
  backend/eval/input/shared_state_simulation_config/expected_output.md
  backend/eval/input/shared_state_simulation_config/expected_tool_calls.json
  backend/eval/input/shared_state_simulation_config/params.json
  backend/eval/input/shared_state_simulation_config/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/pyproject.toml
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/8_simulations.mdc
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/getstate.py
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
  backend/uv.lock
  frontend/src/components/chat/chat-message-tool.tsx
Due: mypy, prettier, eslint, type-check

adress comments
  backend/src/neuroagent/rules/6_restrictions.mdc
  backend/src/neuroagent/tools/run_python_tool.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/src/components/memoized-markdown.tsx
Due: mypy, prettier, eslint, type-check

Embed plots in chat (#674)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/2_ai-message-formatting.mdc
  backend/src/neuroagent/tools/run_python_tool.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/backup-plot.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/components/plots/skeleton.tsx
  frontend/src/hooks/get-presigned.ts
  frontend/src/hooks/get-storage-object.ts
  frontend/src/lib/storage-queries.ts
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
Due: mypy, prettier, eslint, type-check

Check for same id in designsimconfig
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
Due: mypy

Make frontend extraction more secure
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Fix small issue
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
Due: mypy

Changelog and deepeval
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix tests
  backend/tests/app/test_app_utils.py
Due: none

Sim config url check circuit (#720)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
  backend/tests/app/test_app_utils.py
Due: mypy

First draft of sequential edits
  backend/pyproject.toml
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/editstate.py
  backend/src/neuroagent/tools/getstate.py
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
  backend/src/neuroagent/tools/obione_getstate.py
  backend/src/neuroagent/tools/validatestate.py
  backend/uv.lock
  frontend/src/components/chat/chat-message-tool.tsx
Due: mypy, prettier, eslint, type-check

Polish state tools
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/rules/8_simulations.mdc
  backend/src/neuroagent/rules/9_state-sharing.mdc
  backend/src/neuroagent/tools/editstate.py
  backend/src/neuroagent/tools/getstate.py
  backend/src/neuroagent/tools/obione_designcircuitsimulationscanconfig.py
  backend/src/neuroagent/tools/validatestate.py
  backend/src/neuroagent/utils.py
  backend/tests/app/test_app_utils.py
Due: mypy

Add deepeval testcases
  backend/eval/input/obione_designcircuitsimulationscanconfig/expected_output.md
  backend/eval/input/obione_designcircuitsimulationscanconfig/expected_tool_calls.json
  backend/eval/input/obione_designcircuitsimulationscanconfig/params.json
  backend/eval/input/obione_designcircuitsimulationscanconfig/user.md
  backend/eval/input/shared_state_simulation_config/expected_output.md
  backend/eval/input/shared_state_simulation_config/params.json
  backend/eval/input/shared_state_simulation_config/user.md
  backend/eval/input/state_complete_workflow/expected_output.md
  backend/eval/input/state_complete_workflow/expected_tool_calls.json
  backend/eval/input/state_complete_workflow/params.json
  backend/eval/input/state_complete_workflow/user.md
  backend/eval/input/state_editstate_add_stimulus/expected_output.md
  backend/eval/input/state_editstate_add_stimulus/expected_tool_calls.json
  backend/eval/input/state_editstate_add_stimulus/params.json
  backend/eval/input/state_editstate_add_stimulus/user.md
  backend/eval/input/state_editstate_remove_field/expected_output.md
  backend/eval/input/state_editstate_remove_field/expected_tool_calls.json
  backend/eval/input/state_editstate_remove_field/params.json
  backend/eval/input/state_editstate_remove_field/user.md
  backend/eval/input/state_editstate_simple/expected_output.md
  backend/eval/input/state_editstate_simple/expected_tool_calls.json
  backend/eval/input/state_editstate_simple/params.json
  backend/eval/input/state_editstate_simple/user.md
  backend/eval/input/state_editstate_validate_workflow/expected_output.md
  backend/eval/input/state_editstate_validate_workflow/expected_tool_calls.json
  backend/eval/input/state_editstate_validate_workflow/params.json
  backend/eval/input/state_editstate_validate_workflow/user.md
  backend/eval/input/state_getstate_full/expected_output.md
  backend/eval/input/state_getstate_full/expected_tool_calls.json
  backend/eval/input/state_getstate_full/params.json
  backend/eval/input/state_getstate_full/user.md
  backend/eval/input/state_getstate_specific/expected_output.md
  backend/eval/input/state_getstate_specific/expected_tool_calls.json
  backend/eval/input/state_getstate_specific/params.json
  backend/eval/input/state_getstate_specific/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Small rule tweak
  CHANGELOG.md
  backend/src/neuroagent/rules/9_state-sharing.mdc
Due: mypy

Add doc file
  docs/state-management-tools.md
Due: none

Fix tests
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/shared_state.py
  backend/src/neuroagent/tools/editstate.py
  backend/src/neuroagent/tools/getstate.py
  backend/src/neuroagent/tools/validatestate.py
  backend/tests/tools/test_state_tools.py
Due: mypy

Migrate tests from app_utils to utils
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/obione_getstate.py
  backend/tests/app/test_app_utils.py
  backend/tests/test_utils.py
Due: mypy

uv lock
  backend/uv.lock
Due: none

Do it all
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Release 0.16.1 (#722)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy
