Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Subclass first from exclude class
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Add forgotten
  backend/eval/input/cerebellum_morphologies/expected_tool_calls.json
  backend/eval/input/cerebellum_morphologies/user.md
  backend/tests/tools/test_base_tool.py
Due: none

Fix name exclusion logic
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
  backend/src/neuroagent/tools/entitycore_strain_getall.py
  backend/tests/tools/test_base_tool.py
Due: mypy

Fix invalid json issue
  backend/eval/input/cerebellum_morphologies/expected_tool_calls.json
Due: none

Fix rules
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

switch everything to response API
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/tools/circuit_population_analysis_tool.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/src/neuroagent/utils.py
Due: mypy

Rephrase wording in rules
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

Base class for excluded parameters + resolving of asset/hierarchy id … (#591)
  CHANGELOG.md
  backend/eval/input/cerebellum_morphologies/expected_tool_calls.json
  backend/eval/input/cerebellum_morphologies/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
  backend/src/neuroagent/tools/entitycore_strain_getall.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  backend/tests/tools/test_base_tool.py
Due: mypy

Update deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Do the release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

New release - v0.11.5 (#601)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

fix first tests
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/mock_client.py
Due: none

fix test 1
  backend/tests/mock_client.py
  backend/tests/test_agent_routine.py
Due: none

fix last tests
  backend/tests/test_agent_routine.py
Due: none

update deepeval code + run
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

re-run deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

run all deepeval cases
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

remove MD5 key for pagination and better stream stopping (content tokens are kept)
  backend/src/neuroagent/agent_routine.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/search-popover.tsx
Due: mypy, prettier, eslint, type-check

fix frontend tool selection and possible bug in OpenRouter's reponse API.
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/tools/circuit_population_analysis_tool.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/src/neuroagent/utils.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

remove breakpoint
  backend/src/neuroagent/app/app_utils.py
Due: mypy

fix partial messages 1
  backend/src/neuroagent/agent_routine.py
Due: mypy

fix stop
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Push neuroagent to OBI private ERC
  .github/workflows/ecr.yml
Due: none

Update changelog and rerun autogen
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Run autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Push neuroagent to OBI private ERC (#605)
  .github/workflows/ecr.yml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

fix HIL
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
Due: mypy, prettier, eslint, type-check

fix tests
  CHANGELOG.md
  backend/src/neuroagent/app/app_utils.py
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_app_utils.py
  backend/tests/test_agent_routine.py
Due: mypy

fix tool pre-selection
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/utils.py
Due: mypy

fix weird bug in parse enpoint, Openrouter ??
  backend/src/neuroagent/utils.py
Due: mypy

fix test
  backend/tests/app/routers/test_threads.py
Due: none

fix autogen, merge utils funcitons, now pre-selector is working with good types
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/utils.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

add test for util function
  backend/tests/test_utils.py
Due: none

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Run autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Introduce automatic model routing
  CHANGELOG.md
  backend/alembic/versions/fdf804b5fd7c_model_selection_table.py
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
  backend/tests/test_agent_routine.py
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

Rename table index complexity and make reasoning level nullable
  backend/alembic/versions/fdf804b5fd7c_model_selection_table.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/test_app_utils.py
Due: mypy
