Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

working parralel HIL, please help
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/routers/tools.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
Due: mypy, prettier, eslint, type-check

Switch to async subprocess
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
  backend/tests/test_executor.py
Due: mypy

Adapt tests
  backend/src/neuroagent/tools/run_python_tool.py
  backend/tests/test_executor.py
Due: mypy

Add default to switch case back
  frontend/src/components/chat/plot-in-chat.tsx
Due: prettier, eslint, type-check

small fix
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
Due: mypy

Put the command that needs to be run in the standard output of the CI
  .github/workflows/check-deepeval.yml
Due: none

Update uv-lock
  backend/uv.lock
Due: none

Modify matplotlib_plot
  backend/eval/input/matplotlib_plot/expected_output.md
  backend/eval/input/matplotlib_plot/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Use up to date tool name
  backend/eval/input/cerebellum_morphologies/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Run autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

fix hil sequential tool calls
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Modify GA
  .github/workflows/check-deepeval.yml
  CHANGELOG.md
Due: none

Rerun eval
  .github/workflows/check-deepeval.yml
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix autogen thumbnail
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Also trigger deepeval github action on `main` (#563)
  .github/workflows/check-deepeval.yml
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Fixe some of the CI issues
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Give explanations on how to use the endpoint
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
Due: mypy

Switch to chunk accumulation in stdout + try to get rid of pyodide proxy issue
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
  backend/tests/test_executor.py
Due: mypy

Describe the basics of the SONATA spec
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Change buffer read size
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/executor.py
Due: mypy

Clean up
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Run eval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Explain output format
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Fix eval cases
  backend/eval/input/matplotlib_plot/expected_tool_calls.json
  backend/eval/input/matplotlib_plot/user.md
  backend/eval/input/sin_plot/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

More info on the output format
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

backend linting
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
Due: mypy

Add perm to tempdir
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/executor.py
Due: mypy

Rename eval folder
  backend/eval/input/plotting/expected_output.md
  backend/eval/input/plotting/expected_tool_calls.json
  backend/eval/input/plotting/params.json
  backend/eval/input/plotting/user.md
Due: none

Update outputs
  backend/eval/input/plotting/expected_output.md
  backend/eval/input/sin_plot/expected_output.md
Due: none

fix FE linting
  frontend/src/__tests__/lib/utils.test.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/env.ts
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

fix tests backend
  CHANGELOG.md
  backend/tests/app/test_app_utils.py
Due: none

More prompt engineering
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getone.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
Due: mypy

New test case for get one circuit
  backend/eval/input/get_specific_circuit/expected_output.md
  backend/eval/input/get_specific_circuit/expected_tool_calls.json
  backend/eval/input/get_specific_circuit/params.json
  backend/eval/input/get_specific_circuit/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Allow to read one env var + switch to pathlib
  backend/src/neuroagent/executor.py
Due: mypy

New test for connectivity
  backend/eval/input/connectivity_metrics/expected_output.md
  backend/eval/input/connectivity_metrics/expected_tool_calls.json
  backend/eval/input/connectivity_metrics/params.json
  backend/eval/input/connectivity_metrics/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
Due: mypy

Prompt engineer and adjust test cases
  backend/eval/input/connectivity_metrics/expected_output.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/entitycore_circuit_getone.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/tests/tools/test_obione_morphometrics_getone.py
Due: mypy

Track missing rule
  backend/src/neuroagent/rules/obi-tools.mdc
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Update results
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Adjust script
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
