Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

test
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
  frontend/src/actions/save-settings.ts
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/parameter-form.tsx
Due: mypy, prettier, eslint, type-check

update obione
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

temp
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
Due: mypy

remove frontend url
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
  frontend/src/actions/save-settings.ts
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/parameter-form.tsx
Due: mypy, prettier, eslint, type-check

fix CI
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
Due: mypy

Rename exa tools
  CHANGELOG.md
  backend/src/neuroagent/mcp.json
Due: mypy

Autogen
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Pin v0.3.10
  backend/src/neuroagent/mcp.json
Due: mypy

update changelog
  CHANGELOG.md
Due: none

shorter platform description
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/platform_description.json
  backend/src/neuroagent/tools/context_analyzer_tool.py
Due: mypy

Add config generation tool for simulations (#441)
  CHANGELOG.md
  backend/alembic/versions/12bd7610cbc2_within_tool_call_task.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/mcp.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/src/neuroagent/utils.py
  backend/tests/app/test_app_utils.py
Due: mypy

Remove renaming of tools
  backend/src/neuroagent/mcp.json
Due: mypy

tool working
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
  backend/src/neuroagent/tools/link_generator_tool.py
Due: mypy

Rename exa tools (#451)
  CHANGELOG.md
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

revert exa names
  backend/src/neuroagent/mcp.json
Due: mypy

release v0.7.2
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

release v0.7.2 (#453)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

re-run autogen with extra allow and edapt tools
  .github/workflows/autogen.yml
  backend/src/neuroagent/README.md
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
Due: mypy

remove bluenaas tools
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
Due: mypy

adress comment
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Entitycore links (#450)
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/README.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getone.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getone.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getone.py
Due: mypy

fix first commments
  backend/pyproject.toml
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/context_analyzer_tool.py
Due: mypy

adress comments
  backend/src/neuroagent/platform_description.json
  backend/src/neuroagent/tools/context_analyzer_tool.py
Due: mypy

Fix import
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Update .env.example
  backend/.env.example
Due: none

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Simplify code
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Sort field should be fixed
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

add test
  backend/src/neuroagent/tools/context_analyzer_tool.py
  backend/tests/tools/test_context_analyzer_tool.py
Due: mypy

autogen entitycore
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Get rid of portable text attributes
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
Due: mypy

Reorganize code
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Update false positives
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

Add unit test for Page and glossaryItem
  backend/tests/tools/test_obi_expert.py
Due: none

Add unit test for news
  backend/tests/tools/test_obi_expert.py
Due: none

Add test for tutorial
  backend/tests/tools/test_obi_expert.py
Due: none

Test public project
  backend/tests/tools/test_obi_expert.py
Due: none

Add test for futureFeatureItem
  backend/tests/tools/test_obi_expert.py
Due: none

Add reference to official sanity docs
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
