Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Move deepeval to dev
  backend/pyproject.toml
  backend/uv.lock
Due: none

Fix copy to clipboard buttons in non http environments
  CHANGELOG.md
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/layout/header.tsx
Due: prettier, eslint, type-check

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

working frontend + backend
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/sidebar/search-popover.tsx
  frontend/src/components/sidebar/sidebar.tsx
  frontend/src/lib/fetcher.ts
Due: mypy, prettier, eslint, type-check

changelog
  CHANGELOG.md
Due: none

Fix copy to clipboard buttons in non http environments (#477)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/layout/header.tsx
Due: mypy, prettier, eslint, type-check

autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

de-duplicate threads and polish UI
  backend/src/neuroagent/app/routers/threads.py
  frontend/src/components/sidebar/search-popover.tsx
Due: mypy, prettier, eslint, type-check

remove non necessaty index
  backend/alembic/versions/cd5a73ea91db_add_ts_vector.py
Due: none

Consider only 9: when parsing tool calls
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Wrap thread deletion in a try finally
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Dynamically import tools
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Rerun autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Debug ci
  .github/workflows/autogen.yml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Debug ci
  .github/workflows/autogen.yml
Due: none

Revert CI and give up for now
  .github/workflows/autogen.yml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix CI
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Introduce Deepeval evaluation (#473)
  CHANGELOG.md
  backend/.gitignore
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
  backend/pyproject.toml
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/obi_expert.py
  backend/uv.lock
Due: mypy

Add trace plotting tool
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
Due: mypy

Small fixes
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
Due: mypy

Switch token consumption task to CHAT_COMPLETION in agents_routine
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
Due: mypy

Switch token consumption task to CHAT_COMPLETION in agents_routine (#482)
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
Due: mypy

Add trace plotting tool (#481)
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
Due: mypy

Maximize prompt caching and prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Remove breakpoint
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Fix tests
  backend/tests/app/test_dependencies.py
Due: none

Maximize caching (#483)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/test_dependencies.py
Due: mypy

Introduce tags column
  backend/eval/eval_dataset.csv
Due: none

Add one literature search
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Change actual output based on the metric
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Always dump in json mode
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Actually use placeholders in the eval dataset rather than real things
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Introduce dummy tool for no tool calls
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add web search example
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
Due: none

Better
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
Due: none

Add one more
  backend/eval/eval_dataset.csv
  backend/eval/eval_results.csv
Due: none
