Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

release v0.14.3 (#677)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Towards working API
  backend-ts/docs/ARCHITECTURE-DIAGRAM.md
  backend-ts/docs/BEFORE-AFTER-COMPARISON.md
  backend-ts/docs/CONSOLIDATION-SUMMARY.md
  backend-ts/docs/ENTITYCORE-RESPONSE-SCHEMA-FIX.md
  backend-ts/docs/REFACTOR-COMPLETE.md
  backend-ts/docs/TOOL-REFACTOR-SUMMARY.md
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/app/api/qa/question_suggestions/route.ts
  backend-ts/src/app/api/threads/[thread_id]/messages/route.ts
  backend-ts/src/app/api/tools/route.ts
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/mcp/client.ts
  backend-ts/src/lib/mcp/index.ts
  backend-ts/src/lib/tools/MIGRATION.md
  backend-ts/src/lib/tools/base-tool.ts
  backend-ts/src/lib/tools/entitycore/base.ts
  backend-ts/src/lib/tools/example-tool.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/tools/obione/base.ts
  backend-ts/src/proxy.ts
  frontend/src/middleware.ts
Due: prettier, eslint, type-check

Update changelog
  CHANGELOG.md
Due: none

Adjust obi expert
  backend/src/neuroagent/tools/obi_expert.py
  docs/credits.md
  docs/model-routing.md
  docs/tool-selection.md
  mkdocs.yml
Due: mypy

Add more triggers to the deepeval action
  .github/workflows/check-deepeval.yml
Due: none

Adjust OBI Expert (#679)
  .github/workflows/check-deepeval.yml
  CHANGELOG.md
  backend/src/neuroagent/tools/obi_expert.py
  docs/credits.md
  docs/model-routing.md
  docs/tool-selection.md
  mkdocs.yml
Due: mypy

Add forgotten tags
  docs/credits.md
  docs/model-routing.md
Due: none

Add forgotten markdown product tags in docs (#681)
  docs/credits.md
  docs/model-routing.md
Due: none

Expose the header
  CHANGELOG.md
  backend/src/neuroagent/app/main.py
Due: mypy

Expose `x-request-id` header (#682)
  CHANGELOG.md
  backend/src/neuroagent/app/main.py
Due: mypy

Regenerate uv.lock
  backend/uv.lock
Due: none

implement multistep agent, title generation endpoint and tool listing
  backend-ts/docs/BASE-TOOL-METADATA-FIX.md
  backend-ts/docs/CLASSVAR-PATTERN.md
  backend-ts/docs/FINAL-TOOL-SYSTEM.md
  backend-ts/docs/LAZY-TOOL-INSTANTIATION.md
  backend-ts/docs/MULTI-TURN-AGENT-LOOP.md
  backend-ts/docs/TASK-MULTI-TURN-LOOP.md
  backend-ts/docs/TOOL-INSTANTIATION-PATTERN.md
  backend-ts/docs/TOOL-LIFECYCLE.md
  backend-ts/docs/TOOL-SYSTEM-COMPLETE.md
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/app/api/threads/[thread_id]/generate_title/route.ts
  backend-ts/src/app/api/threads/[thread_id]/messages/route.ts
  backend-ts/src/app/api/tools/[name]/route.ts
  backend-ts/src/app/api/tools/route.ts
  backend-ts/src/lib/agents/routine.ts
  backend-ts/src/lib/tools/base-tool.ts
  backend-ts/src/lib/tools/calculator-tool.ts
  backend-ts/src/lib/tools/entitycore/base.ts
  backend-ts/src/lib/tools/entitycore/brain-region-getall.ts
  backend-ts/src/lib/tools/entitycore/cell-morphology-getall.ts
  backend-ts/src/lib/tools/entitycore/index.ts
  backend-ts/src/lib/tools/example-tool.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/tools/literature-search.ts
  backend-ts/src/lib/tools/obione/base.ts
  backend-ts/src/lib/tools/obione/circuit-metrics-getone.ts
  backend-ts/src/lib/tools/obione/index.ts
  backend-ts/src/lib/tools/web-search.ts
  backend-ts/tests/api/question-suggestions.test.ts
Due: prettier, eslint, type-check

Switch to sending the full state
  backend/pyproject.toml
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/src/components/chat/chat-message-tool.tsx
Due: mypy, prettier, eslint, type-check

Modify lock file
  backend/uv.lock
Due: none

Working redirect version
  backend/src/neuroagent/rules/2_ai-message-formatting.mdc
  backend/src/neuroagent/tools/run_python_tool.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/src/app/app/storage/[storageId]/route.ts
  frontend/src/components/chat/backup-plot.tsx
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/lib/storage-queries.ts
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

smarter check for images
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/lib/storage-queries.ts
  frontend/tailwind.config.ts
Due: prettier, eslint, type-check

autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Revert changes
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/lib/storage-queries.ts
  frontend/tailwind.config.ts
Due: mypy, prettier, eslint, type-check

Write exclusively to tmp
  CHANGELOG.md
  backend/src/neuroagent/mcp.py
  docker-compose.yml
Due: mypy

fix multiple plots backup logic
  frontend/src/components/chat/backup-plot.tsx
Due: prettier, eslint, type-check

Reroute deno writing to tmp
  backend/src/neuroagent/executor.py
Due: mypy

Pass only necessary env vars to subprocess
  backend/src/neuroagent/executor.py
Due: mypy

Fix tests and autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/test_executor.py
Due: mypy

autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Change base image
  frontend/Dockerfile
Due: none

Run autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Fix frontend build (#685)
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  frontend/Dockerfile
Due: mypy

Expose the x-ratelimit-... headers for CORS requests.
  CHANGELOG.md
  backend/src/neuroagent/app/main.py
Due: mypy

Expose the x-ratelimit-... headers for CORS requests. (#689)
  CHANGELOG.md
  backend/src/neuroagent/app/main.py
Due: mypy

add skeletons and make the plots size standard
  frontend/src/components/chat/backup-plot.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/components/plots/skeleton.tsx
  frontend/src/lib/storage-queries.ts
  frontend/tailwind.config.ts
Due: prettier, eslint, type-check

Simplify docker compose
  docker-compose.yml
Due: none

changelog
  CHANGELOG.md
Due: none

Update README
  README.md
Due: none

Update deepeval
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/4_entitycore-tools.mdc
Due: mypy

Add deepeval files
  backend/eval/input/ilike_pattern_test/expected_output.md
  backend/eval/input/ilike_pattern_test/expected_tool_calls.json
  backend/eval/input/ilike_pattern_test/params.json
  backend/eval/input/ilike_pattern_test/user.md
Due: none
