Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Revert to previous autogen tool to fetch descriptions of parameters (#334)
  CHANGELOG.md
  backend/src/neuroagent/README.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/models.py
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/models.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/literature.py
  backend/src/neuroagent/tools/autogenerated_types/literature/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/literature/models.py
  backend/src/neuroagent/tools/autogenerated_types/literature/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/obione/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obione/models.py
  backend/src/neuroagent/tools/autogenerated_types/obione/schemas.py
  backend/src/neuroagent/tools/autogenerated_types/templates/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/templates/schemas.jinja2
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/tools/test_get_morpho_tool.py
  backend/tests/tools/test_morpho_metrics_tool.py
Due: mypy

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Migrate morphology get one to new autogen
  backend/src/neuroagent/tools/entitycore_etype_getone.py
Due: mypy

Prompt engineer to avoid hallucinations
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Update etype getall
  backend/src/neuroagent/tools/entitycore_etype_getall.py
Due: mypy

Update emodel getone
  backend/src/neuroagent/tools/entitycore_emodel_getone.py
Due: mypy

Remove stuff
  backend/ec_hierarchy.json
  backend/ec_openapi.json
  backend/pydantic_experiment.py
  backend/reposnse.json
  backend/res
  backend/temp.txt
  backend/wqallzz:q
Due: none

More deletions
  backend/example.json
  backend/mcp_config.json
Due: none

Prompt engineer to avoid hallucinations (#336)
  CHANGELOG.md
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Prepare for release (#335)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Fix get all emodel
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
Due: mypy

Update description
  backend/src/neuroagent/tools/entitycore_emodel_getone.py
Due: mypy

Fix get morphology one
  backend/src/neuroagent/tools/entitycore_morphology_getone.py
Due: mypy

Fix everything in theory
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
Due: mypy

Use real classes
  backend/src/neuroagent/tools/entitycore_morphology_getone.py
Due: mypy

Fix typo
  backend/src/neuroagent/tools/entitycore_morphology_getone.py
Due: mypy

Fix wrongly set fastapi servers
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
Due: mypy

Don't use sublassing logic
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getone.py
Due: mypy

Better description
  backend/src/neuroagent/tools/entitycore_morphology_getone.py
Due: mypy

Roll back to previou version of Boris
  backend/src/neuroagent/tools/entitycore_morphology_getall.py
Due: mypy

fix get one morphology
  backend/src/neuroagent/tools/entitycore_morphology_getone.py
Due: mypy

Fix tests
  backend/tests/app/test_dependencies.py
Due: none

Fix wrongly set fastapi servers (#337)
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/tests/app/test_dependencies.py
Due: mypy

Remove traces tool
  backend/src/neuroagent/tools/traces_tool.py
  backend/tests/tools/test_traces_tool.py
Due: mypy

Remove test data for get traces
  backend/tests/data/get_traces.json
Due: none

No more reference to traces tool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
Due: mypy

fix status for HIL
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/components/chat/tool-call-status.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

Remove yet another tool
  backend/src/neuroagent/tools/kg_morpho_features_tool.py
  backend/tests/data/kg_morpho_features_response.json
  backend/tests/tools/test_kg_morpho_features_tool.py
Due: mypy

Delete kg morpho features tool
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
Due: mypy

Remove morphology viewer
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/morphology_viewer.py
  backend/tests/tools/test_morphology_viewer.py
Due: mypy

Remove electrohys tools
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/electrophys_tool.py
  backend/tests/tools/test_electrophys_tool.py
Due: mypy

Track mcp.json
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/mcp.json
Due: mypy

More deletions
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/cell_types.py
  backend/tests/data/KG_brain_regions_hierarchy_test.json
  backend/tests/data/kg_cell_types_hierarchy_test.json
  backend/tests/data/kg_me_model_output.json
  backend/tests/data/knowledge_graph.json
  backend/tests/data/morphology_id_metadata_response.json
  backend/tests/data/trace_id_metadata.json
  backend/tests/test_cell_types.py
Due: mypy

No more mentions of knowledge graph
  backend/.env.example
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/conftest.py
  docker-compose.yml
Due: none

Fix tests
  backend/src/neuroagent/app/config.py
Due: mypy

Update .env.example
  backend/.env.example
Due: none

More KG destruction
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/utils.py
  backend/tests/test_utils.py
  backend/tests/tools/test_entitycore_morphology_getall.py
Due: mypy

Ruff forgotten
  backend/tests/test_utils.py
Due: none
