Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Fix figure plotting
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
Due: mypy

Fix docker
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
Due: mypy

Update uv
  backend/uv.lock
Due: none

try to fix CI
  backend/tests/conftest.py
Due: none

Adapt tests
  backend/src/neuroagent/tools/run_python_tool.py
  backend/tests/test_executor.py
Due: mypy

modify executor
  backend/src/neuroagent/executor.py
Due: mypy

Small fixes
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
  backend/tests/conftest.py
Due: mypy

Add executor test
  backend/tests/test_executor.py
Due: none

Switch to async subprocess
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
  backend/tests/test_executor.py
Due: mypy

Switch to chunk accumulation in stdout + try to get rid of pyodide proxy issue
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
  backend/tests/test_executor.py
Due: mypy

Small change
  backend/src/neuroagent/app/main.py
Due: mypy

Add default to switch case back
  frontend/src/components/chat/plot-in-chat.tsx
Due: prettier, eslint, type-check

Change buffer read size
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/executor.py
Due: mypy

Run eval
  backend/eval/output/detailed.json
Due: none

Fix eval cases
  backend/eval/input/matplotlib_plot/expected_tool_calls.json
  backend/eval/input/matplotlib_plot/user.md
  backend/eval/input/sin_plot/expected_tool_calls.json
  backend/eval/output/detailed.json
Due: none

Allow to read one env var + switch to pathlib
  backend/src/neuroagent/executor.py
Due: mypy

Update outputs
  backend/eval/input/plotting/expected_output.md
  backend/eval/input/sin_plot/expected_output.md
Due: none

Add perm to tempdir
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/executor.py
Due: mypy

Rename eval folder
  backend/eval/input/plotting/expected_output.md
  backend/eval/input/plotting/expected_tool_calls.json
  backend/eval/input/plotting/params.json
  backend/eval/input/plotting/user.md
Due: none

Switch message content to jsonb
  backend/alembic/versions/92694adcad71_message_content_jsonb.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/utils.py
Due: mypy

Make it harder for the LLM
  backend/eval/input/connectivity_metrics/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Connectivity metrics tool (obione) (#556)
  CHANGELOG.md
  backend/eval/input/connectivity_metrics/expected_output.md
  backend/eval/input/connectivity_metrics/expected_tool_calls.json
  backend/eval/input/connectivity_metrics/params.json
  backend/eval/input/connectivity_metrics/user.md
  backend/eval/input/connectivity_metrics_extra_filters/expected_output.md
  backend/eval/input/connectivity_metrics_extra_filters/expected_tool_calls.json
  backend/eval/input/connectivity_metrics_extra_filters/params.json
  backend/eval/input/connectivity_metrics_extra_filters/user.md
  backend/eval/input/get_specific_circuit/expected_output.md
  backend/eval/input/get_specific_circuit/expected_tool_calls.json
  backend/eval/input/get_specific_circuit/params.json
  backend/eval/input/get_specific_circuit/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/circuit-tools.mdc
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getone.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
Due: mypy

Add neurom - no eval
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/rules/code-generation.mdc
Due: mypy

Rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

working response API agent's routine (small details to fix)
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/base_tool.py
Due: mypy

Partially working solution
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/run_python_tool.py
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

put default in brain region search
  CHANGELOG.md
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
Due: mypy

add litteral and description
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
Due: mypy

deepeval + autogen
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Update deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix "brain region get all" for new hierarchies (#582)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
Due: mypy

Prepare for release (#583)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
Due: mypy

samll cleanup
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/utils.py
Due: mypy

Fix ion channel model tool
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
Due: mypy

Fix ion channel model tool (#585)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
Due: mypy

fix mypy
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/utils.py
Due: mypy
