Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Adjust changelog
  CHANGELOG.md
Due: none

Update eval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix mypy
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Use numpydoc standard
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Rerun eval - this one got luckier
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

try to prompt engineer LLM not executing when saying so
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
Due: mypy

Changelog
  CHANGELOG.md
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Try to print the autogen command on failure
  .github/workflows/autogen.yml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Try to prompt engineer LLM not executing when saying so (#567)
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
Due: mypy

Deepeval pattern selector (#565)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add 4 ion channel tools
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_ionchannel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannel_getone.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getone.py
Due: mypy

fix backend test and add some for Agent's Routine
  backend/src/neuroagent/agent_routine.py
  backend/tests/app/routers/test_threads.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: mypy

Add test cases
  backend/eval/input/ion_channel/expected_output.md
  backend/eval/input/ion_channel/expected_tool_calls.json
  backend/eval/input/ion_channel/params.json
  backend/eval/input/ion_channel/user.md
  backend/eval/input/ion_channel_recording/expected_output.md
  backend/eval/input/ion_channel_recording/expected_tool_calls.json
  backend/eval/input/ion_channel_recording/params.json
  backend/eval/input/ion_channel_recording/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
Due: mypy

Fix circuit population tool
  CHANGELOG.md
  backend/src/neuroagent/tools/obione_circuitpopulations_getone.py
Due: mypy

Add test cases
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Circuit pop bug (#571)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obione_circuitpopulations_getone.py
Due: mypy

Prevent LLM from talking about UI stuff
  backend/eval/input/platform_explore/expected_output.md
  backend/eval/input/platform_explore/expected_tool_calls.json
  backend/eval/input/platform_explore/params.json
  backend/eval/input/platform_explore/user.md
  backend/eval/input/platform_ui_simulate/expected_output.md
  backend/eval/input/platform_ui_simulate/expected_tool_calls.json
  backend/eval/input/platform_ui_simulate/params.json
  backend/eval/input/platform_ui_simulate/user.md
  backend/eval/input/platform_viewing/expected_output.md
  backend/eval/input/platform_viewing/expected_tool_calls.json
  backend/eval/input/platform_viewing/params.json
  backend/eval/input/platform_viewing/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Fix user input
  backend/eval/input/platform_explore/user.md
Due: none

Update tool argument correctness evaluation
  CHANGELOG.md
  backend/eval/input/platform_news/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add arg correctness in a deterministic way
  backend/eval/input/platform_news/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add argcorrectness back
  backend/eval/input/cerebellum_morphologies/expected_tool_calls.json
  backend/eval/input/thalamus_id/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Add global arg correctness column
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

Move overall arg correctness to eval agent
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/compare_results.py
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Remove change in tests and correct the url
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/src/neuroagent/tools/obione_schema_viewer.py
  backend/tests/tools/test_obione_morphometrics_getone.py
Due: mypy

Remove mention of other tool calls from the frontend description
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getone.py
Due: mypy

Update obione specific rules
  backend/src/neuroagent/rules/obi-tools.mdc
  backend/src/neuroagent/rules/obione-tools.mdc
Due: mypy

deep eval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Remove extra level of nesting in detailed.json actual tool calls
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Fix changelog
  CHANGELOG.md
Due: none

Improve desriptoin
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Make sure level of detail query params just ints and that post and pre selection default to empty dict
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
  backend/src/neuroagent/tools/obione_circuitmetrics_getone.py
Due: mypy

last fix ?
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
  frontend/src/components/chat/question-suggestion-cards.tsx
Due: mypy, prettier, eslint, type-check

run deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Update tool argument correctness evaluation (#574)
  CHANGELOG.md
  backend/eval/input/cerebellum_morphologies/expected_tool_calls.json
  backend/eval/input/platform_news/user.md
  backend/eval/input/thalamus_id/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy
