Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Actual fix
  CHANGELOG.md
Due: none

deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Remove duplicated section
  CHANGELOG.md
Due: none

Fix changelog sections (#587)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Do it all
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Do it all (#590)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Update uv lock (#578)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/uv.lock
Due: none

Base class for excluded parameters + resolving of asset/hierarchy id within tools
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/entitycore_brainregion_getall.py
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_circuit_getall.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
  backend/src/neuroagent/tools/entitycore_species_getall.py
  backend/src/neuroagent/tools/entitycore_strain_getall.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

Deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Remove comment
  backend/src/neuroagent/tools/entitycore_cellmorphology_getall.py
Due: mypy

Add frontend url in ion channel recording
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getone.py
Due: mypy

Small modifications taking into account fixed bugs
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Small fix
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
Due: mypy

Remove default factory
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Add frontend url in ion channel recording (#593)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelrecording_getone.py
Due: mypy

Fix typo
  backend/src/neuroagent/tools/base_tool.py
Due: mypy

Add what is missing
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
Due: mypy

Fix typo
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Don't override group_by
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Remove explicit timeout override
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Allow for None in all connectivity tool inputs + version bump up (#594)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Get rid of rules
  backend/src/neuroagent/rules/code-generation.mdc
Due: mypy

Move description from rules to mcp.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/mcp.json
Due: mypy

Context 7 - entitysdk and obione and neurom (#577)
  CHANGELOG.md
  backend/eval/input/software_docs_entitysdk/expected_output.md
  backend/eval/input/software_docs_entitysdk/expected_tool_calls.json
  backend/eval/input/software_docs_entitysdk/params.json
  backend/eval/input/software_docs_entitysdk/user.md
  backend/eval/input/software_docs_obione/expected_output.md
  backend/eval/input/software_docs_obione/expected_tool_calls.json
  backend/eval/input/software_docs_obione/params.json
  backend/eval/input/software_docs_obione/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/mcp.json
Due: mypy

First attempt
  .github/workflows/check-deepeval.yml
Due: none

Skip deepeval label (#597)
  .github/workflows/check-deepeval.yml
Due: none

Fix mypy + variable referencing
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
  backend/src/neuroagent/utils.py
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Remove breakpoint
  backend/src/neuroagent/tools/run_python_tool.py
Due: mypy

better astream and reasoning encryption added
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/utils.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

Final fixes
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Changelog and bumpup
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Yet another connectivity tool fix + version bump up (#598)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Handle wrong json path
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/run_python_tool.py
Due: mypy

More description BRParams
  backend/src/neuroagent/tools/base_tool.py
Due: mypy

More doctring changes
  backend/src/neuroagent/tools/base_tool.py
Due: mypy

Make sure the exclude logic is used everywhere
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
Due: mypy

Exclude brain region filters that are 2 joins away
  backend/src/neuroagent/tools/base_tool.py
Due: mypy
