Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Run the autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Add changelog
  CHANGELOG.md
  backend/something.py
Due: none

Remove unused file
  backend/something.py
Due: none

change back UI to inline dialogs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/ui/badge.tsx
Due: prettier, eslint, type-check

Entitycore autogen (new asset label literal) (#385)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

forgot to revert colors
  frontend/src/components/chat/tool-call-collapsible.tsx
Due: prettier, eslint, type-check

Add new entity core tools
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getone.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getone.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getone.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getone.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getone.py
Due: mypy

Override hierarchy default and add descriptions
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Add new entity core tools (#388)
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getone.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getone.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getone.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getone.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getone.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getone.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Blindly let cursor do it everywhere
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Get rid of the within_brain_region_brain_region_id description changes
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Include brain region in
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Add forgotten
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
Due: mypy

Introduce false positive route
  CHANGELOG.md
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/fixed_llm_responses.yml
Due: mypy

Fix import
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
Due: mypy

Forbid extra fields
  backend/src/neuroagent/README.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Reintrodcue the within_brain_region description
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

Skip parameters with json schema
  backend/src/neuroagent/app/routers/tools.py
Due: mypy

Add info in the system prompt
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Silence mypy
  backend/src/neuroagent/app/routers/tools.py
Due: mypy

Only allow within brain region entitycore queries (#390)
  CHANGELOG.md
  backend/src/neuroagent/README.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_emodel_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalboutondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalneurondensity_getall.py
  backend/src/neuroagent/tools/entitycore_experimentalsynapsesperconnection_getall.py
  backend/src/neuroagent/tools/entitycore_ionchannelmodel_getall.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_memodel_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationexecution_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsimulation_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptome_getall.py
  backend/src/neuroagent/tools/entitycore_singleneuronsynaptomesimulation_getall.py
Due: mypy

fix loader and HIL appearace + remove weather tool
  backend/src/neuroagent/app/dependencies.py
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
Due: mypy, prettier, eslint, type-check

change mention of plot location in the tools
  backend/src/neuroagent/tools/bluenaas_scs_plot.py
  backend/src/neuroagent/tools/generate_plot.py
Due: mypy

small UI change
  frontend/src/components/chat/tool-call-collapsible.tsx
Due: prettier, eslint, type-check

Include rules
  backend/pyproject.toml
  backend/src/neuroagent/rules/platform-overview.mdc
Due: mypy

Add more rules
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
Due: mypy

remove console log
  frontend/src/components/chat/chat-messages-inside-thread.tsx
Due: prettier, eslint, type-check

First iteration
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
Due: mypy

Better logic
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Remove other metadata
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
Due: mypy

Fix unit tests
  backend/tests/app/test_dependencies.py
Due: none

Run ruff
  backend/tests/app/test_dependencies.py
Due: none

create multiple dependencies
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Introduce unit tests
  backend/tests/app/test_dependencies.py
Due: none

Make instruction better
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

Remove legacy
  backend/src/neuroagent/rules/tool-calling.mdc
Due: mypy
