Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Add alembic script
  backend/alembic/versions/6d8986f38d7b_complexity_estimation.py
Due: none

Fix tests
  backend/alembic/versions/92694adcad71_message_content_jsonb.py
  backend/eval/input/variable_substitution/expected_output.md
  backend/eval/input/variable_substitution/expected_tool_calls.json
  backend/eval/input/variable_substitution/params.json
  backend/eval/input/variable_substitution/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/app/test_app_utils.py
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
  backend/tests/test_executor.py
Due: mypy

Try to fix frontend tests
  frontend/src/__tests__/lib/utils.test.ts
Due: prettier, eslint, type-check

Deterministic order of eval columns
  CHANGELOG.md
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

Update score json
  backend/eval/output/scores.json
Due: none

Fix script
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Add test cases
  backend/eval/input/cortex_morphologies/expected_output.md
  backend/eval/input/cortex_morphologies/expected_tool_calls.json
  backend/eval/input/cortex_morphologies/params.json
  backend/eval/input/cortex_morphologies/user.md
  backend/eval/input/hippocampus_morphologies/expected_output.md
  backend/eval/input/hippocampus_morphologies/expected_tool_calls.json
  backend/eval/input/hippocampus_morphologies/params.json
  backend/eval/input/hippocampus_morphologies/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

changelog + autogen
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Add rule for private entities
  CHANGELOG.md
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

Deterministic order of eval columns (#614)
  CHANGELOG.md
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/compare_results.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Run deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Add rule for private entities (#616)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

Add test cases (#615)
  CHANGELOG.md
  backend/eval/input/cortex_morphologies/expected_output.md
  backend/eval/input/cortex_morphologies/expected_tool_calls.json
  backend/eval/input/cortex_morphologies/params.json
  backend/eval/input/cortex_morphologies/user.md
  backend/eval/input/hippocampus_morphologies/expected_output.md
  backend/eval/input/hippocampus_morphologies/expected_tool_calls.json
  backend/eval/input/hippocampus_morphologies/params.json
  backend/eval/input/hippocampus_morphologies/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

fix stop
  backend/src/neuroagent/agent_routine.py
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

fix pagination ?
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

small rule addition and model change
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
Due: mypy

Introduce automatic model routing (#611)
  CHANGELOG.md
  backend/alembic/versions/6d8986f38d7b_complexity_estimation.py
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
  backend/tests/test_agent_routine.py
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

Add skeleton of the 3 tools + do LS
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/literature_search.py
  backend/src/neuroagent/tools/read_paper.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Continue writing the tools
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/literature_search.py
  backend/src/neuroagent/tools/read_paper.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Deepeval and changelog
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Fix casing in an eval test case
  backend/eval/input/thalamus_id/expected_tool_calls.json
Due: none

remove todos
  backend/src/neuroagent/tools/literature_search.py
  backend/src/neuroagent/tools/read_paper.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Commit test cases
  backend/eval/input/literature_search/expected_output.md
  backend/eval/input/literature_search/expected_tool_calls.json
  backend/eval/input/literature_search/params.json
  backend/eval/input/literature_search/user.md
  backend/eval/input/read_paper/expected_output.md
  backend/eval/input/read_paper/expected_tool_calls.json
  backend/eval/input/read_paper/params.json
  backend/eval/input/read_paper/user.md
  backend/eval/input/web_search/expected_output.md
  backend/eval/input/web_search/expected_tool_calls.json
  backend/eval/input/web_search/params.json
  backend/eval/input/web_search/user.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Upload templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general.md
Due: none

CHangelog
  CHANGELOG.md
Due: none

Update issue templates (#618)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general.md
  CHANGELOG.md
Due: none

Address comments
  backend/src/neuroagent/tools/literature_search.py
  backend/src/neuroagent/tools/read_paper.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Exa standalone tool (#617)
  CHANGELOG.md
  backend/.env.example
  backend/eval/input/literature_search/expected_output.md
  backend/eval/input/literature_search/expected_tool_calls.json
  backend/eval/input/literature_search/params.json
  backend/eval/input/literature_search/user.md
  backend/eval/input/read_paper/expected_output.md
  backend/eval/input/read_paper/expected_tool_calls.json
  backend/eval/input/read_paper/params.json
  backend/eval/input/read_paper/user.md
  backend/eval/input/thalamus_id/expected_tool_calls.json
  backend/eval/input/web_search/expected_output.md
  backend/eval/input/web_search/expected_tool_calls.json
  backend/eval/input/web_search/params.json
  backend/eval/input/web_search/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.json
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/literature_search.py
  backend/src/neuroagent/tools/read_paper.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Add guardrails against off topic queries
  CHANGELOG.md
  backend/eval/input/platform_ui_simulate/params.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Update test cases
  backend/eval/input/plotting/expected_output.md
  backend/eval/input/plotting/expected_tool_calls.json
  backend/eval/input/plotting/params.json
  backend/eval/input/plotting/user.md
  backend/eval/input/read_paper/expected_output.md
  backend/eval/input/read_paper/expected_tool_calls.json
  backend/eval/input/read_paper/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

fix test
  backend/tests/app/test_app_utils.py
  backend/tests/test_agent_routine.py
Due: none

Add test cases
  backend/eval/input/off_topic_cooking/expected_output.md
  backend/eval/input/off_topic_cooking/expected_tool_calls.json
  backend/eval/input/off_topic_cooking/params.json
  backend/eval/input/off_topic_cooking/user.md
  backend/eval/input/off_topic_programming/expected_output.md
  backend/eval/input/off_topic_programming/expected_tool_calls.json
  backend/eval/input/off_topic_programming/params.json
  backend/eval/input/off_topic_programming/user.md
  backend/eval/input/off_topic_sports/expected_output.md
  backend/eval/input/off_topic_sports/expected_tool_calls.json
  backend/eval/input/off_topic_sports/params.json
  backend/eval/input/off_topic_sports/user.md
  backend/eval/input/off_topic_weather/expected_output.md
  backend/eval/input/off_topic_weather/expected_tool_calls.json
  backend/eval/input/off_topic_weather/params.json
  backend/eval/input/off_topic_weather/user.md
Due: none

Add guardrails against off topic queries (#620)
  CHANGELOG.md
  backend/eval/input/off_topic_cooking/expected_output.md
  backend/eval/input/off_topic_cooking/expected_tool_calls.json
  backend/eval/input/off_topic_cooking/params.json
  backend/eval/input/off_topic_cooking/user.md
  backend/eval/input/off_topic_programming/expected_output.md
  backend/eval/input/off_topic_programming/expected_tool_calls.json
  backend/eval/input/off_topic_programming/params.json
  backend/eval/input/off_topic_programming/user.md
  backend/eval/input/off_topic_sports/expected_output.md
  backend/eval/input/off_topic_sports/expected_tool_calls.json
  backend/eval/input/off_topic_sports/params.json
  backend/eval/input/off_topic_sports/user.md
  backend/eval/input/off_topic_weather/expected_output.md
  backend/eval/input/off_topic_weather/expected_tool_calls.json
  backend/eval/input/off_topic_weather/params.json
  backend/eval/input/off_topic_weather/user.md
  backend/eval/input/platform_ui_simulate/params.json
  backend/eval/input/plotting/expected_output.md
  backend/eval/input/plotting/expected_tool_calls.json
  backend/eval/input/plotting/params.json
  backend/eval/input/plotting/user.md
  backend/eval/input/read_paper/expected_output.md
  backend/eval/input/read_paper/expected_tool_calls.json
  backend/eval/input/read_paper/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/rules/platform-overview.mdc
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

PRepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Prepare for release (#621)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

0.12.1
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/app_utils.py
Due: mypy
