Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Small fix
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

little changes
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

fixes and new prompt
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

formatting
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

make rate limit same for two endpoints
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

fix tests
  backend/tests/app/routers/test_qa.py
Due: none

adapt to old tools
  backend/src/neuroagent/tools/get_morpho_tool.py
Due: mypy

fix tests
  backend/tests/tools/test_get_morpho_tool.py
Due: none

add missing data file
  backend/tests/data/entitycore_morphologies_thalamus.json
Due: none

Switch to cursor based pagination
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/app/threads/[threadId]/page.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/components/sidebar/thread-list.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/get-thread-page.ts
  frontend/src/lib/server-fetches.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Fix issues (hopefully)
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/get-thread-page.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

fix tests
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_threads.py
Due: mypy

remove messages reference in prompt outside chat
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Question suggestions in chat (#292)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
Due: mypy

merge two endpoints
  backend/src/neuroagent/app/routers/qa.py
  backend/tests/app/routers/test_qa.py
Due: mypy

ChangeLogf
  CHANGELOG.md
Due: none

Integrate morpho metrics with obi one
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obi_one.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
  backend/src/neuroagent/tools/morphology_features_tool_old.py
  backend/tests/tools/test_morphology_features_tool.py
Due: mypy

Small fixes
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/kg_morpho_features_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
Due: mypy

Fix tests
  backend/tests/app/test_dependencies.py
  backend/tests/tools/test_morphology_features_tool.py
Due: none

Add test
  backend/tests/tools/test_morpho_metrics_tool.py
  backend/tests/tools/test_morphology_features_tool_old.py
Due: none

Remove old stuff
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/morphology_features_tool_old.py
  backend/tests/tools/test_morpho_metrics_tool.py
  backend/tests/tools/test_morphology_features_tool_old.py
Due: mypy

Fix small issue
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_threads.py
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Change to fixed prompt
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Some fixes and tests
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
Due: mypy

make thread_id optional, and put thread_id in request body
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
Due: mypy

merge two suggestion endpoints (#298)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/routers/test_qa.py
Due: mypy

fix suggestions
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

fix suggestions (#301)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

both tools working
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/get_morpho_tool_old.py
  backend/src/neuroagent/tools/resolve_entities_tool.py
Due: mypy

update the tests
  backend/src/neuroagent/tools/resolve_entities_tool.py
  backend/tests/data/entitycore_brain_region.json
  backend/tests/data/entitycore_morphologies_thalamus.json
  backend/tests/data/entitycore_mtype.json
  backend/tests/tools/test_get_morpho_tool.py
  backend/tests/tools/test_resolve_entities_tool.py
Due: mypy

Fix parameter description
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Better system prompt
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Change changelog
  CHANGELOG.md
Due: none

Change variable name
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy

Release a new version
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Fix CI
  backend/tests/tools/test_literature_search_tool.py
Due: none

Try to fix hallucinations (#303)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy
