Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Copy inputs to detailed.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Fix mypy issues
  backend/src/neuroagent/scripts/compare_results.py
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Make sure deepeval and colorama stay in optional
  backend/pyproject.toml
  backend/uv.lock
Due: none

Use newer ruff
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

Make plotting happen through plotly backend+frontend
  CHANGELOG.md
  backend/setup_pyodide.mjs
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/run_python_tool.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/PlotStyles.css
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/multi-linechart.tsx
  frontend/src/components/plots/piechart.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/components/plots/scatterplot.tsx
Due: mypy, prettier, eslint, type-check

Small fixes
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/utils.py
  frontend/package.json
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/tests/tools/test_generate_plot.py
Due: mypy

Fix tests
  backend/tests/conftest.py
Due: none

Don't rely on deepeval test result order - it is stochastic
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Update autogen and track it in pyproject
  backend/pyproject.toml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/uv.lock
Due: mypy

Hopefully fix mypy
  backend/src/neuroagent/scripts/compare_results.py
  backend/src/neuroagent/scripts/evaluate_agent.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Get rid of bandit issues
  backend/src/neuroagent/scripts/compare_results.py
Due: mypy

More cleanup
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/setup_pyodide.mjs
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/tools/run_python_tool.py
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/plotly.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Add small bit to ls description
  backend/src/neuroagent/mcp.json
Due: mypy

fix send message in the chat
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/env.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Fix backend (streaming + DB), reasoning and annotations still broken. Need to still adjust to Vercel new types
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

fix 60% of frontend issues
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/chat/tool-call-status.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

small ts fix
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

Prepare autogen and changelog
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Fix ruff
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Add first version
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Hook up the tools to the machinery
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
Due: mypy

Fix bug
  backend/src/neuroagent/tools/obione_circuitconnectivitymetrics_getone.py
Due: mypy

Make the tool support variables
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obi_graphql.py
Due: mypy

Prompt engineer things so that values are almost never used
  backend/src/neuroagent/tools/obi_graphql.py
Due: mypy

partial WASM executor adaptation
  backend/pyproject.toml
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
Due: mypy

update backend types to work with frontend
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/schemas.py
  backend/tests/app/test_app_utils.py
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

Fix figure plotting
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
Due: mypy

fix reasoning
  backend/src/neuroagent/agent_routine.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

fix metadata streaming
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
Due: mypy, prettier, eslint, type-check

Fix docker
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
Due: mypy

Update uv
  backend/uv.lock
Due: none

try to fix CI
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/tests/conftest.py
Due: mypy

Add executor test
  backend/tests/test_executor.py
Due: none

modify executor
  backend/src/neuroagent/executor.py
Due: mypy

Small change
  backend/src/neuroagent/app/main.py
Due: mypy

fix HIL
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/routers/tools.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
  frontend/src/lib/zod-schemas.ts
Due: mypy, prettier, eslint, type-check

Small fixes
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/executor.py
  backend/src/neuroagent/tools/run_python_tool.py
  backend/tests/conftest.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
