Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Update changelog
  CHANGELOG.md
Due: none

Small fix
  frontend/src/components/chat/tool-selection-dropdown.tsx
Due: prettier, eslint, type-check

Make checkboxes clickable from the whole width in tool dropdown (#210)
  CHANGELOG.md
  frontend/src/components/chat/tool-selection-dropdown.tsx
Due: prettier, eslint, type-check

Allow blacklisting certain tools and add Now tool
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/routers/test_tools.py
Due: mypy

Small fix
  backend/src/neuroagent/app/dependencies.py
Due: mypy

first working prototype with bugs
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/piechart.tsx
  frontend/src/components/plots/scatterplot.tsx
  frontend/src/hooks/get-presigned.ts
  frontend/src/hooks/get-storage-object.ts
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

fix linting
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/piechart.tsx
  frontend/src/components/plots/scatterplot.tsx
Due: prettier, eslint, type-check

Tool retrieval POC
  CHANGELOG.md
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

Update .env.example
  backend/.env.example
Due: none

Fix readme
  CHANGELOG.md
Due: none

better plots
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/generate_plot.py
  frontend/src/app/viewer/[storageId]/page.tsx
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/piechart.tsx
  frontend/src/components/plots/scatterplot.tsx
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

last UI fixes
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/plots/piechart.tsx
Due: prettier, eslint, type-check

change grid with theme
  backend/src/neuroagent/tools/generate_plot.py
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/scatterplot.tsx
Due: mypy, prettier, eslint, type-check

Let the LLM resample tools
  backend/.env.example
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/routers/tools.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/base_tool.py
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/bluenaas_memodel_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_getall.py
  backend/src/neuroagent/tools/bluenaas_scs_getone.py
  backend/src/neuroagent/tools/bluenaas_scs_post.py
  backend/src/neuroagent/tools/electrophys_tool.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/generate_random_plot.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/kg_morpho_features_tool.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morphology_features_tool.py
  backend/src/neuroagent/tools/morphology_viewer.py
  backend/src/neuroagent/tools/now.py
  backend/src/neuroagent/tools/resolve_entities_tool.py
  backend/src/neuroagent/tools/semantic_scholar.py
  backend/src/neuroagent/tools/traces_tool.py
  backend/src/neuroagent/tools/weather.py
  backend/src/neuroagent/tools/web_search.py
  backend/src/neuroagent/utils.py
  backend/tests/conftest.py
Due: mypy

Small fixes
  backend/.env.example
  backend/src/neuroagent/app/config.py
Due: mypy

Add extra tool
  backend/src/neuroagent/tools/resample_tools.py
Due: mypy

Add changelog
  CHANGELOG.md
Due: none

Try middleware solution
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/middleware.py
Due: mypy

Fix identifiers logic
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/middleware.py
  docker-compose.yml
Due: mypy

Make it work dependency
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/middleware.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Simplify big time
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
Due: mypy

fix tests
  backend/src/neuroagent/app/main.py
  backend/tests/conftest.py
Due: mypy

Rely on tool resampling rather than user's query
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/tools/resample_tools.py
Due: mypy

Try to add toast
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

Aggregate results of LS as articles
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy

Modify changelog
  CHANGELOG.md
Due: none

Make error way nicer
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/ui/toaster.tsx
Due: prettier, eslint, type-check

Make duration longer
  frontend/src/components/ui/toaster.tsx
Due: prettier, eslint, type-check

Delete last message in case error occurs
  frontend/src/components/chat/chat-page.tsx
Due: prettier, eslint, type-check

Change position of the toaster
  frontend/src/components/ui/toaster.tsx
Due: prettier, eslint, type-check

Add some unit tests
  backend/src/neuroagent/app/dependencies.py
  backend/tests/app/test_dependencies.py
Due: mypy

Make test better
  backend/tests/app/test_dependencies.py
Due: none

Finalize unit tests
  backend/tests/app/test_dependencies.py
Due: none

Finalize
  README.md
  backend/README.md
  backend/src/neuroagent/app/config.py
Due: mypy

Get rid of dependency - turn into a simple function
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Move tests around
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
Due: none

Type annotate
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Make sure frontend sends vlab/project info
  frontend/src/actions/get-suggestions.ts
Due: prettier, eslint, type-check

Redis client can be none
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
