Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Fix type
  backend/src/neuroagent/app/app_utils.py
Due: mypy

remove start at zero from plots
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/linechart.tsx
  frontend/src/components/plots/scatterplot.tsx
Due: prettier, eslint, type-check

Add env example
  backend/.env.example
Due: none

fix comments
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-input-inside-thread.tsx
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/chat/tool-call-collapsible.tsx
  frontend/src/components/plots/barplot.tsx
  frontend/src/components/plots/histogram.tsx
  frontend/src/components/plots/piechart.tsx
  frontend/src/lib/utils.ts
Due: mypy, prettier, eslint, type-check

Aggregate results of LS as articles (#228)
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/tests/tools/test_literature_search_tool.py
Due: mypy

Rate limiting (#226)
  CHANGELOG.md
  README.md
  backend/.env.example
  backend/README.md
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/tests/app/test_app_utils.py
  backend/tests/conftest.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/get-suggestions.ts
  frontend/src/app/layout.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/ui/toaster.tsx
Due: mypy, prettier, eslint, type-check

Make modifs
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/config.py
Due: mypy

Towards v0.4.2 (#232)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/app/config.py
Due: mypy

STore settings
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
Due: mypy

Application startup and dependency
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
Due: mypy

Import dependencies
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Handle suggestions
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Use actual real subtypes
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Remove multilper
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

Implement upper bound estimation logic
  backend/src/neuroagent/app/routers/qa.py
Due: mypy

temp
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/stream.py
Due: mypy

Add accounting to generate title endpoint
  backend/pyproject.toml
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Add rate limiting in thread title generation
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Add LLM accoutning in chat_streamed
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/stream.py
Due: mypy

Add accounting to LS and WS tools
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Remove multi subtype on astream
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/stream.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Remove diffs
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/literature_search_tool.py
Due: mypy

to be fixed
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/human-validation-dialog.tsx
  frontend/src/lib/json-schema.ts
Due: prettier, eslint, type-check

Fix mypy
  .github/workflows/ci.yaml
  backend/.env.example
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
Due: mypy

Fix tests
  backend/src/neuroagent/app/main.py
  backend/tests/conftest.py
Due: mypy

Modify changelog
  CHANGELOG.md
Due: none

Fix CI
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
Due: none

Remove inf max turns
  backend/src/neuroagent/agent_routine.py
Due: mypy

Small fixes
  backend/.env.example
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Update python version
  backend/Dockerfile
Due: none

Remove release gh action and bump up mypy version
  .github/workflows/release.yml
  backend/pyproject.toml
  backend/src/neuroagent/README.md
Due: mypy

Account - 2nd attempt (#235)
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  CHANGELOG.md
  backend/.env.example
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/neuroagent/README.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/routers/threads.py
  backend/tests/app/routers/test_qa.py
  backend/tests/app/routers/test_threads.py
  backend/tests/conftest.py
Due: mypy

add LS and WS guarrail
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

Changelog
  CHANGELOG.md
Due: none

add platform description
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
Due: mypy

foramt
  backend/tests/app/routers/test_threads.py
  backend/tests/app/test_dependencies.py
Due: none

Guardrail litterature search and web search (#239)
  CHANGELOG.md
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/web_search.py
Due: mypy

fix CI
  backend/tests/app/test_dependencies.py
Due: none

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
