Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Add minimal mkdocs setup
  backend/pyproject.toml
  backend/uv.lock
  docs/index.md
  mkdocs.yml
Due: none

Fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Autogen again but with newer datamodel
  backend/pyproject.toml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/uv.lock
Due: mypy

Fix mypy
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
Due: mypy

Add docs check github action
  .github/workflows/check-docs.yml
Due: none

Actually initialize the documentaiotn
  docs/index.md
  docs/tool_selection.md
  docs/tools.md
  mkdocs.yml
Due: none

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Update obione schema
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/package-lock.json
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/collapsible-sidebar-json.tsx
  frontend/src/lib/obione.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Do not validate request input
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Finish API [not working yet]
  backend-ts/docs/CHECKPOINT-20-SUMMARY.md
  backend-ts/docs/TASK-16-SUMMARY.md
  backend-ts/docs/TASK-17-SUMMARY.md
  backend-ts/docs/TASK-18-SUMMARY.md
  backend-ts/docs/TASK-19-SUMMARY.md
  backend-ts/package-lock.json
  backend-ts/package.json
  backend-ts/src/app/api/healthz/route.ts
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/app/api/qa/question_suggestions/route.ts
  backend-ts/src/app/api/route.ts
  backend-ts/src/app/api/settings/route.ts
  backend-ts/src/app/api/storage/[file_identifier]/presigned-url/route.ts
  backend-ts/src/app/api/tools/route.ts
  backend-ts/src/lib/mcp/README.md
  backend-ts/src/lib/mcp/client.ts
  backend-ts/src/lib/mcp/index.ts
  backend-ts/src/lib/middleware/MIDDLEWARE-FLOW.md
  backend-ts/src/lib/middleware/cors.ts
  backend-ts/src/lib/middleware/index.ts
  backend-ts/src/lib/middleware/path-prefix.ts
  backend-ts/src/lib/middleware/request-id.ts
  backend-ts/src/lib/storage/client.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/middleware.ts
  backend-ts/tests/api/chat-streamed.test.ts
  backend-ts/tests/api/health-and-settings.test.ts
  backend-ts/tests/api/question-suggestions.test.ts
  backend-ts/tests/api/storage.test.ts
  backend-ts/tests/mcp/client.test.ts
  backend-ts/tests/middleware/cors.test.ts
  backend-ts/tests/middleware/integration.test.ts
  backend-ts/tests/middleware/path-prefix.test.ts
  backend-ts/tests/middleware/request-id.test.ts
  backend-ts/vitest.config.ts
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  docker-compose.yml
Due: mypy, prettier, eslint, type-check

Fix patch operations
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Cast json to ts json
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

fix the multiple text messages before parrallel tool call
  backend/src/neuroagent/app/app_utils.py
Due: mypy

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
Due: mypy

fix tests
  backend/tests/app/routers/test_threads.py
Due: none

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

first working POC
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/rules/2_ai-message-formatting.mdc
  backend/src/neuroagent/tools/run_python_tool.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
Due: mypy, prettier, eslint, type-check

Fix DB mesage loading (duplicate text part with parallel tool calls) (#672)
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_measurementannotation_getall.py
  backend/src/neuroagent/tools/entitycore_simulation_getall.py
  backend/src/neuroagent/tools/entitycore_simulationcampaign_getall.py
  backend/src/neuroagent/tools/entitycore_simulationgeneration_getall.py
  backend/src/neuroagent/tools/entitycore_simulationresult_getall.py
  backend/tests/app/routers/test_threads.py
Due: mypy

Add obi expert updates
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Update docs
  docs/index.md
  docs/tool_selection.md
  docs/tools.md
  mkdocs.yml
Due: none

Dashes instead of underscores
  docs/tool-selection.md
  mkdocs.yml
Due: none

Stick to more programatic tag casing
  docs/index.md
  docs/tool-selection.md
  docs/tools.md
  mkdocs.yml
Due: none

fix hydration weird issue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/memoized-markdown.tsx
Due: prettier, eslint, type-check

Use optional dependnecies instead of dependency groups
  backend/pyproject.toml
  backend/uv.lock
Due: none

Fix references in index.md
  docs/index.md
Due: none

Change autogen urls
  .github/workflows/autogen.yml
  backend/uv.lock
Due: none

Update types
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Already prepare for the schema change
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Initialize documentation (#669)
  .github/workflows/autogen.yml
  .github/workflows/check-docs.yml
  backend/pyproject.toml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/src/neuroagent/tools/obi_expert.py
  backend/uv.lock
  docs/index.md
  docs/tool-selection.md
  docs/tools.md
  mkdocs.yml
Due: mypy

fix hydration error whem image fail to fetch
  frontend/src/components/chat/plot-in-chat.tsx
Due: prettier, eslint, type-check

backup logic implementation
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/lib/utils.ts
Due: prettier, eslint, type-check

fix CI and run DeepEval
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

last small fixes
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/image.tsx
  frontend/src/components/plots/plotly.tsx
Due: prettier, eslint, type-check

fix image sizes
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/image.tsx
Due: prettier, eslint, type-check

release v0.14.3
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

dummy for deepeval
  backend/eval/output/detailed.json
Due: none

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
