Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Changelog
  CHANGELOG.md
Due: none

Deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
Due: none

Do not paste json to chat
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Convert output to ts
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Small fix
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

State sharing (#507)
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/chat/collapsible-sidebar-json.tsx
  frontend/src/lib/obione.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Deepeval + release
  CHANGELOG.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
Due: mypy

Add deepeval test case
  backend/eval/input/obione_generatesimulationsconfig/expected_output.md
  backend/eval/input/obione_generatesimulationsconfig/expected_tool_calls.json
  backend/eval/input/obione_generatesimulationsconfig/params.json
  backend/eval/input/obione_generatesimulationsconfig/user.md
Due: none

Rerun deepeval
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Add PredefinedNodeSet in simulation config tool (#518)
  CHANGELOG.md
  backend/eval/input/obione_generatesimulationsconfig/expected_output.md
  backend/eval/input/obione_generatesimulationsconfig/expected_tool_calls.json
  backend/eval/input/obione_generatesimulationsconfig/params.json
  backend/eval/input/obione_generatesimulationsconfig/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/__init__.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Implementing CLI filtering and dry runs
  backend/src/neuroagent/scripts/evaluate_agent.py
Due: mypy

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Update changelog
  CHANGELOG.md
Due: none

Add credits
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
Due: mypy

Add deepeval
  backend/eval/input/credits_pricing_overview/expected_output.md
  backend/eval/input/credits_pricing_overview/expected_tool_calls.json
  backend/eval/input/credits_pricing_overview/params.json
  backend/eval/input/credits_pricing_overview/user.md
  backend/eval/input/credits_volume_discounts/expected_output.md
  backend/eval/input/credits_volume_discounts/expected_tool_calls.json
  backend/eval/input/credits_volume_discounts/params.json
  backend/eval/input/credits_volume_discounts/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/obi_expert.py
Due: mypy

Credits in obi-expert (#702)
  CHANGELOG.md
  backend/eval/input/credits_pricing_overview/expected_output.md
  backend/eval/input/credits_pricing_overview/expected_tool_calls.json
  backend/eval/input/credits_pricing_overview/params.json
  backend/eval/input/credits_pricing_overview/user.md
  backend/eval/input/credits_volume_discounts/expected_output.md
  backend/eval/input/credits_volume_discounts/expected_tool_calls.json
  backend/eval/input/credits_volume_discounts/params.json
  backend/eval/input/credits_volume_discounts/user.md
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obi_expert.py
  backend/tests/tools/test_obi_expert.py
Due: mypy

Tweak sim config tool and remove context analyzer
  CHANGELOG.md
  backend/eval/input/platform_viewing/expected_tool_calls.json
  backend/eval/output/detailed.json
  backend/eval/output/scores.json
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/routers/qa.py
  backend/src/neuroagent/app/schemas.py
  backend/src/neuroagent/rules/5_platform-overview.mdc
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/context_analyzer_tool.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/tests/app/test_app_utils.py
  backend/tests/app/test_dependencies.py
  backend/tests/tools/test_context_analyzer_tool.py
  frontend/src/components/chat/chat-message-tool.tsx
  frontend/src/components/chat/chat-page.tsx
Due: mypy, prettier, eslint, type-check

Fix tests
  backend/tests/app/test_dependencies.py
Due: none

Add request id in sim config url
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Start standalone tools
  backend-ts/src/lib/tools/__tests__/standalone-tool-registration.test.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/tools/standalone/__tests__/circuit-population-analysis.test.ts
  backend-ts/src/lib/tools/standalone/__tests__/literature-search.test.ts
  backend-ts/src/lib/tools/standalone/__tests__/obi-expert.test.ts
  backend-ts/src/lib/tools/standalone/__tests__/read-paper.test.ts
  backend-ts/src/lib/tools/standalone/__tests__/web-search.test.ts
  backend-ts/src/lib/tools/standalone/circuit-population-analysis.ts
  backend-ts/src/lib/tools/standalone/literature-search.ts
  backend-ts/src/lib/tools/standalone/obi-expert.ts
  backend-ts/src/lib/tools/standalone/read-paper.ts
  backend-ts/src/lib/tools/standalone/web-search.ts
Due: prettier, eslint, type-check

Tweak url parsing
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

better fallback link
  frontend/src/components/memoized-markdown.tsx
Due: prettier, eslint, type-check

revert to simple Regex logic
  frontend/src/app/app/storage/[storageId]/route.ts
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/plotly.tsx
Due: prettier, eslint, type-check

autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

better logic to fail fetch early
  frontend/src/components/chat/plot-in-chat.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/hooks/get-presigned.ts
Due: prettier, eslint, type-check

autogen
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Fix tests
  backend-ts/package-lock.json
  backend-ts/package.json
  backend-ts/src/app/api/qa/chat_streamed/[thread_id]/route.ts
  backend-ts/src/app/api/threads/[thread_id]/messages/route.ts
  backend-ts/src/lib/storage/save-to-storage.ts
  backend-ts/src/lib/tools/__tests__/autogenerated-schema-usage.test.ts
  backend-ts/src/lib/tools/__tests__/tool-integration.test.ts
  backend-ts/src/lib/tools/__tests__/tool-output-consistency.test.ts
  backend-ts/src/lib/tools/__tests__/tool-schema-compatibility.test.ts
  backend-ts/src/lib/tools/entitycore/__tests__/simulation-execution-tools.test.ts
  backend-ts/src/lib/tools/entitycore/simulation-execution-getall.ts
  backend-ts/src/lib/tools/entitycore/simulation-execution-getone.ts
  backend-ts/src/lib/tools/index.ts
  backend-ts/src/lib/tools/obione/__tests__/circuit-metric-tools.test.ts
  backend-ts/src/lib/tools/obione/__tests__/circuit-nodesets-tools.test.ts
  backend-ts/src/lib/tools/obione/__tests__/circuit-population-tools.test.ts
  backend-ts/src/lib/tools/obione/__tests__/ephys-metrics-tools.test.ts
  backend-ts/src/lib/tools/obione/__tests__/generate-simulations-config-tools.test.ts
  backend-ts/src/lib/tools/obione/__tests__/morphometrics-tools.test.ts
  backend-ts/src/lib/tools/standalone/__tests__/obi-expert.test.ts
  backend-ts/src/lib/tools/standalone/obi-expert.ts
  backend-ts/src/mcp.json
  backend-ts/tests/api/storage.test.ts
  backend-ts/tests/api/tool-selection.test.ts
  backend-ts/tests/config/settings.test.ts
  backend-ts/tests/tools/tool-metadata.property.test.ts
Due: prettier, eslint, type-check

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
