Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, master, --branch, main]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [-c, backend/pyproject.toml, -qr]
        files: ^backend/src/
        additional_dependencies: ["bandit[toml]"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        files: ^backend/src/
        language: system
        entry: bash -c 'cd backend && mypy src/'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

  - repo: local
    hooks:
      - id: eslint
        files: \.[jt]sx?$
        name: eslint
        language: system
        entry: bash -c 'cd frontend && exec npm run lint'

  - repo: local
    hooks:
      - id: type-check
        name: type-check
        files: \.[jt]sx?$
        language: system
        entry: bash -c 'cd frontend && exec npm run type-check'

  # - repo: local
  #   hooks:
  #     - id: build
  #       name: build
  #       files: \.[jt]sx?$
  #       language: system
  #       entry: bash -c 'cd frontend && exec npm run build'

Small fixes
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/bluenaas_memodel_getall.py
  backend/src/neuroagent/tools/literature_search_tool.py
  backend/src/neuroagent/tools/morpho_metrics_tool.py
Due: mypy

Fix tests
  CHANGELOG.md
  backend/tests/tools/test_literature_search_tool.py
  backend/tests/tools/test_morpho_metrics_tool.py
Due: none

messages are fixed I hope
  frontend/src/components/chat/chat-input-loading.tsx
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/hooks/get-message-page.ts
  frontend/src/hooks/get-thread-page.ts
Due: prettier, eslint, type-check

fix thread delete
  frontend/src/components/sidebar/thread-list.tsx
Due: prettier, eslint, type-check

Add init
  backend/pyproject.toml
  backend/src/neuroagent/tools/autogenerated_types/bluenaas/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/entitycore/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/literature/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/obione/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/templates/__init__.py
Due: mypy

Try again
  .github/workflows/ci.yaml
  backend/pyproject.toml
Due: none

Try again
  .github/workflows/ci.yaml
  backend/pyproject.toml
  backend/src/neuroagent/tools/autogenerated_types/obione/__init__.py
  backend/src/neuroagent/tools/autogenerated_types/templates/__init__.py
Due: mypy

Update mypy
  .github/workflows/ci.yaml
  backend/pyproject.toml
Due: none

Try again
  .github/workflows/ci.yaml
Due: none

Try
  .github/workflows/ci.yaml
Due: none

remove config
  .github/workflows/ci.yaml
Due: none

fix small pages bug
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
Due: prettier, eslint, type-check

Add client basics
  backend/src/neuroagent/mcp.py
Due: mypy

Add dep and settings
  backend/pyproject.toml
  backend/src/neuroagent/app/config.py
Due: mypy

RIZ
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-list-client.tsx
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Launch mcp at application startup
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.py
Due: mypy

Store mcp client in the app.state
  backend/src/neuroagent/app/main.py
Due: mypy

Expose tools in the dependency
  backend/pyproject.toml
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.py
Due: mypy

Still not working but better
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.py
Due: mypy

tou salad
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/edit-thread-dialog.tsx
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Implement healthchecking
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.py
Due: mypy

remove useLayoutEffect and delete pending now greys out everything on all pages
  frontend/src/components/chat/chat-page.tsx
  frontend/src/components/sidebar/thread-card-sidebar.tsx
Due: prettier, eslint, type-check

Make things work
  backend/src/neuroagent/mcp.py
Due: mypy

Reorganize
  backend/src/neuroagent/mcp.py
Due: mypy

Read config from envvar
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.py
Due: mypy

Remove unused
  backend/src/neuroagent/app/dependencies.py
Due: mypy

Fix ruff
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.py
Due: mypy

Fix mypy
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/mcp.py
Due: mypy

Fix ruff
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/mcp.py
Due: mypy

fix tests
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/resolve_etypes_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/tests/app/test_config.py
  backend/tests/data/entitycore_morphologies_thalamus.json
  backend/tests/tools/test_get_morpho_tool.py
  backend/tests/tools/test_resolve_brain_region_tool.py
  backend/tests/tools/test_resolve_etype_tool.py
Due: mypy

fix CI
  .github/workflows/ci.yaml
Due: none

fix last test
  backend/tests/tools/test_resolve_mtype_tool.py
Due: none

remove useless class
  backend/src/neuroagent/tools/get_morpho_tool.py
Due: mypy

Temp
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/app/main.py
  backend/src/neuroagent/schemas.py
  backend/src/neuroagent/scripts/embed_hierarchies.py
Due: mypy

Get morpho tool with entitycore. (#294)
  .github/workflows/ci.yaml
  CHANGELOG.md
  backend/.env.example
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/__init__.py
  backend/src/neuroagent/tools/electrophys_tool.py
  backend/src/neuroagent/tools/get_morpho_tool.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
  backend/src/neuroagent/tools/resolve_entities_tool.py
  backend/src/neuroagent/tools/resolve_mtypes_tool.py
  backend/src/neuroagent/tools/traces_tool.py
  backend/tests/app/test_config.py
  backend/tests/app/test_dependencies.py
  backend/tests/data/entitycore_brain_region.json
  backend/tests/data/entitycore_morphologies_thalamus.json
  backend/tests/data/entitycore_mtype.json
  backend/tests/tools/test_get_morpho_tool.py
  backend/tests/tools/test_resolve_brain_region_tool.py
  backend/tests/tools/test_resolve_entities_tool.py
  backend/tests/tools/test_resolve_mtype_tool.py
Due: mypy

Write resolving tool
  backend/pyproject.toml
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/tools/resolve_brain_region_tool.py
Due: mypy

reset message page size to 25
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

fix first message
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/types.ts
Due: prettier, eslint, type-check

Working streaming chat. HIL still not working.
  backend/src/neuroagent/app/dependencies.py
  frontend/src/components/chat/chat-message-ai.tsx
  frontend/src/components/chat/chat-messages-inside-thread.tsx
Due: mypy, prettier, eslint, type-check

small fixes, HIL will be done after
  backend/src/neuroagent/tools/weather.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
Due: mypy, prettier, eslint, type-check
