Repository openbraininstitute/neuroagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint, type-check

mypy:
  name: mypy
  language: system
  entry: bash -c 'cd backend && mypy src/'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && exec npx prettier --write "**/*.{js,jsx,ts,tsx,json,md}"'

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && exec npm run lint'

type-check:
  name: type-check
  language: system
  entry: bash -c 'cd frontend && exec npm run type-check'

Update obi-one morphometrics tool
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
Due: mypy

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
Due: mypy

Fix tests
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/tests/tools/test_obione_morphometrics_getone.py
Due: mypy

Make the agent use scientific name for species + add assets back in electrical recordings and reconstruction morphologies
  CHANGELOG.md
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

Rerun autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Simplify the rule
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

Small tweak
  backend/src/neuroagent/rules/entitycore-tools.mdc
Due: mypy

Update obi-one morphometrics tool (#487)
  CHANGELOG.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/tests/tools/test_obione_morphometrics_getone.py
Due: mypy

Make the agent use scientific name for species + add assets back in e… (#488)
  CHANGELOG.md
  backend/src/neuroagent/rules/entitycore-tools.mdc
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/entitycore_electricalcellrecording_getall.py
  backend/src/neuroagent/tools/entitycore_reconstructionmorphology_getall.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
Due: mypy

Temp commit
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Make the tool OBI-One compliant
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Search functionality (keyword search) (#471)
  CHANGELOG.md
  backend/alembic/versions/cd5a73ea91db_add_ts_vector.py
  backend/src/neuroagent/app/database/sql_schemas.py
  backend/src/neuroagent/app/routers/threads.py
  backend/src/neuroagent/app/schemas.py
  frontend/src/components/sidebar/search-popover.tsx
  frontend/src/components/sidebar/sidebar.tsx
  frontend/src/lib/fetcher.ts
Due: mypy, prettier, eslint, type-check

Remove circuit from json schema and remove timestamp diff check in autogen CI
  .github/workflows/autogen.yml
  backend/src/neuroagent/README.md
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Update autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Changelog
  CHANGELOG.md
Due: none

Please mypy
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Update autogen to add strict nullable
  .github/workflows/autogen.yml
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
Due: mypy

Update readme
  backend/src/neuroagent/README.md
Due: mypy

Small modifications
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Log tool inputs in agent routine
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/now.py
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/src/neuroagent/tools/weather.py
Due: mypy

Remove BaseMetadata reference
  backend/src/neuroagent/agent_routine.py
Due: mypy

Log tool inputs in agent routine (#493)
  CHANGELOG.md
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/now.py
  backend/src/neuroagent/tools/obione_ephysmetrics_getone.py
  backend/src/neuroagent/tools/obione_morphometrics_getone.py
  backend/src/neuroagent/tools/weather.py
Due: mypy

Revert to using original class with better model
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

switch to gpt-5-mini
  CHANGELOG.md
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  backend/tests/conftest.py
  backend/tests/mock_client.py
  backend/tests/test_agent_routine.py
  frontend/src/lib/store.ts
Due: mypy, prettier, eslint, type-check

Small fix
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

Sim config iteration 2 (#491)
  .github/workflows/autogen.yml
  CHANGELOG.md
  backend/src/neuroagent/README.md
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/obione.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

first test
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/rules/tool-calling.mdc
  backend/src/neuroagent/tools/generate_plot.py
  backend/src/neuroagent/tools/thumbnailgen_electricalcellrecording_getone.py
  backend/src/neuroagent/tools/thumbnailgen_morphology_getone.py
  frontend/src/components/chat/chat-messages-inside-thread.tsx
  frontend/src/components/memoized-markdown.tsx
  frontend/src/components/plots/image.tsx
Due: mypy, prettier, eslint, type-check

reduce reasoning effort
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

fix CI
  backend/tests/test_agent_routine.py
Due: none

small rule change
  backend/src/neuroagent/rules/ai-message-formatting.mdc
Due: mypy

Prepare for release
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

Prepare for release (#497)
  CHANGELOG.md
  backend/src/neuroagent/__init__.py
Due: mypy

update uv lock
  backend/pyproject.toml
  backend/uv.lock
Due: none

adress comments
  backend/src/neuroagent/agent_routine.py
  backend/src/neuroagent/app/app_utils.py
  backend/src/neuroagent/app/config.py
  backend/src/neuroagent/rules/ai-message-formatting.mdc
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
Due: mypy

fix test
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: none

fix tests
  backend/tests/conftest.py
  backend/tests/test_agent_routine.py
Due: none

fix autogen
  backend/src/neuroagent/tools/autogenerated_types/entitycore.py
  backend/src/neuroagent/tools/autogenerated_types/thumbnail_generation.py
Due: mypy

Make backend modifications + start frontend
  CHANGELOG.md
  backend/src/neuroagent/app/dependencies.py
  backend/src/neuroagent/new_types.py
  backend/src/neuroagent/tools/obione_generatesimulationsconfig.py
  frontend/src/components/chat/chat-page.tsx
  frontend/src/lib/store.ts
  frontend/src/lib/types.ts
Due: mypy, prettier, eslint, type-check

Path conditions:
  mypy: any of: ^backend/src/
  prettier: any of: \.[jt]sx?$
  eslint: any of: \.[jt]sx?$
  type-check: any of: \.[jt]sx?$
